[2017-10-12 19:19] j-haj commented on #329
One simple idea I had for this is computing the size of a vector (square root of the sum of the squared components). It's a very simple map-reduce operation, although I could see the argument that it is too mathematical/scientific for a cookbook recipe.

Another idea is to do what seems like the canonical map-reduce example (at least in the Hadoop setting) of word count. We have a vector of senten

[2017-10-12 19:20] budziq commented on #330
Lets just show the general idea. Making the example data meaningfully parallelizable  is out of scope for such example.

find_last / find_first impose additional restrictions on the iterable and I'd say that their use is more specialized. I'd need a solid and specific use case here to add these.

[2017-10-12 19:22] budziq commented on #329
Both seam fine to me :+1:. Are you interested in writing this example?

[2017-10-12 19:25] j-haj commented on #329
I'd be happy to take this on as well if you don't mind me working on two in parallel (no pun intended)

[2017-10-12 19:29] budziq commented on #329
None taken 😸

[2017-10-12 19:50] budziq commented on #328
Thanks! I think that we'll need to decide first if cookbook is a good place for such topic. Or if it is even possible to provide ffi related snippets without all the narrative (ie. avoid making it a loaded footgun).

[2017-10-12 20:09] fitzgen commented on #328
Agreed that a comprehensive creating-a-safe-wrapper-around-FFI example might be a bit long.

It would be nice if we identified something that was small enough to fit though.

Also exposing an API to another language vs using and wrapping a C/C++ library are probably two different cook book entries. The tasks both involve FFI but are different in all other ways.

[2017-10-12 20:15] #295 closed

[2017-10-12 20:39] Michael-F-Bryan commented on #328
Hmm, is there anything special the readme/getting started guide for [cc], [pyo3], or [bindgen] couldn't show you, yet would still fit into a cookbook recipe?

[cc]: https://crates.io/crates/cc
[pyo3]: https://crates.io/crates/pyo3
[bindgen]: https://crates.io/crates/bindgen

[2017-10-12 21:23] budziq commented on #328
When discussing this with @aturon, he came up with ideas of cookbook being companion to RBE and a kind of a signpost to vetted crates ecosystem giving the sense extended standard library. So in this regard a small measure of duplication (as long as we are solving specific real life problems) would still be acceptable.

[2017-10-12 22:15] budziq opened #332 "modernize examples for rust 1.21 (`Iterator::for_each`)"
Our examples have a lot of for loops that operate on chained iterators just to consume the values for their side effects (typically a single `println!`).

As the [`Iterator::for_each`](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.for_each) has been stabilized in rust 1.21 we can make the examples a little more idiomatic. Lets use `for_each` instead of for loop when we have chained

[2017-10-13 00:47] iamdanfox commented on #225
Trying to think of non-file system traversing examples here... what about overlaying some text onto an animated gif? Each frame in the gif format could be processed completely independent and the piston.rs/image/gif crate can already encode/decode nicely.

[2017-10-13 01:29] iamdanfox commented on #212
What about reading a CSV file and then transforming one column somehow? For example maybe the input data could be “url,time,browser” and then you could split up url into scheme, host, port, path. This might raise interesting error handling cases where a URL fails to parse

[2017-10-13 01:34] budziq commented on #302
I find myself slightly daunted when trying to put my thoughts into a well structured form like in the dropbox paper. So I'll try to make some (possibly incremental) braindumps here and we will se where we get from there. So here we go :)

## What makes a good cookbook entry?

This is highly subjective but for me the key qualities would be:
### Code samples
- should compile without warnings (and id

[2017-10-13 01:59] budziq commented on #304
@aturon I've dumped some more or less useful thought on both issues (this an #302). Sorry It took so long. As it turns out I'm daunted by both well formatted text documents as well as nearly empty ones ;)

[2017-10-13 08:04] sb89 commented on #332
I can have a look at this.

[2017-10-14 02:26] j-haj commented on #330
I have a very simple example [here](https://github.com/j-haj/rayon-search/blob/master/rayon-search/src/main.rs). Everything is pretty straight forward except for the double reference part. Is it worth explaining why there is a `&&x` in the final example?

[2017-10-14 02:34] j-haj commented on #329
I have a toy working example [here](https://github.com/j-haj/rayon-map-reduce/blob/master/map-reduce/src/main.rs). Similar to the other `rayon` example, this is a pretty simple example.

[2017-10-14 19:14] budziq commented on #330
Nice! Actually rayon shares this quirk with standard [sequential find](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.find) from std we can always link to it in the example (it's already explained there but we'll see how the textual description unfolds :) )

In terms of the actual example we might go wild here and give some more interesting predicate than just direct equality.
Hmm I

[2017-10-14 19:27] j-haj commented on #330
Sounds good! I will add a more complex predicate to the example and submit a PR sometime today or tomorrow hopefully

[2017-10-14 20:13] budziq commented on #329
Cool! But this example could be replaced by a call to rayons
[`par_split_whitespace`](https://docs.rs/rayon/0.8.2/rayon/str/trait.ParallelString.html#method.par_split_whitespace) and
 [`count`](https://docs.rs/rayon/*/rayon/iter/trait.ParallelIterator.html#method.count) without collecting to a vector.
[code]

Lets see if we can come up with some example that is not implementable more cleanly via o

[2017-10-14 20:31] CJStadler commented on #331
I'm interested in working on this. Should this be one or two examples? Do we want something more complicated than "check whether all the elements in this array are even"? These functions are so basic that it feels like adding additional complexity might just obscure their use without adding value.

[2017-10-14 20:38] budziq commented on #331
I would go with the simplest approach possible (also mentioning the sequential versions from std in the description). We can showcase both `all` and `any` in the same snippet.

[2017-10-16 12:13] j-haj commented on #330
@budziq I am not sure how wild you were thinking we would get here so I added two different approaches to the example I linked earlier:

1. I added a slightly more complex search predicate (find an even number greater than 6) - a little more complex than straight equality, but not materially

2. Created a `Person` struct that implements the `PartialEq` trait, and search a `Vec<Person>` for a an en

[2017-10-16 13:12] budziq commented on #330
Both approaches seam fine and relatively minimal (We ca always hide the Vec<Person> creation) and I'm not sure we need the `PartialEq`. I'll let you chose which one you'd put into the cookbook

[2017-10-17 21:10] #332 closed

[2017-10-18 14:15] steveeJ commented on #104
I'm interested in working on this and would like to claim it. Which platforms should be supported?

[2017-10-18 17:26] budziq commented on #104
Hi @steveeJ, thanks for taking an interest.

Its supposed to be cross platforms so at least all of rust [tier 1 platforms](https://forge.rust-lang.org/platform-support.html)

Please note that at this moment the example is not well defined (as not clear how should it be implemented to be both cross platform and idiomatic) so please post the implementation idea before starting to work on it so you'l

[2017-10-19 07:33] steveeJ commented on #104
@budziq

I wonder why that was left out. Maybe it should just be added so this example becomes possible.

Would you mind to elaborate on this statement?

[2017-10-19 11:27] budziq commented on #104
Well we can always ask on their bugtracker ;) Possibly the semantics differ between windows and unix enough to make providing common and ergonomic api a pain.

On some systems trying to do ipc on standard memory mapped file would be no better than doing ipc on normal file read/write operations to the filesystem, on the other hand boost interprocess fallsback to [via mapped fs files](http://www.boo

[2017-10-20 17:00] j-haj commented on #329
Sorry this has slowed down a bit - it has been a busy week. I will give this some thought over the weekend!

[2017-10-20 19:13] budziq commented on #329
no worries!

[2017-10-22 21:47] hegza commented on #324
I've done something like what you're describing here @budziq / @j-haj, for both formatting and clocking execution time. Could be cool trying to make them as idiomatic as I can. I believe I'll be able to get back to you with a PR about the three first points later down the week.

[2017-10-22 21:57] j-haj commented on #324
@hegza Sounds great - can't wait to see the examples!

One thing I noticed the other day is that chrono seems to state that it is not really best used for tracking elapsed time to execute a segment of code:

I'm wondering if maybe the first item in our list should be removed. @budziq what are your thoughts?

[2017-10-23 11:12] j-haj commented on #329
@budziq I have a more interesting example [here](https://github.com/j-haj/rayon-map-reduce/blob/master/map-reduce/src/main.rs). Admittedly it is still a bit contrived since `Person` isn't really all that useful, but I think the idea is very applicable and the example is simple.

One thing I should point out is that I'm intentionally using `reduce()` over `sum()` here to illustrate the usage of `re

[2017-10-23 12:33] hegza commented on #324
Seems so. I would agree with just skipping that first one, since it would be hardly idiomatic to do something that the crate is not supposed to do.

Another question I had in mind was that if the chrono examples should be assigned under some one of the current top-level topics, or if it should be a new topic. It seems that the topics are not trying to be library-by-library, but rather something mo

[2017-10-23 13:12] j-haj commented on #324
Excellent question. Probably something for @budziq to chime in on but my intuition is that it makes the most sense to add this to basics section. It may not be super important as it sounds like we may reorganize things in the future.

[2017-10-23 15:10] abitrolly commented on #209
It is not possible to change existing license without asking all contributors if they agree to that. We can also assume that they didn't care in the first place..

[2017-10-23 15:16] budziq commented on #209
We are planning to ask all contributors (at least above typo fix ones) for their consent. At the moment we are blocked with this mostly due to lack of time.

[2017-10-23 15:53] abitrolly opened #339 "Add "Process child process output continuously" example"
Please provide an example using std only that shows how to process child process output (stdout) continuously without waiting for the child to finish.

cc #266

Original request below:

--------

In https://rust-lang-nursery.github.io/rust-cookbook/basics.html#ex-parse-subprocess-output it looks like the example waits for subprocess to finish before processing output. How to process program output

[2017-10-23 19:14] ludwigpacifici opened #340 "Successful recipe runs should not discard `stderr`"
Some recipes can be run and will exit gracefully. However, when some outputs are printed on `stderr`, they will not be display. One example found with #325. It [shows on purpose a error backtrace](https://rust-lang-nursery.github.io/rust-cookbook/basics.html#ex-error-chain-backtrace) on `stderr` and it is not displayed when "run" button is clicked. If the main return a non-null value, then it will

[2017-10-23 19:53] ludwigpacifici commented on #215
I was thinking to create a specific error (i.e. impl `Error` trait) for the recipe. Then do a bad GET request via `reqwest` and use chain_err to append the recipe error on top of the `reqwest` error.

Is this basic idea good enough to highlight this issue?

[2017-10-24 05:57] budziq commented on #215
Thanks for taking this on!

The idea is to get a semi complex error scenario ie. a single function returning 2-3 distinct error types and after it executes just [match on them](https://rust-lang-nursery.github.io/error-chain/error_chain/index.html#matching-errors).

There should be no need for creating any error types "by hand" here (I'd leave such information to RBE and TRPL).

[2017-10-24 07:04] budziq commented on #324
@j-haj & @hegza

Yep this item is a viable example idea but would be `std` only :+1: - I'll add it to misc/std tracking issue.

Aaron is working on an editorial pass over the cookbook examples including section reorganization. For now lets add it to basics as @j-haj suggests.

[2017-10-24 07:12] budziq opened #341 "Add "Measure elapsed time" example"
Use  `time::Instant` to measure execution time between two code sections.

cc #266

[2017-10-24 07:41] budziq commented on #330
merged

[2017-10-24 07:41] #330 closed

[2017-10-24 08:14] budziq commented on #329
Nice @j-haj !

Few suggestions:
- Id change the age to some unsigned type
- f64 might be an overkill. How about just f32?
- I'd suggest to use `sum` anyway and maybe show how it can be used with `reduce` too
- the division part of the code is quite hard to read. I'd split it into two distinct f32 variables.

[2017-10-24 08:26] ludwigpacifici commented on #215
Ah thanks for the clarifications! I'll think about another idea.

[2017-10-24 08:32] ludwigpacifici commented on #216
Can be close. It will make the always expanding issue list slightly smaller :-)

[2017-10-24 10:25] budziq commented on #216
Right thanks! Please add "fixes #216" to the PR's in the future so the connected issue will autoclose :)

[2017-10-24 10:25] #216 closed

[2017-10-24 10:38] budziq commented on #215
This is basically a subset of your previous example but with match at the end instead of a backtrace and with no requirement about number of functions in the error stack. So `run` with 2-3 possible errors will suffice but I would suggest to use single user defined errors (within the `quick_main!`) and 1-2 foreign links.

[2017-10-24 11:17] budziq commented on #339
Thanks @abitrolly !

The key ingredients here are to use `Command::new("long_running_process").stdout(Stdio::piped())`
and passing the `child.stdout` into the `BufReader::new`.
This should be quite straightforward, would you like to submit a PR for it? I'll help you along the way :)

[2017-10-24 14:12] Ophirr33 commented on #209
Is this the right place to give consent? If so, my consent is given.

[2017-10-24 14:12] dhardy commented on #209
[Link to CC0](https://creativecommons.org/choose/zero/)

[2017-10-24 14:12] j-haj commented on #209
I agree

[2017-10-24 14:25] yandexx commented on #209
I agree.

[2017-10-24 14:30] charlesetc commented on #209
I agree!

[2017-10-24 14:32] Michael-F-Bryan commented on #209
I consent

[2017-10-24 14:40] budziq commented on #209
darn api pagination I'll add the other half of contributors later today 😞

[2017-10-24 14:42] bjnyfv commented on #209
Fine with me!

[2017-10-24 15:05] luisbg commented on #209
Sounds great to me 😄

[2017-10-24 15:11] rap2hpoutre commented on #209
I consent

[2017-10-24 15:17] Piripant commented on #209
This is great, I am happy to consent!

[2017-10-24 15:19] AndyGauge commented on #209
I give permission for this license change.  Additionally I give unlimited consent to future licensing changes as the maintainers see fit.

[2017-10-24 15:28] ludwigpacifici commented on #209
I agree

[2017-10-24 15:32] mikeastock commented on #209
No problem from me!

[2017-10-24 15:45] bobbo commented on #209
Fine with me

[2017-10-24 16:50] gsquire commented on #209
You have my consent.

[2017-10-24 17:48] bostelk commented on #209
I agree.

[2017-10-24 18:11] jmcomets commented on #209
No problem on my side!

[2017-10-24 18:22] sb89 commented on #209
Fine with me.

[2017-10-24 18:24] pepyakin commented on #209
I agree 👍

[2017-10-24 18:27] mykalu commented on #209
Sounds great!

[2017-10-24 18:30] jbolila commented on #209
I agree.

[2017-10-24 18:31] V1shvesh commented on #209
I got no problems!

[2017-10-24 18:38] portal-chan commented on #209
sounds good to me

[2017-10-24 18:52] nocduro commented on #209
Sounds good 👍

[2017-10-24 18:55] lucasem commented on #209
👍

[2017-10-24 18:57] crypto-universe commented on #209
Sure, no problem :)

[2017-10-24 18:59] Wilfred commented on #209
Fine by me.

[2017-10-24 19:14] matklad commented on #209
I agree.

👍

[2017-10-24 20:14] dhharris commented on #209
Sure

[2017-10-24 21:00] lilianmoraru commented on #209
👍

[2017-10-24 21:12] cetra3 commented on #209
👍

[2017-10-24 21:42] Phaiax commented on #209
I agree.

[2017-10-24 23:05] glennsl commented on #209
I consent

[2017-10-24 23:06] jeanm commented on #209
Sure

[2017-10-24 23:36] AlexEne commented on #341
I gave this a go here: https://github.com/rust-lang-nursery/rust-cookbook/pull/343

[2017-10-25 01:12] luser commented on #209
I consent. (I love CC0!)

[2017-10-25 01:50] FaultyRAM commented on #209
👍 I agree

[2017-10-25 02:49] alisha17 commented on #209
I agree!

[2017-10-25 04:15] jonashagstedt commented on #209
I agree

[2017-10-25 11:21] rofrol commented on #209
I agree

[2017-10-25 14:37] derekdreery commented on #209
I consent

[2017-10-26 06:37] #341 closed

[2017-10-26 08:30] AlexEne commented on #209
I agree.

[2017-10-26 09:25] ludwigpacifici commented on #339
One example idea for this one:

Spawn the `ping localhost` process and display live statistics like the average/minimum/maximum round trip.

If you are happy with this guys, I can give it a go.

[2017-10-26 10:25] budziq commented on #339
@ludwigpacifici I'd actually suggest something a little simpler like filtering `dmesg` or `journalctl` in the realtime.

[2017-10-26 10:55] abitrolly commented on #339
I am interested, but not sure if I could get back to this soon. I didn't stress it much, but for me the key point was not to block main thread while program is waiting for input, so that if there is no input for some time, the program could report it.

[2017-10-26 11:01] budziq opened #345 "Add "Redirect both stdout and stderr of child process to the same file" example"
see https://users.rust-lang.org/t/double-redirection-stdout-stderr/13554

cc #266

[2017-10-26 11:11] budziq commented on #339
I'm personally game with anyone taking this example.

About implementing some kind of a timeout, this would require threading and I'm not sure if it would be a perfect cookbook example but i might be convinced otherwise. Anyhow I'd prefer for this example to be minimal as described (without timeout) and we might see if we can provide a second more involved version with timeout.

[2017-10-26 11:54] ludwigpacifici commented on #339
@abitrolly I let you decide if you want to go for it :-)

Slightly off topic:

Could it be an example to show async recipe with the tokio crate? And more generally, is there a plan to have a section about tokio?

[2017-10-26 11:54] jaroslaw-weber commented on #280
https://github.com/jaroslaw-weber/cookbook_src_generator

I made it working with mdbook.

[2017-10-26 12:00] budziq commented on #339
Sure :)

Yep [there is](https://github.com/rust-lang-nursery/rust-cookbook/issues/267). Unfortunately the async story for rust is not stable yet (and will not be for some time), so we will wait with such examples until async in the language and ecosystem matures a little.

[2017-10-26 18:10] badboy commented on #209
I consent.

[2017-10-27 06:03] #329 closed

[2017-10-27 08:23] budziq opened #346 "add "Transform csv columns" example"
please see [csv cookbook](https://docs.rs/csv/*/csv/cookbook/index.html) if using this resource please remember to attribute original author

example should show how to transform csv columns (ie. split one column into many https://github.com/rust-lang-nursery/rust-cookbook/issues/212#issuecomment-336325467)

cc #212

See [CONTRIBUTING.md](https://github.com/rust-lang-nursery/rust-cookbook/blob/mas

[2017-10-27 08:28] budziq commented on #212
@iamdanfox cool idea! I've added issue based on your idea https://github.com/rust-lang-nursery/rust-cookbook/issues/346 Would you be interested in submitting a PR?

[2017-10-27 08:37] budziq commented on #225
@iamdanfox I'm not sure if this idea is significantly different form the [fractal drawing example](https://brson.github.io/rust-cookbook/concurrency.html#ex-threadpool-fractal) (which is a little artificial in itself). Could you point how this example would be different (except for per frame vs per pixel parallelism) or maybe you have some other cool ideas?

[2017-10-27 09:04] ludwigpacifici commented on #345
I will have plenty of free time in the airport today (and no good idea yet for #215), so I don't mind to write a recipe :-)

I was thinking to use the command `find / -name rust` to write outputs and errors into the same file. Is this command suitable?

[2017-10-27 11:02] budziq commented on #345
@ludwigpacifici
Lets just write the recipe and worry about the exact command later on (it's just an implementation detail).
For now we can assume that "find /" is ok :)

[2017-10-27 15:45] jaemk commented on #209
I consent.

[2017-10-27 19:13] mykalu commented on #227
How about an example of creating a specified-length vector of random numbers out of `rng.gen_iter()`?

[2017-10-27 20:54] hegza commented on #209
I consent!

[2017-10-28 01:49] tyoc213 commented on #209
Oh my.... I normally dont read some mails I just was curiost, didnt remember.

I consent!

[2017-10-28 21:44] danburkert commented on #104
`memmap` is, to date, just a wrapper around `mmap` and the closest corresponding Windows APIs.  We had a PR at one point to add shared memory support, but it never landed.  I'm lukewarm on expanding the scope to include shared memory; unless it can be done in a minimally invasive way I think it would be better in a dedicated crate.

[2017-10-28 22:24] budziq commented on #104
Thanks a lot for your thoughts! I think that it's best to just close this issue as it is not cleanly implementable with current crates ecosystem.

[2017-10-28 22:24] #104 closed

[2017-10-30 10:44] budziq commented on #285
Hi @jeramyRR do you need any help to get started here?

[2017-10-30 10:46] budziq commented on #287
Hi @Pratham567 do you need any help with this example?

[2017-10-30 12:01] budziq commented on #306
I've added a [PR template file](https://github.com/rust-lang-nursery/rust-cookbook/blob/master/.github/PULL_REQUEST_TEMPLATE.md).

- It might require some love so all suggestions welcome!
- Also we should update the CONTRIBUTING.md

[2017-10-30 16:10] #331 closed

[2017-10-30 21:31] CJStadler commented on #209
I consent.

[2017-10-30 23:13] jeramyRR commented on #285
@budziq, yeah I'm a little stuck.  Semver seems pretty simple, but I'm still a Rust noob.  Can you give me an example of the input?

[2017-10-31 07:28] budziq commented on #285
Ok the description might be a little more clear here :)

Basically what I am asking is to take a `Vec` (or an array)  of unparsed version `&str`s, iterate and `map` it to an iterator of `Version`s, filter it against some semver `VersionReq` and pick the latest `Version` (these are sortable so collecting into a `BTreeSet` will do)

To answer your question. Yep rust has both [`HashSet`](https://doc.

[2017-10-31 10:30] #345 closed

[2017-10-31 15:18] dtolnay commented on #209
I give my consent.

[2017-11-02 08:19] sotocodes commented on #209
👍
I consent

[2017-11-02 16:34] cschneid commented on #209
My change #353, and any other changes I make can be (re)licensed as CC0

[2017-11-03 10:40] budziq commented on #324
~~Example showing serialization and deserialization of `DateTime` using [`serde`](https://crates.io/crates/serde)~~ For now such example would require a nondefault crate feature (explicitly enabling "serde" in cargo toml). As we have no clear story yet on howto support cargo features (how do we test these, how do we present cargo.toml and how to handle desynchronization with https://play.rust-lang

[2017-11-03 11:17] budziq opened #356 "Have a link checker in the CI"
We seriously need a link checker with following properties:
- [ ] check if internal links are rendered correctly (it has to [understand markdown](https://crates.io/crates/pulldown-cmark) )
- [ ] understand the mdbook's `{{include links.md}}` syntax
- [ ] **optionally** makes requests to the actual links testing for errors (this would not be used in CI as all the environments of that type forbid ne

[2017-11-03 11:39] ludwigpacifici opened #357 "Add "use of functions from the Datelike and Timelike traits such as month, weekday, hour, minute" example"
With the [`chrono`](https://crates.io/crates/chrono) crate, write a recipe showing the use of [`chrono::Datelike`](https://docs.rs/chrono/*/chrono/trait.Datelike.html) and [`chrono::Timelike`](https://docs.rs/chrono/*/chrono/trait.Timelike.html) traits.

cc #324

See [CONTRIBUTING.md](https://github.com/rust-lang-nursery/rust-cookbook/blob/master/CONTRIBUTING.md) for details.

[2017-11-03 11:41] budziq opened #358 "Have a spellchecker in CI"
Yep we really need it

Possibly steal the ideas from TRPL ( [script](https://github.com/rust-lang/book/blob/master/second-edition/spellcheck.sh) + [dict](https://github.com/rust-lang/book/blob/master/second-edition/dictionary.txt) )

Unfortunately they are APACHE licensed while we plan to be CC0 making the direct port a little tricky

Otherwise we might consider using https://crates.io/crates/ispe

[2017-11-03 11:46] ludwigpacifici opened #359 "Add "checked arithmetic using dates" recipe"
With the [`chrono`](https://crates.io/crates/chrono) crate, write a recipe showing how to do date arithmetic.

cc #324

See [CONTRIBUTING.md](https://github.com/rust-lang-nursery/rust-cookbook/blob/master/CONTRIBUTING.md) for details.

[2017-11-04 06:40] ludwigpacifici commented on #324
Two additional examples:

* For a given timezone, convert a local time to UTC and convert UTC time to local time.
* Convert a formatted date (for example `YYYY-MM-DD:HH:MM:SS`) to a Unix timestamp. Convert it also the other way around.

Do you think these could be interesting recipes? If you are happy with it, I can open dedicated issues for them.

[2017-11-04 12:17] Michael-F-Bryan commented on #328
I've done a lot of work rewriting chunks of my [FFI guide]. It's more of an extended tutorial than a collection of self-contained snippets, but what are your thoughts on pointing to something like that given the complexity and large number of footguns commonly associated with FFI?

[FFI guide]: https://michael-f-bryan.github.io/rust-ffi-guide/

[2017-11-04 14:10] ericho commented on #209
I agree :smile:
(On vacations, sorry for the delay)

[2017-11-04 15:23] budziq commented on #328
@Michael-F-Bryan as you've noted there is a above average density of footguns in ffi problem space and not really yielding to the short self-contained snippets idea.
I think that we first and foremost need a comprehensive resource / guide like your book (I really like it!) and cookbook could contain some clearcut examples (We could steal some of the examples from exercises near the end of your boo

[2017-11-04 15:25] budziq commented on #324
@ludwigpacifici

Very cool ideas! Lets go for it :+1:

[2017-11-04 16:12] #359 closed

[2017-11-04 19:42] branderson commented on #209
I consent

[2017-11-05 07:24] Michael-F-Bryan commented on #328
You raise a good point there. We don't want to start pointing to 3rd party resources (mine included!) which aren't up to the high standards we hold for the rest of the Rust project.

If you feel they're relevant then help yourself. Those examples are probably not what you want to include though because they're all examples of UB or footguns, which are then discussed in the "solutions" section. Del

[2017-11-05 09:05] ludwigpacifici opened #360 "Add "Converting a local time to UTC time and and vice versa" recipe"
With the [`chrono`](https://crates.io/crates/chrono) crate and for a given timezone, write a recipe converting a local time to UTC time and converting a UTC time to local time.

cc #324

See [CONTRIBUTING.md](https://github.com/rust-lang-nursery/rust-cookbook/blob/master/CONTRIBUTING.md) and [Pull request template](https://github.com/rust-lang-nursery/rust-cookbook/blob/master/.github/PULL_REQUEST

[2017-11-05 09:07] ludwigpacifici opened #361 "Add "Converting a formatted date to a Unix timestamp and vice versa" recipe"
With the [`chrono`](https://crates.io/crates/chrono) crate, write a recipe converting a formatted date (for example `YYYY-MM-DD:HH:MM:SS`) to a Unix timestamp. Convert it also the other way around.

cc #324

See [CONTRIBUTING.md](https://github.com/rust-lang-nursery/rust-cookbook/blob/master/CONTRIBUTING.md) and [Pull request template](https://github.com/rust-lang-nursery/rust-cookbook/blob/master

[2017-11-05 09:27] budziq commented on #328
Ha, serves me right! I've just visually skimmed through the last chapter without reading a single word or a code line :F

[2017-11-05 09:30] ludwigpacifici opened #362 "Cookbook ideas for mathematics"
# Mathematics

Here are a bunch of ideas related to mathematics. Some can be implemented with Rust primitives, other can show how to use the [`num`](https://crates.io/crates/num) crate. Maybe some other crates can be used, but I am not too familiar with the math crates. Please, if you have additional ideas  let me know, I can keep this first post up-to-date.

## Basic mathematics functions

1. cos

[2017-11-05 11:01] budziq commented on #362
Thanks a lot @ludwigpacifici! I've just edited your post so that someone will not working on these examples before we have a chance to discuss them :+1:

In general we are thinking about adding whole "Science" chapter to the cookbook (hence issue renaming).

This might be a good moment to stop and think about fundamental aspects of future cookbook work:
- **How basic do we want to get with the exa

[2017-11-05 14:57] ludwigpacifici commented on #362
You're welcome @budziq ! You highlight well thought and broader remarks. My opinion below:

A oneliner recipe does not bring lots of value in the cookbook. I feel, it is for very beginner reader who wish to know how to call a function (which is covered in the first chapters of RBE).

However, they can be surprising! For example, I was not expecting to find "basic mathematics functions" in Rust std

[2017-11-06 11:42] ludwigpacifici commented on #362
Some small comments:

I agree with you. Some problem can look simple (like computing an average)  but the devil is in the details (average of 0 values, average of big values, precision, etc.). I expect to find robust algorithm in a dedicated crate.

👍

Once mature, the book should not require lots of editing. If there is no clear consensus on the crate to use, better postpone it.

[2017-11-07 11:35] budziq commented on #362
Thanks for the feedback @ludwigpacifici !

Here are some thoughts:

I'd say that cookbook is both aimed at solving problems (not necessarily small) as well as providing a set of building blocks for software developers and helping the young ecosystem bootstrap itself. So improving discoverability is certainly one of the project goals!

:+1: Very cool the "compute distance latitude/longitude points"

[2017-11-07 18:37] pduzinki commented on #361
I'd like take this one.

[2017-11-07 21:48] Lapz commented on #360
I'll claim this one

[2017-11-08 00:38] gbip opened #363 "Add "Send a struct through a TCP connection""
With [serde](https://serde.rs/) and `std` create a client that sends a struct to a server.

[2017-11-08 00:50] budziq commented on #363
Hi @gbip thanks. Please submit the example idea as a comment to one of the issues marked "tracking issue" where we can discuss them as described in [contributing.md](https://github.com/rust-lang-nursery/rust-cookbook/blob/master/CONTRIBUTING.md#finding-what-to-contribute). We tend to create separate implementation issues only once the idea was accepted. I'll close this one for now untill we can fl

[2017-11-08 00:50] #363 closed

[2017-11-08 00:52] budziq commented on #363
I'd submit it to [misc ideas](https://github.com/rust-lang-nursery/rust-cookbook/issues/24) section untill we get a proper wishlist for the community to edit.

[2017-11-08 01:00] gbip commented on #266
What do you think about "Send a struct through a TCP connection" ?
In my opinion, using serde with a TcpStream and a TcpListener is something that could be really useful for any kind of server-client application.

[2017-11-08 01:04] gbip commented on #24
What do you think about "Send a struct through a TCP connection" ?
In my opinion, using serde with a TcpStream and a TcpListener is something that could be really useful for any kind of server-client application.

[2017-11-08 07:14] ludwigpacifici commented on #362
Thanks @budziq. I general I think you have a sensible approach.

I saw that yesterday on reddit while I was trying to find a good example for #215 :-) It's to soon for now, but for example [failure](https://github.com/rust-lang-nursery/error-chain) crate can be highlighted in the "going further" section for [error-chain](https://github.com/withoutboats/failure) recipes.

Sum up some ideas:

Is it

[2017-11-09 18:53] Lapz commented on #209
I consent

[2017-11-12 11:33] budziq commented on #24
@gbip Thanks!

While I think that an example showing basic connection handling and data sending/receiving with std would be beneficial, I'm not loving the idea of "sending struct" or using serde here.

Here's why:
- Communication via passing structs is almost never a good idea, one would have to implement some rudimentary protocol.
- Do we frame, length prefix or delimit the messages/data?
- Which

[2017-11-12 21:31] CrockAgile commented on #357
I'll volunteer to add this example

[2017-11-13 14:56] ludwigpacifici commented on #215
I got an example: do a `get` of an [url](
https://www.random.org/integers/?num=1&min=1&max=10&col=1&base=10&format=plain) via `reqwest` crates. Dump the response in a string. Convert the body into an integer.

This example shows 3 foreign links. I can create a user defined error vie `error_chain` in order to request additional parameters (via the command line) to put into the url.

The main looks

[2017-11-13 15:08] budziq commented on #215
Looks good to me :+1:. I'd just try to name the `FooError` to something relevant but sky will not fall on our heads if we don't

[2017-11-13 15:45] ludwigpacifici commented on #215
Of course :-)

[2017-11-13 23:12] #357 closed

[2017-11-13 23:17] CrockAgile commented on #209
I consent 🎆

[2017-11-15 13:59] #360 closed

[2017-11-16 12:43] #361 closed

[2017-11-16 12:48] pduzinki commented on #209
I consent

[2017-11-16 14:14] baishuai commented on #209
I consent

[2017-11-16 16:33] ludwigpacifici commented on #339
Hey @abitrolly, are you still interested?

[2017-11-17 06:01] tshepang commented on #209
I consent

[2017-11-18 15:51] #215 closed

[2017-11-19 05:55] abitrolly commented on #339
@ludwigpacifici unfortunately, there still no time for Rust, and I don't expect things to change any time soon.

[2017-11-19 12:48] budziq commented on #339
ok so the issue is up for grabs again

[2017-11-20 19:11] ludwigpacifici commented on #339
In that case, I can have a look?

[2017-11-20 22:01] budziq commented on #339
sure!

[2017-11-21 00:30] thibaultbarbie commented on #209
I consent

[2017-11-21 15:11] ludwigpacifici opened #369 "Cookbook ideas for "Database" section"
### Some ideas here are not accepted yet, please comment here and wait for separate "example" implementation issues before submitting a PR!

Lets' discuss about new recipes to highlight databases in Rust (databases, ORM, database interactions, etc.).

## Ideas

Here are some general ideas that could be implemented as recipes:

* Connect to a database
* Manipualte tables and tuples
* Run "simple" a

[2017-11-22 10:40] budziq commented on #369
Thanks!

[2017-11-23 16:52] anna-liao commented on #276
@KodrAus @budziq Just wondering, what is the etiquette if I am interested in working on a claimed issues that hasn't had an update in awhile?

[2017-11-23 18:27] ludwigpacifici opened #370 "Consider examples for "failure" crate?"
Recently, [Failure](https://crates.io/crates/failure) was announced (discussions [here](https://www.reddit.com/r/rust/comments/7dg95u/announcing_failure/), [also here](https://www.reddit.com/r/rust/comments/7b88qp/failure_a_new_error_management_story/)). Is it too early to think about recipes (equivalent to  [error-chain](https://crates.io/crates/error-chain)) for it?

[2017-11-24 06:02] KodrAus commented on #276
@anna-liao Feel free to jump on any issues that have been idle for a while!

[2017-11-24 10:49] budziq commented on #276
@anna-liao just ping me and the author mentioning that you would like to work on the issue from now on.

[2017-11-24 11:21] budziq commented on #370
@ludwigpacifici Thanks for pointing this out!
Imho we should wait a little before Failure gets more traction and possibly matures a little.
The error-chain crate had a lot of time to mature and enjoyed wide adoption before it got included in cookbook. I'd not want to promote a crate before both community and author are confident enough in the crate API stability (which I'm guessing is quite early

[2017-11-25 03:58] anna-liao commented on #285
Hi @jeramyRR wondering if you are still working on this issue?

[2017-11-25 04:02] anna-liao commented on #287
@Pratham567 Are you still working on this issue?

[2017-11-25 04:38] anna-liao commented on #209
I consent

[2017-11-25 06:05] anna-liao commented on #287
@budziq I am interested in working on this issue.  I couldn't find an example for using `ring`.  Here is my first try at writing an example with `rand`, but I am getting an error `error: use of unstable library feature 'ascii_ctype' (see issue #39658)`.

[code]

[2017-11-27 14:20] budziq commented on #287
@anna-liao you are trying to use nightly feature 'ascii_ctype' on a stable compiler so it does not work :)

I'd suggest not to over-think the example and just use https://doc.rust-lang.org/rand/rand/trait.Rng.html#method.gen_ascii_chars or if we really want to include the punctuation then we can have minimal reimplementation of it like in https://doc.rust-lang.org/rand/src/rand/lib.rs.html#677.

O

[2017-11-29 22:07] ludwigpacifici commented on #369
FYI, diesel is [v0.99.0 (It's basically 1.0 except it's not)](https://github.com/diesel-rs/diesel/releases/tag/v0.99.0).

[2017-12-01 12:00] #339 closed

[2017-12-03 12:27] #285 closed

[2017-12-03 14:31] budziq commented on #93
At this moment someone would have to finish up the https://github.com/rust-lang-nursery/rust-cookbook/pull/333

[2017-12-05 02:01] withoutboats opened #375 "Reorganizing the cookbook"
@aturon and I have been discussing the cookbook over the past few weeks. One of the main things we've talked about is organization and focus, to make it easy for users to find the recipes they're looking for.

An idea that I believe was @aturon's originally was to organize it along the same lines as [crates.io categories](https://crates.io/categories/), so that they can cross reference each other.

[2017-12-05 02:05] withoutboats commented on #375
Two examples of these category skeletons that @aturon and I drafted together:

### Algorithms

  - Generate random values
    - … for numeric types
    - … within a range
    - … with given distribution
    - … of a custom type
  - Sort a vector (*mention sort_unstable)
    - … with a custom ordering
    - … with a custom key
  - Generate a hash of a value (*mention alternative hashers)
    - … fo

[2017-12-05 04:12] aturon commented on #375
Another important aspect here, which is implicit in the example @withoutboats gave, is that we're envisioning a bit more nesting than we currently have. In particular, there are many examples that come with a bunch of interesting variants, like generating a random value. It seems good to have a "main" variant, and then list the major variations people are likely to want.

We have a fuller list of

[2017-12-06 18:13] dtolnay commented on #164
I liked something @skade said in [Why is Rust Successful?](https://youtu.be/-Tj8Q12DaEQ?t=2040).

But idk how I would translate that to a book title. I feel batteries-included is a more appropriate name for [the thing OCaml is using it for](https://github.com/ocaml-batteries-team/batteries-included): "defines a standard set of libraries which may be expected on every compliant installation of OCam

[2017-12-12 08:31] #287 closed

[2017-12-12 08:32] budziq commented on #287
Thanks! @anna-liao

[2017-12-27 19:13] paulirotta commented on #209
I agree

[2017-12-28 15:36] fawix commented on #84
I like the pagination idea.
may I also suggest the different authentication methods as cookbook examples for reqwest?

- [ ] Basic authentication
- [ ] Basic hidden authentication
- [ ] Digest authentication
- [ ] Digest authentication with algorithm

we can use httpbin for those, as in this one for digest:
`curl -vv --digest -k -u "user:pass"  "https://httpbin.org/digest-auth/auth/user/pass/MD5`

[2017-12-28 17:40] paulirotta opened #377 "Make cookbook examples editable in the browser"
mdbook.toml: change to "editable" and add "ace" JS editor as in rust-by-example

When this is done, also edit the main README.md to indicate "mdbook server --open" is the preferred way to launch on a local machine.

[2017-12-31 01:29] bnbowman opened #378 "Custom Formatter support for Nodes/Edges in Dot Output"
I'm writing a Partial-Order Aligner for DNA sequence, using petgraph as my underlying graph implementation.  Currently I'm using chars as my node-weight type so that when I debug things by in Dot format i see the underlying sequence, however the rest of the code uses the underlying weights as u8's for ease of comparison with text slices necessitating a bunch of conversions.

What I'd like to do id

[2018-01-01 07:44] techtonik commented on #209
So, it is only @trentspi and @Yamakaky left in 2018 to agree on CC0 licensing for the cookbook.

What about new users from Jul 1, 2017?

[2018-01-01 14:34] budziq commented on #209
Yep, sadly I was unable to reach them sofar.

@techtonik this list is continuously updated with new contributors.

[2018-01-01 16:52] trentspi commented on #209
I agree. Sorry for late response

[2018-01-02 13:11] budziq commented on #209
No worries :) We are almost go on the license change.

[2018-01-02 19:36] rjammala opened #379 "Example for reading compressed files"
Please add examples for reading compressed files like gzip, bz2 etc

[2018-01-02 20:46] rjammala commented on #379
Can probably do something like this:

`extern crate flate2;
use std::io::prelude::*;
use std::fs::File;
use flate2::read::GzDecoder;
use std::io::BufReader;

fn main() {
    let f = File::open("input.gz").expect("Unable to open");
    let d = GzDecoder::new(f);
    let n = BufReader::new(d);
    for line in n.lines() {
        println!("{}", line.unwrap());
    }
}`

[2018-01-02 22:38] budziq commented on #379
Hi @rjammala Thanks for taking an interest. Would you be open to creating a PR for metioned recipes?

[2018-01-02 22:41] rjammala commented on #379
yup, I will give it a shot.

[2018-01-11 11:36] budziq opened #383 "Update the logging section to log 0.4, log4rs 0.8 env_logger 0.5"
Log and env_logger have released a major API overhaul with 0.4 (log) and 0.5.0-rc.2 (env_loger) which has impacted the whole logging.md section.

Lets update the Cargo.toml and the logging.md examples to pass `cargo test` bonus points for making the examples more idiomatic in regard to newest API :smile:

[2018-01-11 14:33] gaurikholkar commented on #383
Would like to work on this :)

[2018-01-12 04:51] gaurikholkar commented on #383
@budziq I am having a small issue understanding how the `foreign_links` will change now, the syntax part.

[2018-01-12 08:31] budziq commented on #383
Thanks for taking a look :) :+1:

Hmm this looks like a problem with error-chain or how it interacts with new log 0.4 and old env_logger 0.4. Would you be willing to submit the problem to `log`  and `error-chain` repos? As far as I know the new log facade in 0.5 should be backwards compatible.

Anyhow we should also switch to `env_logger = "0.5.0-rc.2"` which has infailable inits. This should miti

[2018-01-12 08:49] gaurikholkar commented on #383
@budziq yeah will open up issues in the respective repositories :) and cc you

[2018-01-14 17:15] shmerl opened #384 "Concurrency vs parallelism?"
The chapter on concurrency uses it interchangeably with parallelism which makes it somewhat confusing. Concurrency usually focuses on splitting some task into chunks of execution, that can progress concurrently (but not necessarily purely in parallel). I.e. you can have one thread performing concurrent tasks and interrupting / jumping between them (like with coroutines). Parallelism on the other h

[2018-01-15 21:08] jrakow commented on #209
I consent.

[2018-01-18 20:31] budziq commented on #384
Hi @shmerl. If you have clear idea on how to improve the chapter I'm up for discussion or PR's ;)

[2018-01-25 01:09] skierpage opened #386 "example's date pattern is not "hyphenated British English", it's ISO 8601"
The Basics example **Replace all occurrences of one text pattern with another pattern** says it

But this doesn't match any British date format, whose key feature is the day of the month comes first, i.e. `15-1-2013` (cf. https://www.englishclub.com/vocabulary/time-date.htm).  The dates in the example are simply (and wonderfully) in the standard ISO 8601 date format, so change ENGL_DATE_REGEX to I

[2018-01-25 02:30] skierpage commented on #209
I consent.

[2018-01-25 16:29] Fierthraix opened #388 "Compile and link statically do a bundled C++ library does not compile"
[This example](https://rust-lang-nursery.github.io/rust-cookbook/build_tools.html#ex-cc-static-bundled-cpp) doesn't compile currently.

The function inputs in [`foo.cpp`](https://rust-lang-nursery.github.io/rust-cookbook/build_tools.html#srcfoocpp) aren't specified, and the return type needs to be added to the `extern` in [`main.rs`](https://rust-lang-nursery.github.io/rust-cookbook/build_tools.ht

[2018-01-25 16:31] Fierthraix commented on #209
I consent.

[2018-02-25 01:44] juli1 commented on #312
One idea would be to use this crate to generate a HTTP response for a HTTP request.
Scenario: we start a server that sends the same HTTP message with the Content-Type set using the mime crate.

[2018-02-25 02:08] juli1 commented on #312
Another idea is to have a simple function that tries to guess the Mime type according to the file extension. I wrote a program that does this. See https://github.com/juli1/rust-playground/blob/master/src/mime-guess.rs

I am more than happy to add this as a contribution in the cookbook.

[2018-03-22 14:31] AndyGauge commented on #375
Is this a task to tackle to support https://github.com/rust-lang-nursery/ecosystem-wg/issues/5 ?

I'm not positive how much linking the cookbook has received from outside sources, but if we are going to break the current URLs, we should do it before releasing the first major version.  I do think the navigation is the biggest challenge of the current cookbook.

I'd imagine that increasing the 'chap

[2018-03-27 07:39] pitdicker commented on #209
I consent.

[2018-04-03 13:39] nimtiazm opened #392 "File descriptor leak in "Run piped external commands""
I ran "Run piped external commands" in a loop and after some time I receive the following error:

[code]

I doub't it's because of file descriptor leak. It should actually keep running indefinitely.

[2018-04-03 13:41] nimtiazm commented on #392
For reference, I made the following changes to produce this bug:
[code]

[2018-04-13 16:44] AndyGauge commented on #302
So I believe there is a style guide that is established.  It is here [Contributing](https://github.com/rust-lang-nursery/rust-cookbook/blob/master/CONTRIBUTING.md#example-guidelines).

I propose adding to it, and breaking it into sections to make it digestible.  I also think it is missing what should be in the 1-4 sentence description.  The paragraph that describes comments switches narrative to t

[2018-04-19 03:29] AndyGauge commented on #164
I think Cookbook is practically a genre of books, and this definitely fits.  I am aligned with 'Rust Cookbook' being the subtitle.
Since finding the batteries (ie knowing which crates to use) is part of the challenge with starting Rust, instead of Batteries Included I was considering:

Where's The Batteries?

[2018-04-19 06:29] #302 closed

[2018-04-19 06:42] budziq commented on #375
@withoutboats @aturon sorry for keeping radio silence for so long. Since my daughter was born 3 month ago :baby_bottle: has taken all of my free time (and any left is used for precious shuteye). So unfortunately I will not be reliable as cookbook maintainer for some foreseeable future. I'll try look on the PR queue from time to time but I cannot guarantee anything :disappointed:.

Any help like @A

[2018-04-19 06:53] budziq commented on #209
Thanks all! Ping @Yamakaky

[2018-04-19 09:26] budziq commented on #378
Hi @bnbowman I think that this is more of a question for the petgraph maintainers ;)
Which you have already asked https://github.com/bluss/petgraph/issues/194 so I'll close this issue for now.

Feel free to open a PR with a nice example once your use-case is easily implementable with mainline petgraph!

[2018-04-19 09:26] #378 closed

[2018-04-19 09:32] budziq commented on #386
Hi @skierpage sory for late reply and thanks :D

But you have not actually made this change into a PR against this repo.  Please submit the PR and I'll gladly merge it!

[2018-04-19 09:34] budziq commented on #386
Oh it's already merged in another PR ;)

[2018-04-19 09:34] #386 closed

[2018-04-19 09:44] budziq commented on #388
Fixed with https://github.com/rust-lang-nursery/rust-cookbook/pull/385

[2018-04-19 09:44] #388 closed

[2018-04-20 23:34] AndyGauge commented on #267
There's an RFC to add await/async to the language https://github.com/rust-lang/rfcs/pull/2394 Should we describe the existing async story or wait until the language implements it?  The Cookbook isn't really about language features though.

[2018-04-20 23:51] AndyGauge opened #396 "Tracking Issues"
We should triage the open tracking issues.  There are a lot of "complete" issues that linger.
 - [x] [Miscellaneous cookbook ideas](https://github.com/rust-lang-nursery/rust-cookbook/issues/24)
 - [x] [Cookbook ideas for using a RESTful service](https://github.com/rust-lang-nursery/rust-cookbook/issues/43)
 - [x] [Cookbook ideas for reqwest crate](https://github.com/rust-lang-nursery/rust-cookbook

[2018-04-20 23:52] AndyGauge commented on #396
It is my recommendation that we close everything except for Miscellaneous cookbook ideas.  I think we need to re-evaluate that one and pull some of the good ideas into new individual issues.

[2018-04-23 18:43] budziq commented on #306
Yep I guess that its enough for now. We'll need to update the template once we finaly relicense.

[2018-04-23 18:43] #306 closed

[2018-04-23 18:48] budziq commented on #267
While Cookbook is more about batteries included experience around the stdlib and crates rather than language features.

I'd suggest to wait for the dust to settle around everything async. For now tokio is in the middle of a compatibility breaking reform and as noted the language side is still in flux.

[2018-04-23 20:45] AndyGauge commented on #396
Those that are checked off are ready.  (for those of you reading this in the future, there's nothing checked yet).  I will go through and close them or add to them.

[2018-04-23 21:46] AndyGauge commented on #300
This tracking issue seems resolved.

[2018-04-23 21:46] #300 closed

[2018-04-23 21:49] AndyGauge commented on #276
All of the recommended recipes are merged.  There's no outstanding discussions here, I'm closing the tracking issue.

[2018-04-23 21:49] #276 closed

[2018-04-23 22:25] AndyGauge commented on #272
There are a few ideas that seem dead in the water here.  I like the rayon story in the cookbook and will close the tracking issue.  If you want to see an additional recipe in the cookbook, open up a new issue.

[2018-04-23 22:25] #272 closed

[2018-04-23 22:53] AndyGauge commented on #266
There are a ton of opportunities in std to add to the cookbook.  There's boxed, error, ffi, file systems, networking, strings, time, primitives.  We could write an entire chapter of `fmt`.

I'm going to try to think of some recipes that would showcase `std`.

[2018-04-23 23:07] AndyGauge commented on #227
`Rand` is going through an overhaul.  0.5-pre 1 just came out.  I would like to revisit this issue once 0.5 ships and evaluate adding recipes later.

[2018-04-23 23:31] AndyGauge commented on #225
I'd like to expand the examples in threadpool to do something Io bound that would be beneficial to a wider audience.

[2018-04-23 23:44] AndyGauge commented on #220
I can't see the need for additional recipes at this time.  If something new crops up, feel free to open a new issue.

[2018-04-23 23:44] #220 closed

[2018-04-23 23:46] AndyGauge commented on #217
The cookbook does a great job of showing both simple and advanced regex examples.  I'm going to close this tracking issue.

[2018-04-23 23:46] #217 closed

[2018-04-23 23:51] AndyGauge commented on #213
Ring is a bit esoteric, and I think we should keep its footprint at a minimum.  Most cryptography is pretty specialized.  I like the recipes already included.

[2018-04-23 23:51] #213 closed

[2018-04-23 23:55] AndyGauge commented on #43
The cookbook is a bit heavy on HTTP patterns.  There is no additional comments here that haven't been completed.  I'm closing this issue.

[2018-04-23 23:55] #43 closed

[2018-04-23 23:57] AndyGauge commented on #396
So I've closed 8 or so of them and added comments.  What we really need is more recipes at this time.

[2018-04-23 23:57] #396 closed

[2018-04-24 15:58] AndyGauge opened #397 "Make HTTP request and parse mime type"
In this example, make a request to a static url and parse the mime type response.  Potentially show 2 mime types and an request without a mime header.

[2018-04-24 16:03] AndyGauge opened #398 "Recipe for Mime::FromStrError"
Show an invalid mime string, and how to handle processing the error.

[2018-04-24 16:13] AndyGauge commented on #280
I was toying with the same line of thinking, but ran into an issue with the references.  How does this solution handle links?  Do we need to put all the links in the recipes or do we need to put them in their own file?

[2018-04-24 16:34] AndyGauge opened #399 "file names that have been modified in the last 24 hours for the working directory"
Find the file names in a directory modified in the last 24 hours. (Uses `std`).

[2018-04-24 16:44] AndyGauge opened #400 "Recipe: custom type implements FromStr"
|  |  |
| ------------- | ------------- |
| Crates  | std  |
| Section  | 16.2 String Parsing  |

Create a custom type that implements FromStr.  An example would be IPv4Address.  This could be an email address, splitting on the '@', or separating first,middle (optional), and last names (this is really hard internationally, but a contrived example might be helpful).

[2018-04-24 16:54] AndyGauge opened #401 "Open Config file from given environment variable location"
|  |  |
| ------------- | ------------- |
| Crates  | std  |
| Section  | 15.1 External Command  |

Read environment variable to find a config file, open the config file and demonstrate reading contents.  No need to parse the configuration in this example, but highlight the environment variable and how to pass it to the process.  Looking to highlight `std::env`.  Optionally demonstrate failing bac

[2018-04-24 17:00] AndyGauge opened #402 "Recipe: Implement Display, Debug for custom type"
Given a simple custom type, implement debug and display directly.  Do not lean on derive.  Similar to this: https://doc.rust-lang.org/1.6.0/std/fmt/trait.Display.html#examples

It is OK for the cookbook to have similar examples to other sources, as this may be the first place someone looks to solve this problem.  Do not use an x,y point as the example though.  Mixed data types would be ideal.

[2018-04-24 17:16] AndyGauge commented on #293
@carpemb I was curious if this was still in the works?  Did you hit a roadblock with this that we might help with?

[2018-04-24 18:13] AndyGauge commented on #227
I read the 0.5 Changelog and the stuff they added was great, but not really helpful to a wide audience.  Most of the changes were to support true randomness required for a security perspective.  I'm not sure there's a lot of value to a wide audience for this.  @pitdicker did a good job in #391 to update the API.  I think the cookbook has a good sample of Rand usage.

[2018-04-24 18:13] #227 closed

[2018-04-24 19:45] ludwigpacifici commented on #399
Is the archive bit Windows specific? As for Linux, is this example not redundant with the `std` [documentation](https://doc.rust-lang.org/std/fs/struct.Metadata.html#method.modified)?

To make this recipe more interesting, why not write a basic implementation of `ls` (Linux) or `dir` (Windows)?

[code]

I was also thinking about inode number, but it's Linux specific.

[2018-04-24 19:48] AndyGauge commented on #399
Yes that would be a good start to it.  I was thinking get file names that have been modified in <24 hours for the working directory.  That takes the `std` example and builds on it.

[2018-04-24 22:14] AndyGauge commented on #184
Closing tracking issue.  All requested recipes are complete.

[2018-04-24 22:14] #184 closed

[2018-04-25 07:31] ludwigpacifici commented on #399
Fair enough. Can I give a go at "file names that have been modified in <24 hours for the working directory"?

[2018-04-25 15:30] AndyGauge commented on #399
That would be awesome.

[2018-04-25 15:55] AndyGauge commented on #167
I have been pondering an overhaul and wanted to express my current line of thinking.

### Categories ###
Remove the sections all together.  Organize the cookbook with the same top level structure as Crates.io categories.  Categories are sub-folders of the src directory.  We could extend large categories with a few series.  These would be sub-folders of the category.

### Recipes ###
Recipes would

[2018-04-25 22:28] #209 closed

[2018-04-26 00:00] AndyGauge commented on #375
We are moving forward on this.  For now I've added a [Project](https://github.com/rust-lang-nursery/rust-cookbook/projects/1) to move the existing recipes into a new organizational structure.  I'm going to experiment with creating folders with individual files for this structure.  Once there's a process in place, I'll convert these into issues and solicit some support.

[2018-04-26 19:50] aturon commented on #375
@budziq I so very much understand! I'm grateful for all the work you've already done on this project.

---

In case it's useful, @withoutboats and I sketched out a possible basic organization [here](https://paper.dropbox.com/doc/Cookbook-new-recipe-list-oRJe83bTkNE4Gk2Qmvu5V).

[2018-04-27 03:35] jaroslaw-weber commented on #280
@AndyGauge
currently you would need to add links to the end of each md file, but its possible to group those links in one file and append this file to each markdown.

[2018-04-27 03:37] jaroslaw-weber commented on #167
@AndyGauge
i think its better to define category in meta file (json or toml). copying files to different categories will be problematic to update. you probably saw how I implemented it in my solution.

[2018-04-27 03:41] AndyGauge commented on #280
I'm doing this and it actually makes creating recipes easier.  I think it is OK to have duplication.

[2018-04-27 03:43] AndyGauge commented on #167
Right now, I'm moving to an intermediate solution that puts the recipes into folders, and the book structure is just manually manipulated.  I'm still hoping this will line up with the visual redesign you've got going--it looks great.

[2018-04-28 01:01] math-foo commented on #398
Hi! I'd like to write an example for this one; but I am not sure what you are looking for in terms of handling the error. Calling `parse` on a string returns a `Result<Mime, FromStrError>`. Error handling beyond that would depend a lot on the nature of the function. Is there something that you're looking for beyond returning a `Result` with `?`?

[2018-04-28 03:05] AndyGauge commented on #398
Well, I was hoping to see parsing a string, having the error happen, and fall back to a default action.  I've seen a default value of application/octet-stream be set when no other type is reasonable.

[2018-04-30 15:17] NiekGr commented on #397
Dear Maintainers,

I just started learning Rust and read through chapters 1 to 15 of the Rust book. And I would like to create an example for the cookbook.

Can I take on this issue?

Best Regards,

NiekGr

[2018-04-30 15:30] AndyGauge commented on #397
Absolutely 👍

[2018-04-30 18:02] NiekGr commented on #397
Thank you!

[2018-04-30 18:43] NiekGr commented on #397
@AndyGauge could you explain what you mean with "show 2 mime types and a request without a mime header"? Would a message if there isn't a mime type found and two or three messages if there is a mime type found, be good enough?

Or would you also like to see the function being called three times with the output?

[2018-04-30 20:52] NiekGr commented on #397
Oké, that is just what I did. I will add the boilerplate and documentation.

[2018-05-02 23:46] #397 closed

[2018-05-02 23:47] #399 closed

[2018-05-02 23:48] #398 closed

[2018-05-06 00:39] NiekGr commented on #400
This isn't labelled "easy", but can I work on this?

[2018-05-06 03:48] AndyGauge commented on #400
You can.  It isn't all that hard actually.  I'm just not very good at labelling.

[2018-05-06 14:37] NiekGr commented on #400
Oké, thank you Andy

[2018-05-08 00:53] budziq opened #408 "broken links"
There are currently at ~32 broken links in the cookbook. Tested with ruby `html-proofer` script.

This means that either:
- the descriptions have wrong links
- are outdated leading to outdated API's
- some crates docs have been broken (most likely `rand` in this case)

[code]
[code]

[2018-05-08 17:25] AndyGauge commented on #408
Should we rethink using wildcard crate versions in links?  Locking them down to the version we are using would fix some of the links.

[2018-05-13 16:14] dominikWin commented on #408
After #411 there are two groups of broken links:

[code]

*  Broken crate docs (`rand` and `ring`)
*  Outdated API (`log` and `env_logger`), see #383

`ring` has its documentation hosted at https://briansmith.org/rustdoc/ring/ (from Cargo.toml/crates.io). Updating to this removes 8 bad links. Should we link to a non-docs.rs location?

[2018-05-13 18:42] budziq commented on #408
Thanks for looking into it @dominikWin!

While I'd preffer to have only docs.rs links for easier maintenability it is reasonable to follow crate authors wishes about where is their cannonical docs location (as pointed by cargo.toml). So I'd suggest to link to docs pointed by cargo.toml by default and use docs.rs as fallback.

[2018-05-14 22:45] budziq commented on #383
fixed with https://github.com/rust-lang-nursery/rust-cookbook/pull/412

[2018-05-14 22:45] #383 closed

[2018-05-14 22:47] budziq commented on #408
after https://github.com/rust-lang-nursery/rust-cookbook/pull/412 we are down to 20 broken links from `ring` and `rand`

[2018-05-15 15:04] NiekGr commented on #400
Hi @AndyGauge,

Should I only do simple parsing, or can I also use parser library (not that complex)?

Thank you

[2018-05-15 15:19] budziq commented on #400
Hi. I'd suggest to avoid introducing new crates to cookbook if the task can be done with pure std with comparable complexity.

[2018-05-16 19:48] AndyGauge commented on #384
I'm not a computer science major, so I often make mistakes when I try to correct terms.  I have broken the chapter into 2 series with #404 You can see the parallel tasks series within the concurrency chapter here: http://www.yetanother.site/rust-cookbook/concurrency.html  Let me know if there's improvements to be made.

[2018-05-16 20:00] AndyGauge opened #414 "Cookbook 1.0"
What will it take for us to call the cookbook 1.0?

First thing: A huge shout out to @budziq and the improvements he has made to the cookbook.  I am continually impressed by your effort.

I want to draw a line in the sand that we can release the cookbook.  What I think should be in scope of this release:

- [x] [mdbook v.0.1.7](https://github.com/rust-lang-nursery/rust-cookbook/pull/409)
- [x] [Re

[2018-05-16 21:27] budziq opened #416 "FontAwesome missing since mdBook 0.1.7"
Since switching to latest mdBook the FontAwesome fonts are missing from the gh-pages
it has been fixed in https://github.com/rust-lang-nursery/mdBook/pull/697 but untill it is released to crates.io we need a workaround...

[2018-05-16 21:47] budziq commented on #416
Hotfix was commited in https://github.com/rust-lang-nursery/rust-cookbook/commit/331171bfbbee7dc333a41ed49db1edb916df2267

I'd preffer to leave this issue open untill new mdBook is relased with propper fix so we remember to cleanup deploy.sh.

[2018-05-16 22:14] budziq commented on #414
I fully agree with the idea!

Ive created a [milestone](https://github.com/rust-lang-nursery/rust-cookbook/milestone/2) to aggregate the issues that most likely should be addressed before 1.0 release.

I'd propose to also address:
- [ ] [proofread run](https://github.com/rust-lang-nursery/rust-cookbook/issues/139)
- [ ] [broken links](https://github.com/rust-lang-nursery/rust-cookbook/issues/408)

[2018-05-16 22:18] AndyGauge commented on #280
In #404 this is addressed by splitting the category files into the series.  The category itself is just the collection of links, and those links are all included in a master TOC.  The only place new recipes are added is the category, and the TOC picks them up automatically.

[2018-05-18 23:50] dominikWin commented on #408
The docs for rand came back online. #417 fixes the links to them.
After this there is only one broken link:
[code]
This is caused by removing `Range` and replacing it with `Uniform` distribution in 0.5. When rand 0.5 stable comes out the recipe will need to be updated along with the link.

[2018-06-05 19:15] AndyGauge opened #419 "Rewrite header recipes for hyper 0.12"
Apparently, changes have been made to hyper 0.12 that breaks the `header!` implementation.  Those changes should be reviewed and implemented into the recipes.  Documentation is being moved to doc.servo.org until the recipes have been revamped.

Check out the [changelog](https://github.com/hyperium/hyper/blob/master/CHANGELOG.md#breaking-changes)

[2018-06-05 19:43] AndyGauge commented on #414
I think we are only missing the updates to the CONTRIBUTING and PR Template to support this purposed 1.0 rewrite.

[2018-06-05 19:48] AndyGauge commented on #414
Actually, we need to determine if the Cookbook will rely on a git version of mdbook or wait until 1.8 drops.  Either way, build scripts and README needs to be updated.

[2018-06-06 15:30] AndyGauge opened #421 "Update Contributing and PR templates"
I'd like to land #410 then update the Contributing an PR templates.

[2018-06-06 15:33] #356 closed

[2018-06-06 15:33] #358 closed

[2018-06-12 18:52] sandeep-datta commented on #375
Folks IMO the the "Basics" chapter can be split into sub-chapters with more cohesion e.g. file I/O, file system tasks, random numbers, process control, time and date, error handling, cryptography etc. Would you accept a PR for this?

[2018-06-12 23:33] AndyGauge commented on #375
@sandeep-datta check out #404 at www.yetanother.site/rust-cookbook

We are moving from the existing sections to align with crates.io categories.  This work is very close to complete, but feel free to offer criticisms on the PR #404

[2018-06-13 08:42] madkeen commented on #246
Hey guys, I would like to contribute my research/design skills to improving the the website. Is this a suitable place for this conversation?

[2018-06-13 20:57] budziq commented on #246
Hi @madkeen,

:+1: All contributions are greatly appreciated

Sure it is!

[2018-06-13 22:09] AndyGauge commented on #421
https://github.com/rust-lang-nursery/rust-cookbook/pull/404/commits/8df54e6c7cb9e7db3a9a0960b6b2cf0d4876cce1

[2018-06-14 14:15] sandeep-datta commented on #375
Sounds like a good idea. I hope adding / modifying categories on crates.io is not too difficult.

[2018-06-15 23:11] plauche commented on #402
I'll take this one!

[2018-06-18 15:51] plauche commented on #402
Would you like a simple implementation, or would you like to also see some of extra formatter flags used?

[2018-07-02 17:10] AndyGauge commented on #414
In order to build mdbook from master on rust 1.27, https://github.com/rust-lang/cargo/issues/5627 dictates specifying the version (--version 0.1.8-alpha.0) which is brittle.  I want to wait until 0.1.8 lands unless rust 1.28 stabilizes first.

[2018-07-02 17:34] AndyGauge opened #423 "cargo test warns with lint unused_doc_comment has been renamed"
warning: lint unused_doc_comment has been renamed to unused_doc_comments
[code]
   = note: this error originates in a macro outside of the current crate (in Nightly builds, run with -Z external-macro-backtrace for more i

[2018-07-09 16:31] AndyGauge commented on #414
0.1.8 landed this morning, I built the branch successfully!

[2018-07-09 16:33] AndyGauge commented on #416
0.1.8 released today, this change should be included.  I'll test out mdbook 0.1.8 with a PR to remove the hotfix.

[2018-07-10 13:36] budziq commented on #423
Moving to `error_chain = 0.12.0` should silence this error https://github.com/rust-lang-nursery/error-chain/issues/245

[2018-07-10 20:08] budziq commented on #416
Unfortunately the rust-cookbook published at https://rust-lang-nursery.github.io/rust-cookbook/ started  missing the font awesome icons.
![font_fail](https://user-images.githubusercontent.com/221000/42534740-c3bfb2b4-848d-11e8-9f96-805c5066218e.png)

So I guess that the 0.1.8 does not fix this issue...

[2018-07-10 20:12] AndyGauge commented on #416
I think the problem is my failure to update the template.

Thanks for catching that, I didn't wait long enough for it to update yesterday.

[2018-07-10 20:23] #416 closed

[2018-07-10 20:32] budziq commented on #416
Thanks for taking care of this @AndyGauge !

[2018-07-10 20:33] AndyGauge commented on #416
:tada:

[2018-07-10 20:43] #423 closed

[2018-07-10 21:07] #139 closed

[2018-07-10 21:07] #280 closed

[2018-07-10 21:07] #375 closed

[2018-07-10 21:07] #408 closed

[2018-07-10 21:07] #421 closed

[2018-07-10 21:08] AndyGauge commented on #414
I merged the Reorganize branch #404
Watching for issues in the CI.

[2018-07-11 04:57] budziq commented on #414
Thanks for pushing this through the finish line @AndyGauge ! :tada: :heart:

[2018-07-11 08:55] budziq commented on #419
Currently two examples using custom headers are broken:
- [trivial single custom headder](https://rust-lang-nursery.github.io/rust-cookbook/web/clients/requests.html#set-custom-headers-and-url-parameters-for-a-rest-request)
- [three typed headders for github rate limmiting](https://rust-lang-nursery.github.io/rust-cookbook/web/clients/apis.html#handle-a-rate-limited-api)

As there are several ways

[2018-07-11 19:50] budziq commented on #419
Thanks a lot for the info @seanmonstar!
I guess that we will hide the examples (https://github.com/rust-lang-nursery/rust-cookbook/pull/430) and revert them once the custom header story is sorted out on hyper side. What are your thoughts @AndyGauge ?

[2018-07-11 20:13] AndyGauge commented on #419
Sounds like a plan of action.  We can leave this open as a reminder once headers lands.

[2018-07-12 09:43] meven opened #431 "Add SIMD examples in section Processor"
Demonstrate a very simple way to implement code to use simd in https://rust-lang-nursery.github.io/rust-cookbook/hardware/processor.html
Demonstrate especially the macros and function about processor feature detection and fallback and a simple use of simd, rather that an advanced use of the feature.

[code]
[code]

References:
https://github.com/rust-lang/rfcs/blob/master/text/2325-stable-simd.md

[2018-07-12 14:52] epage opened #432 "Should glob examples be replaced by globwalk?"
There seems to be interest in [deprecating glob](https://github.com/rust-lang-nursery/glob/issues/59#issuecomment-297238603) (or repurposing it) in [favor of the functionality in globset / globwalk](https://github.com/rust-lang-nursery/ecosystem-wg/issues/17).

Should the examples possibly be using one of these other crates instead until the switch over is made?

[2018-07-12 16:46] budziq commented on #432
thanks @epage! The discussion that you have linked suggests that future of glob globset and globwalk is being  currently decided with no clear indication  of which one will be deprecated in favour of which. We'll update examples once there is some consensus.

[2018-07-12 17:01] AndyGauge opened #433 "Replace quick_main with main returning Result"
Rust 1.26 allows return types on main.  This should be taught in the cookbook, rather than relying on quick_main.

TODO:

- [ ] Replace functions in recipes that leverage a function returning a Result and quick-main macros
- [ ] Document in a note about error handling

https://www.reddit.com/r/rust/comments/8xubdr/rust_cookbook_is_now_reorganized/e28efj7/

[2018-07-12 22:56] AndyGauge commented on #370
So `failure` has taken the de facto error handling position in the ecosystem.  I think a rip and replace would be reasonable.  Here's something kinda official https://github.com/rust-lang-nursery/failure/issues/181

[2018-07-12 22:58] AndyGauge commented on #414
Our imaginary line in the sand is complete.

[2018-07-12 22:58] #414 closed

[2018-07-13 09:41] budziq commented on #370
While `failure` has gained some popularity I'm not entirely sure it has much development traction as its repo is not super active especially in regard to 1.0. Post the initial release it has been barely updated in crates.io with no releases since Nov 30, 2017 and it looks [barely more active](https://github.com/rust-lang-nursery/failure/graphs/code-frequency) than [error_chain](https://github.com/

[2018-07-13 14:54] budziq commented on #370
Thanks @Dylan-DPC!

I can see two issues here:
- `failure`'s design is in flux and I feel inclined towards waiting untill things take shape (the same reason why there is no tokio/async chapter yet)
- the issue raised in https://github.com/rust-lang-nursery/ecosystem-wg/issues/22. how do we choose the best/most idiomatic crate when there are several equivalent contenders?

[2018-07-13 15:54] AndyGauge opened #434 "New Recipes"
Create an issue for each of the recipes

 - Algorithms
   - [ ] Sort a vector
     - with custom ordering
     - with a custom key
   - [ ] Generate a hash of a value
     - for a custom type
- CLI
  - [ ] color (ANSI)
- Compression
  - [ ] Decompress gzipped web content
- Concurrency
  - [ ] Sharing Data between threads
    - shared ownership with `Arc`
    - shared stack with `crossbeam`
    - m

[2018-07-13 15:57] AndyGauge commented on #434
@budziq can you review this list?  This is from when @withoutboats and @aturon were planning new recipes.  I'm happy to create the issues, but before officially adopting them, I'm hoping for your input.  There are also opportunities in here to expand our adopted crates so cc https://github.com/rust-lang-nursery/ecosystem-wg/issues/22

[2018-07-14 22:08] budziq commented on #434
@AndyGauge  Sure! It looks very cool on the first glance, but I'll need some time to give any reasonable feadback. Some assorted musings:

- As you mentioned, the first thing that we would need to establish is a list of crates to include in the next iteration of examples. In my experience it is very helpful to add such information to every example ticket. It greatly helps contributors in the initi

[2018-07-17 18:00] AndyGauge commented on #434
- I like the idea of putting the crate, and I think adding the category would also benefit contributors.  Now that there is an order, maintaining the order is important.
- I think we should show raw SQL adapters, and have a recipe for diesel then link to their guides.  I don't want to make ORM a major part of the cookbook, but would like to see a simple recipe to spark interest in visiting the die

[2018-07-17 18:18] AndyGauge commented on #362
So I think we are ready to create a science section!

- I am on board with highlighting the `num` crate as a beginning.
- Calculating geometry with Trigonometric functions would be welcomed.
- I remember using sine/cos to draw a circle was a pretty good mathematics example we could show
- +1 for Distance between 2 lat/long.
- Let's table activation functions for now
- +1 for Statistics
- precision

[2018-07-18 15:39] AndyGauge opened #436 "Recipe Series: Web Authentication"
|  |  |
| ------------- | ------------- |
| Crates  | reqwest  |
| Section  | 17.4.3 Web Authentication  |

A new series for Web Authentication should be created.  This series needs 3 recipes for the following types of authentication:

- [ ] [Basic Authentication](https://docs.rs/reqwest/*/reqwest/struct.RequestBuilder.html#method.basic_auth)
- [ ] Digest Authentication (On Hold until https://gith

[2018-07-18 15:40] AndyGauge commented on #84
Created remaining Reqwest recipes, closing tracking issue.

[2018-07-18 15:40] #84 closed

[2018-07-18 15:42] AndyGauge commented on #164
FYI also https://www.packtpub.com/application-development/rust-standard-library-cookbook

[2018-07-18 15:45] #212 closed

[2018-07-18 16:38] AndyGauge commented on #225
Maybe we could check for clients listening on port 80.  Say a request to github.io in each thread to verify the port is responding.  I'm thinking using essentially this: https://doc.rust-lang.org/std/net/struct.TcpStream.html#examples to check each of these addresses: 185.199.X.153 where X is 108,109,110,111.

[2018-07-18 16:44] AndyGauge commented on #236
cc #328

[2018-07-18 16:53] AndyGauge commented on #303
Is this related? https://github.com/budziq/rust-skeptic/issues/76

[2018-07-20 06:36] budziq commented on #434
@AndyGauge :+1: Sorry for taking so long. Imho all of these are valid points. Lets go with these recipes!

[2018-07-20 06:45] budziq commented on #362
:+1:

[2018-07-20 06:49] budziq commented on #225
This seams a little artificial. I think that original approach of "we have a list of crates and what can we do with these" might be suboptimal in some cases (especially relatively low level crates such as this one). How about we post issues asking for contributors ideas for given domain instead of given crate?

[2018-07-20 06:54] budziq commented on #303
@AndyGauge yep

[2018-07-23 00:12] KodrAus commented on #225
@budziq Focusing on domains rather than specific libraries sounds like a good approach to me and probably more in line with the new organization too.

[2018-07-24 16:57] NiekGr commented on #400
I thought a lot about what to do. You mentioned IPv4, but I thought it was a too simple. So I tried to make an IPv6 parser, but I have no idea how to do this in a rust ideology.

With my vacation coming up, I will try to work a little harder on this.

[2018-07-24 17:01] AndyGauge commented on #346
See #348

[2018-07-24 17:01] #346 closed

[2018-07-24 17:09] AndyGauge commented on #392
See #393

[2018-07-24 17:09] #392 closed

[2018-07-24 17:10] AndyGauge commented on #384
If you would like to reopen this issue, feel free, but there have been significant changes to to wording in #404

[2018-07-24 17:10] #384 closed

[2018-07-24 20:53] budziq commented on #400
@NiekGr
I'd suggest to avoid using IPv6 parsing as an example as it is surprisingly complex and correct implementation would take a lot of code completely irrelevant to the relatively trivial `FromStr` toppic.
Moreover, there is already an [implementation in stdlib](https://doc.rust-lang.org/src/std/net/parser.rs.html#184), IPv6 (and IPv4 for that matter) example could lead new rustaceans to belie

[2018-07-24 20:57] AndyGauge commented on #400
Honestly, the stdlib's example https://doc.rust-lang.org/std/str/trait.FromStr.html#examples is pretty good, I just wanted something in the cookbook to demonstrate some of std features that could help a wide audience (as not many people read std docs like a book).

+1 for converting a string of 6 hex characters into a Red Green and Blue struct.

[2018-07-24 21:06] NiekGr commented on #400
@budzig @AndyGauge I really like the web colour parsing. And I have a much better idea how to do that. Thank you for the idea, I will work it out.

Have a good evening.

[2018-07-29 02:56] AndyGauge opened #437 "Recipe Series: Sort Vector"
|  |  |
| ------------- | ------------- |
| Crates  | std  |
| Section  | 1.1 Sorting  |

This recipe series should demonstrate how sorting a vector is accomplished.  The initial recipe is a simple `std` implementation of sorting integers, and descending.  Next show how to sort `f64`. Implement a custom struct and demonstrate sorting a vector of these types.

[2018-07-29 03:22] AndyGauge opened #438 "Recipe Series: Command Line ANSI"
|  |  |
| ------------- | ------------- |
| Crates  | ansi_term  |
| Section  | 2.2 ANSI Terminal |

Demonstrate using color in a terminal output.
Add style (Bold, underline)

[2018-07-29 03:26] AndyGauge opened #439 "Recipe: Download GZip content"
|  |  |
| ------------- | ------------- |
| Crates  | reqwest, flate2  |
| Section  | 3.2 Download GZip content  |

Download and decompress gzipped content from an Http site.

[2018-07-29 03:33] AndyGauge opened #440 "Recipe Series: Sharing data between threads"
|  |  |
| ------------- | ------------- |
| Crates  | std,  crossbeam_channel |
| Section  | 4.3 Sharing data between threads  |

    - shared ownership with `Arc`
    - shared stack with `crossbeam`
    - mutable data with `Mutex`
    - passing messages with `mspc` (crossbeam_channel)

[2018-07-31 19:48] Januson commented on #437
Hello. May I work on this issue?

[2018-08-01 09:33] budziq commented on #437
Sure @Januson !

[2018-08-08 10:53] budziq commented on #362
Very cool idea @ludwigpacifici !
Would you like to propose some example toppics?

[2018-08-12 00:48] sepiropht commented on #439
Can i take this ?

[2018-08-12 00:53] sepiropht commented on #433
I will Be happy to take this one too

[2018-08-12 11:36] budziq commented on #439
sure!

[2018-08-12 11:37] budziq commented on #433
+1

[2018-08-12 20:39] budziq commented on #433
Yep, optimaly all occurences should be unneccessary now including the non example text sections. Just grep the source for `quick_main`. If you'll have any questions just drop a comment here.

[2018-08-20 15:44] AndyGauge opened #443 "1.30 Serde Test failues"
[code]

[2018-08-20 15:48] petrochenkov commented on #443
Duplicate of https://github.com/rust-lang/rust/issues/53481

[2018-08-21 17:29] #443 closed

[2018-09-04 05:44] renahlee commented on #246
Is this still being worked on? I'm looking for open source opportunities to contribute to and would love to learn about the visual design needs for the cookbook.

[2018-09-05 03:52] AndyGauge commented on #246
@renahlee I'd love to hear some idea.  This particular issue appears to have stalled, but it is definately an open item.

[2018-09-05 16:03] AndyGauge opened #445 "Recipe: Trigonometry"
|  |  |
| ------------- | ------------- |
| Crates  | std |
| Section  | 16.1 Mathematics  |

Create a recipe that demonstrates using `f64` solving simple triangle problems with `sin`, `cos`, and `tan`.

[2018-09-05 16:04] AndyGauge opened #446 "Recipe: Distance between points"
|  |  |
| ------------- | ------------- |
| Crates  | std, num |
| Section  | 16.1 Mathematics  |

Given a geo-coordinate pair (lat/long) of 2 points, find the distance between them.

[2018-09-05 16:10] AndyGauge opened #447 "Recipe: Statistics"
|  |  |
| ------------- | ------------- |
| Crates  | std |
| Section  | 16.1 Mathematics  |

Given a collection of integers, calculate the mean, median, mode, standard deviation, maybe Z-score of the highest outlier.

[2018-09-05 16:16] AndyGauge opened #448 "Recipe: Complex Numbers"
|  |  |
| ------------- | ------------- |
| Crates  | num |
| Section  | 16.1 Mathematics  |

Demonstrate using complex numbers (n+m√-1) with num crate

[2018-09-05 16:21] AndyGauge opened #449 "Recipe: Big Integer"
|  |  |
| ------------- | ------------- |
| Crates  | num |
| Section  | 16.1 Mathematics  |

Calculate a factor that would surpass Int (128 bits 1.7 x 10^39) limits.

[2018-09-05 16:26] AndyGauge opened #450 "Recipe: Matricies Series"
|  |  |
| ------------- | ------------- |
| Crates  | ndarray |
| Section  | 16.2 Matricies  |

Investigate and create the following recipes:

- [x] Add two vectors
- [x] Norm of two vectors
- [ ] A vector time a matrix
- [ ] Add, multiply two matrix
- [x] invert a Matrix
- [x] A scalar time a vector time a matrix
- [ ] Serialize/Deserialize a big matrix

[2018-09-20 14:53] #437 closed

[2018-09-29 10:14] ludwigpacifici commented on #446
Hello @AndyGauge

I'd be happy to write that recipe.

[2018-10-01 15:32] AndyGauge commented on #445
I'm hoping to make a series, where this provides a simple usage, and #452 expounds on it.

[2018-10-01 15:35] AndyGauge commented on #369
I want to get this up for hacktoberfest.

[2018-10-01 16:08] AndyGauge commented on #447
👍

[2018-10-01 16:19] AndyGauge opened #453 "Recipe: Creating Database in File System"
|  |  |
| ------------- | ------------- |
| Crates  | rusqlite|
| Section  | 7.1 SQLite  |

This recipe should demonstrate using rusqlite by saving the database to the file system.

[2018-10-01 16:20] AndyGauge opened #454 "Recipe: Creating Tables in Database"
|  |  |
| ------------- | ------------- |
| Crates  | rusqlite|
| Section  | 7.1 SQLite  |

Build off of creating a database by creating a database structure

[2018-10-01 16:20] AndyGauge opened #455 "Recipe: Inserting and Querying Data"
|  |  |
| ------------- | ------------- |
| Crates  | rusqlite|
| Section  | 7.1 SQLite  |

Once the database has structure, insert and query data

[2018-10-01 16:27] AndyGauge opened #456 "Recipe Series: Postgres"
|  |  |
| ------------- | ------------- |
| Crates  | postgres |
| Section  | 7.2 Postgres Database  |

Looking for 3 Recipes that demonstrate using Postgres to:

 - [x] Create Tables and database structure
 - [x] Perform Simple insert and query operation
 - [x] Perform aggregate operations

The goal of the cookbook is to provide enough insight about the crates that anyone could get their feet wet

[2018-10-01 16:34] MagnumOpus21 commented on #440
Can I take a shot at this? Any pointers are appreciated.

[2018-10-01 16:56] chills42 commented on #438
I'd like to work on this one

[2018-10-01 18:06] GuineaPiet commented on #448
Going to give this a shot

[2018-10-01 18:12] lnicola commented on #453
Can I take this one? Though I'm not really sure how it would end up like, since creating the database doesn't take much (you just have to open it AFAIK). Maybe it should be combined with #454.

PS: What does "Section: 7.1 SQLite" mean? Right now, Section 7.1 is "Date and Time / Duration and Calculation".

[2018-10-01 19:33] j-haj commented on #450
Section 16 is Text Processing - is the intent for `ndarray` work to land in the text processing section?

[2018-10-01 19:36] AndyGauge commented on #450
Section 16 is Science.  It doesn't exist yet.  I think #452 Creates the Science section.

[2018-10-01 19:37] AndyGauge commented on #453
Section 7 is Database, it doesn't exist yet.  That will make Date Time turn into section 8.  You can combine them into a single PR.  I separated them in case you were going for hacktoberfest.

[2018-10-01 19:56] lnicola commented on #453
One stupid question: does it need `mdbook 0.1.8`? When I try to build it, I don't get a `book.css` file, so the styles are missing.

[2018-10-01 19:58] AndyGauge commented on #440
You don't have to tackle the whole thing, if you want to attempt some of it, we can split it up.

[2018-10-01 19:59] AndyGauge commented on #440
Also, I am not an expert in threading.  In fact, I don't know how to recognize idiomatic threaded code.  I'm sure we can pull in some other resources for this, but it might take some time.

[2018-10-01 19:59] lnicola commented on #453
Yeah, that was it. Nevermind.

[2018-10-01 20:10] AndyGauge commented on #456
There should be a new section 'Database' that comes after data structure.  SQLlite comes first then Postgres.

[2018-10-01 20:55] GuineaPiet commented on #448
Let me know if more things are needed and I'll adjust the PR accordingly 😃

[2018-10-01 21:13] lnicola opened #459 "Bump reqwest to 0.9"
`reqwest 0.9` was recently released, using `hyper 0.12`. A couple of examples need to be updated because of the header changes. It should also help with `openssl` compatibility -- I can't build the examples because of a version mismatch.

I'll try to work on this.

[2018-10-01 21:14] AndyGauge commented on #459
I've been watching hyper::headers and I don't think this is ready.

[2018-10-01 21:15] AndyGauge commented on #459
actually, I"m going to close this in favor of https://github.com/rust-lang-nursery/rust-cookbook/issues/419

[2018-10-01 21:18] lnicola commented on #459
From the currently-enabled examples, the hardest to port seems to be the partial downloads one.

[2018-10-01 21:19] AndyGauge commented on #459
I guess you are right about the enabled issues moving to 0.9, I was thinking about just the header examples.  I reopened this.  My bad.

[2018-10-01 21:51] robertDurst commented on #455
I'd like to take a shot at this if it hasn't been claimed yet!

[2018-10-01 21:59] AndyGauge commented on #455
I'm struggling with this, as this relies on #454
You want them both?

[2018-10-01 22:05] robertDurst commented on #455
I can, but also want to leave it open for anyone else doing Hacktoberfest :)

[2018-10-01 22:06] AndyGauge commented on #455
That's why I made them separate, to help out with the hackathon!

[2018-10-01 22:07] robertDurst commented on #455
Cool, can I maybe claim #454 instead then?

[2018-10-01 22:09] AndyGauge commented on #453
So I have additional interest in #454, let me know if you would like to claim 454, and if so, could you provide the structure so they could work on 455.

[2018-10-01 22:10] pduzinki commented on #449
I’d like to claim this one :)

[2018-10-01 22:29] lnicola commented on #455
Should we also have a recipe for transactions? Either here or separate.

[2018-10-01 22:31] AndyGauge commented on #455
#455 claimed by @robertDurst pending #454 structure.

[2018-10-01 22:31] robertDurst commented on #455
Cool @lnicola ! I'll keep my eyes peeled.

Thanks @AndyGauge !

[2018-10-01 23:30] mfajer commented on #450
I'll work on this one.

[2018-10-01 23:44] AndyGauge commented on #450
@mfajer do you want all of them or just a few?  Feel free to do individual PRs per recipe.

[2018-10-01 23:49] j-haj commented on #450
@mfajer FYI I have started working on the vector sum item

[2018-10-02 00:03] j-haj commented on #450
Per #452, I think this work belongs under `linear-algebra`, so the directory layout will be `src/science/mathematics/linear-algebra/`.

[2018-10-02 00:33] mfajer commented on #450
@AndyGauge I will do individual PRs per recipe so that @j-haj and others can contribute.

[2018-10-02 16:02] #448 closed

[2018-10-02 16:10] JamesHinshelwood commented on #445
So, I'm thinking of just a couple of samples. One where we calculate the angle of a triangle with side lengths X and Y. Then maybe another sample where we verify sin X/cos X = tan X for some specific value of X.
@AndyGauge How does this sound?

[2018-10-02 16:12] AndyGauge commented on #445
Two distinct samples would be good.  I'm really looking for something that anyone taking high school level math could reason.  Those examples are definitely reasonable.  You also have some wiggle room in there if you hit a roadblock with that specifically.

[2018-10-02 16:31] lnicola commented on #454
Claimed by myself as discussed in #453.

[2018-10-02 19:06] JamesHinshelwood commented on #450
@j-haj @mfajer I would like to help out with some of these recipes, if they aren't already being worked on. Which are in progress? Would I be safe to start with some of the matrix stuff?

[2018-10-02 19:34] j-haj commented on #450
@JamesHinshelwood yea! I have a PR for the vector sum example and will have another PR for the vector norm example shortly, so those two are good. I'm not sure what @mfajer is working on but as far as I am aware everything else is up for grabs.

[2018-10-02 22:07] #438 closed

[2018-10-02 22:14] #453 closed

[2018-10-03 01:03] JamesHinshelwood commented on #450
`ndarray` does not provide a method to calculate the inverse of a matrix. This is provided by the [`ndarray_linalg`](https://docs.rs/ndarray-linalg/0.10.0/ndarray_linalg/index.html) crate - should we use this?

Or perhaps we could use `nalgebra`? (which I have a personal preference for :wink:)

[2018-10-03 01:19] j-haj opened #469 "Error running cargo test due to num-rational crate"
I am getting a number of errors when running `cargo test` that seem related to the `num-rational` crate. The error message are along the lines of
[code]
 and
[code]

Steps to reproduce:

1. `cd` into the root cookbook dir
2. Run `cargo test`

[2018-10-03 01:28] j-haj commented on #450
@JamesHinshelwood on the one hand the current examples use `ndarray`, so maybe `ndarray_linalg` would be more familiar. On the other, `nalgebra` seems more complete and is probably would I would choose if I were going to do any kind of linear algebra. My vote is for `nalgebra` due to its completeness and has the advantage of exposing readers to multiple options.

[2018-10-03 04:50] lnicola commented on #453
This was closed by mistake, can you please reopen it?

[2018-10-03 04:51] lnicola commented on #454
This was closed by mistake, can you please reopen it?

[2018-10-03 04:52] lnicola commented on #459
Closed by #460

[2018-10-03 04:52] #459 closed

[2018-10-03 10:42] j-haj commented on #469
It happens on master; however, when I made a clean, separate clone of master everything ran fine. It appears in my copy of master the `num-rational` crate is 0.1.something and in the newly cloned master it is 0.2.something.

I ran `cargo clean` and now everything works as expected.

[2018-10-03 10:48] j-haj commented on #469
I spoke too soon.... I actually had to run `cargo update && cargo clean` and now things appear to be working.

[2018-10-03 10:48] #469 closed

[2018-10-03 15:08] robertDurst commented on #455
Is this good to begin? @lnicola

A bit swamped in work today but will do have this done by Thursday Night/Friday.

[2018-10-03 15:10] lnicola commented on #455
@robertDurst You should probably base your code on #464. I'm not really planning to make any changes (unless I get some feedback otherwise), but it wasn't merged yet because of a Windows CI issue.

[2018-10-03 17:13] lnicola commented on #455
Yeah, you'll probably want to use `rust,no_run` in your code sections to avoid that issue.

[2018-10-03 18:32] MagnumOpus21 commented on #440
It makes sense to split this up.

[2018-10-03 22:09] #446 closed

[2018-10-03 22:12] #445 closed

[2018-10-04 00:04] AndyGauge opened #472 "Science links broken"
In fact every link in Science is currently broken 😟
They link to e.g. https://rust-lang-nursery.github.io/rust-cookbook/science/mathematics/complex-numbers.html, which don't seem to exist.

[2018-10-04 01:09] mfajer commented on #450
Sorry, got caught up with work and couldn't comment until now.  I had done a few iterations of the vector norm example but @j-haj beat me to it so I just commented on his PR to give some thoughts.  I would also vote for algebra, it seems less generic by sticking to vectors and matrices but in a much nicer framework than ndarray-linalg for example.

[2018-10-04 01:33] mfajer commented on #450
@AndyGauge looking through those discussion it appears you want to use ndarray in the Science section and not algebra, is that correct?  I'll rework by scalar * matrix * vector example then.

[2018-10-04 01:45] mfajer commented on #450
Nevermind, I just read through #471 and it looks like the only outstanding examples are the matrix inversion and sterilization/deserialization.

[2018-10-04 13:40] JamesHinshelwood commented on #472
@AndyGauge @j-haj I will investigate and (hopefully) fix this now, if it's not already being worked on.

[2018-10-04 18:12] JamesHinshelwood opened #474 "crossbeam::Scope links are broken"
It seems in 0.3 -> 0.4, crossbeam moved `Scope` from `crossbeam::Scope` to `crossbeam::thread::Scope`. Perhaps the advice to always use `*`s in links isn't the best - ideally we would have the link go to the latest semver compatible version, but for now we could just use the same version as we have in `Cargo.toml` and simply try to stay up to date with crate updates.

[2018-10-04 18:15] AndyGauge commented on #474
Did the linkchecker catch it?

[2018-10-04 18:16] JamesHinshelwood commented on #474
Yeah it did

[2018-10-04 18:17] AndyGauge opened #475 "Link Checker erroring in Travis CI"
0.03s$ ./ci/install_deps.sh
Running ./ci/install_deps.sh
Installing additional dependencies
pyenv: version `3.6' not installed
The command "./ci/install_deps.sh" failed and exited with 1 during .
Your build has been stopped.

[2018-10-04 18:18] sn99 commented on #440
I could work this one but it might take a 4-5 days

[2018-10-04 18:30] AndyGauge commented on #450
I hear a vote for nalgebra in Science, It is plausible that we will end up there.

[2018-10-05 18:12] lnicola commented on #475
Can we RIIR `link-checker`? A couple of days ago I almost fell asleep waiting for it to run.

[2018-10-05 20:43] lnicola commented on #474
Fixed by #467.

[2018-10-05 23:54] AndyGauge commented on #475
Sure, but it is not a CPU bound problem, but an IO bound problem.

[2018-10-05 23:59] #474 closed

[2018-10-06 04:17] robertDurst commented on #455
@AndyGauge and @lnicola I will have to "unclaim" this. Got very busy and will not quote have time :(

[2018-10-06 15:17] pduzinki commented on #449
PR #477

[2018-10-06 16:32] pduzinki opened #479 "'Vector Sum' 'Vector norm calculation' links broken"
'Vector Sum' 'Vector norm calculation' in Science sections are broken (error 404). I cannot found those recipes in book, tough source code can be found in repository. I believe that they should be added, but not sure where.

[2018-10-06 18:17] JamesHinshelwood commented on #479
Will be fixed by #478

[2018-10-06 19:28] pduzinki commented on #479
It won't be fixed with #478, since that PR only fixes broken links to visible chapters. 'Vector sum' and 'Vector norm calculation' are not visible in the book right now, though proper .md files are in src directory. I could make a PR adding them, but I'm not sure where should it be placed (either 'Mathematics' chapter, or maybe create 'Linear algebra' subchapter )

[2018-10-06 20:10] JamesHinshelwood commented on #479
Vector sum and norm were added after I made the PR. I just need to rebase.

[2018-10-08 22:10] #472 closed

[2018-10-08 22:32] JamesHinshelwood commented on #479
Fixed by #473

[2018-10-09 16:05] #475 closed

[2018-10-10 20:37] AndyGauge opened #483 "Absolute Links"
https://github.com/rust-lang-nursery/rust-cookbook/pull/482#issuecomment-428722127

[2018-10-10 22:15] #483 closed

[2018-10-11 20:05] j-haj commented on #440
Just as a heads up for anyone interested in this issue, I am working on a message passing example with `crossbeam`

[2018-10-11 20:57] AndyGauge commented on #479
I'm closing, I think this is resolved now. (currently resolved)

[2018-10-11 20:57] #479 closed

[2018-10-11 20:57] AndyGauge commented on #456
Do you want the aggregate recipe, or should I un-claim the issue?

[2018-10-11 20:59] AndyGauge commented on #454
I'm available to help if you need anything

[2018-10-11 21:02] lnicola commented on #454
It was implemented in #464, right?

[2018-10-11 21:03] AndyGauge commented on #454
I didn't read the recipe, I just read the title, but it looks like it was.  I'll close this and update the Recipe Title.

Thanks!

[2018-10-11 21:03] #454 closed

[2018-10-11 22:41] AndyGauge opened #488 "SQLite unused id"
test initialization_sect_create_a_sqlite_database_line_10 ... ok
warning: field is never used: `id`
 --> /tmp/rust-skeptic.1Pj6bBl4LxO2/test.rs:8:5
  |
8 |     id: i32,
  |     ^^^^^^^
  |
  = note: #[warn(dead_code)] on by default

[2018-10-11 23:02] KodrAus commented on #440
@j-haj Sounds good!

@MagnumOpus21 A good place to get started is [this section of the Rust book](https://doc.rust-lang.org/stable/book/second-edition/ch16-01-threads.html). It has a lot of examples of using the [`std::thread`](https://doc.rust-lang.org/std/thread/index.html) and [`std::sync`](https://doc.rust-lang.org/std/sync/index.html) modules for concurrency. If you'd like to take a shot at o

[2018-10-12 03:04] vishalsodani commented on #456
I would like to do the aggregate recipe. What would you like to see in this recipe ? Count(*) , max ?

[2018-10-12 03:09] AndyGauge commented on #456
How about sort authors by number of books?

[2018-10-12 03:13] vishalsodani commented on #456
ok. The insert recipe did not show inserting data into the Book table. So, should I start by showing inserting data into the Book table and the do the sort query?

[2018-10-12 11:39] vishalsodani commented on #455
@AndyGauge Can I claim this ?

[2018-10-12 14:57] AndyGauge commented on #455
Yes.  Please perform Inserts and Querying in a recipe to show off Joining the two tables.  I'll create an Issue for Transactions.

[2018-10-12 14:58] AndyGauge opened #490 "Recipe: SQLite Transactions"
After #455 show off transactions, and aborting a transaction

https://github.com/rust-lang-nursery/rust-cookbook/issues/455#issuecomment-426085522

[2018-10-16 17:59] lnicola commented on #488
Is this in my recipe? There's no `id` field there.

[2018-10-16 19:21] stanciuadrian commented on #490
I would like to work on this one.

[2018-11-14 14:08] ivandardi opened #497 "Update the random number generation page to use rand 0.6"
The `rand` crate just released its 0.6 release, so the cookbook should be updated accordingly, especially since the API got a big more ergonomic to use.

Here's an update guide: https://rust-random.github.io/book/update-0.6.html

Here's an overview of how code with `rand` looks like: https://rust-random.github.io/book/overview.html

The biggest benefit is the `random()` function being able to gene

[2018-11-15 04:13] Immortalin commented on #436
Also server-side auth: user registration, login/logout, confirmation emails, the various different token based authentication methods and protocols, multifactor (e.g. U2F), email-only auth, securing APIs etc.

[2018-11-25 14:04] xcthulhu opened #500 "Get An Unused TCP/IP (or UDP) Port"
This is a duplicate of #123 , but I was hoping for a slightly different solution than the one provided there.

I was hoping to get a free port so I can make a temporary postgres database listen on it while I am running database tests.

I found a nice answer on this blog: https://elliotekj.com/2017/07/25/find-available-tcp-port-rust/

Here is how I look for available ports:

[code]

I have made one

[2018-11-26 23:02] mulkieran commented on #370
failure had a new release fairly recently: https://github.com/rust-lang-nursery/failure/releases/tag/0.1.3.

and it is closing the gap on error-chain wrt. daily and all-time downloads.

My real goal is to get failure into the Rust playground, but I see we have a chicken and egg problem here ;-(

[2018-11-28 16:07] stjepang opened #501 "Unix signal handling"
It'd be nice to include an example for signal handling on Unix-like platforms.

Currently, the go-to solution is to look up [`chan-signal`](https://github.com/BurntSushi/chan-signal) (which is deprecated) and then copy-paste the example for the readme that is using [`signal-hook`](https://github.com/vorner/signal-hook) and [`crossbeam-channel`](https://github.com/crossbeam-rs/crossbeam/tree/master

[2018-11-28 19:12] vorner commented on #501
My guess is, bounded channels are considered the „default“ and unbounded are used only if you have some reasons. Mostly because with bounded channels, there's no risk of exhausting the RAM if the reader doesn't keep up.

If the write end becomes blocked, the signals will get coalesced together, which is usually fine.

[2018-11-28 19:16] BurntSushi commented on #501
@vorner's reasoning is exactly why I did it. I always try to use bounded channels unless there's a specific good reason to do otherwise.

[2018-11-28 21:22] stjepang commented on #501
Makes sense. But... (I don't know a lot about `signal-hook`) does that mean some signals could be dropped, e.g. if we send 1000 signals in quick succession?

[2018-11-29 09:33] vorner commented on #501
It means that some *instances* of the signals might be dropped. But you'll always get at least one of each kind ‒ so if someone sends you 950* SIGINT and 50* SIGUSR1, you'll get at least one of each.

This is not a speciality of signal-hook, it's how the OS works ‒ signals have a flag semantics, if they happened since last time anyone looked, not how many times. Signal-hook only can magnify the ef

[2018-12-04 18:20] BurntSushi opened #502 "on error handling"
I realize opinions might run a bit strong here, but I'd like to make a case against the use of `error-chain` (or `failure`) for error handling in the cookbook examples. I think the error handling mechanisms provided by the standard library should be used instead.

Some background: I've been using Rust for a long time (since before 1.0), so the cookbook isn't actually something I've ever read in cl

[2018-12-04 19:39] budziq commented on #502
Let me start that I love your feedback and hope to make it into something actionable!

I agree that the current error handling situation is less than ideal, mostly due to `error-chain` being both too "magical" and heavyweight. Also I second that if the whole error handling can be performed with builtin / imported `Result` / `Error` types the `error-chain` usage should ideally be removed.

I can't

[2018-12-04 20:18] AndyGauge commented on #502
Wow, there's a lot of thought in there that I can appreciate.

I personally have seen more and more movement towards a specified Enum of Error variants.  I personally like that approach because it defines in the code the error types expected and doesn't require learning a library's macro to use.  Here is Hyper's [error enum](https://hyper.rs/hyper/v0.10.5/hyper/error/enum.Error.html).  Here's a [s

[2018-12-04 20:22] #447 closed

[2018-12-05 13:05] BurntSushi commented on #502
I think this might come down to folks weighting the negativity of boiler plate differently. To me, adding a 4 line main function to each example in exchange for making the example explicit and easy to understand, is a trade well worth making. Note that the `main` function probably never grows, or at least, [doesn't grow much](https://github.com/BurntSushi/ripgrep/blob/1d4fccaadc0c5ec805202ff7d451f

[2018-12-05 22:56] budziq commented on #502
Big :+1:

It's admittedly my very subjective take on how we ought to present the teaching material. We established it without any prior teaching experience mostly based on "gut feeling" so nothing is set in stone and any ideas are welcome  :)

Yep we are totally on board with this idea as @AndyGauge mentioned its already on the agenda.

That is true but I'm worried a out two things:
1. What level

[2018-12-06 13:35] BurntSushi commented on #502
I don't think you can really solve this completely. Even if `failure` evolves a year from now with something that's based on the fixes to the standard library `Error` trait into something that gains near universal adoption, you will still always have cases where libraries want to create their own [structured errors](https://docs.rs/csv/1.0.2/csv/enum.ErrorKind.html). At the end of the day, those e

[2018-12-06 13:35] BurntSushi commented on #502
I don't think you can really solve this completely. Even if `failure` evolves a year from now with something that's based on the fixes to the standard library `Error` trait into something that gains near universal adoption, you will still always have cases where libraries want to create their own [structured errors](https://docs.rs/csv/1.0.2/csv/enum.ErrorKind.html). At the end of the day, those e

[2018-12-08 02:51] #449 closed

[2018-12-10 14:28] gnzlbg opened #504 "How to pass argc and argv to C FFI ?"
Many libraries require forwarding them `argc` and `argv` from Rust, ideally, without allocating any memory.

I thought this would make for a good "cookbook" example.

[2018-12-14 14:36] AndyGauge opened #505 "Science - Mathematics -Statistics empty"
Something went wrong recently and the Statistics section is blank.

[2018-12-14 14:41] AndyGauge opened #506 "Remove Error-chain from examples not requiring it"
Per #502 these are identified as needing error-chain removed:

 [ ] https://rust-lang-nursery.github.io/rust-cookbook/concurrency/threads.html#calculate-sha1-sum-of-iso-files-concurrently
 [ ] https://rust-lang-nursery.github.io/rust-cookbook/cryptography/hashing.html#sign-and-verify-a-message-with-hmac-digest
 [ ] https://rust-lang-nursery.github.io/rust-cookbook/cryptography/encryption.html#salt

[2018-12-22 17:58] Munchotaur commented on #446
There is a minor error in this recipe. Paris is to the east of the prime meridian, so its coordinates should be assigned with a positive longitude, not negative:

`    let (paris_latitude_degrees, paris_longitude_degrees) = (48.85341_f64, 2.34880_f64);`

[2018-12-26 10:03] KappaDistributive commented on #450
In #508, motivated by Andy Gauge's endorsement of nalgebra, I proposed an example of matrix inversion.

I'd like to point out that this opens the door to many fundamental tasks in linear algebra. Examples:

- calculating the determinant of a given square matrix,

- calculating the included angle between two vectors,

- calculating the area of the parallelogram spanned by two vectors,

- determinin

[2018-12-27 17:33] KappaDistributive commented on #400
Since this issue seems to be vacant, I'd like to pick it up.

But I'm not sure where is should go in the new structure of the book. I'm thinking to insert it as

[2019-01-04 22:05] nehri97 commented on #506
The current recipes for APIs under Clients up on the website are faulty as they omit the error_chain crate in the examples given. The extern crate was removed, but the behavior it induced was not, with Result<()> being prominent in these examples. The error_chain should either be added again, or removed properly this time

[2019-01-10 22:13] #400 closed

[2019-01-23 04:40] AndyGauge opened #513 "deprecation warning for errorchain"
warning: use of deprecated item 'std::error::Error::cause': replaced by Error::source, which can support downcasting
  --> /tmp/rust-skeptic.7Rpc9Z7uvsuK/test.rs:13:1
   |
13 | / error_chain! {
14 | |    foreign_links {
15 | |        CsvError(csv::Error);
16 | |        ParseInt(std::num::ParseIntError);
...  |
20 | |    }
21 | | }
   | |_^
   |
   = note: this error originates in a macro outside o

[2019-01-25 23:52] AndyGauge opened #514 "Broken links"
* './book/index.html'
	/home/travis/build/rust-lang-nursery/rust-cookbook/book/science/mathematics/statistics/central-tendency.html
	/home/travis/build/rust-lang-nursery/rust-cookbook/book/science/mathematics/statistics/standard-deviation.htmla
* './book/print.html'
	/home/travis/build/rust-lang-nursery/rust-cookbook/book/science/mathematics/statistics/central-tendency.html
	/home/travis/build/rus

[2019-01-26 00:05] AndyGauge opened #515 "Change SQLite example to execute_batch"
https://github.com/rust-lang-nursery/rust-cookbook/pull/512#issuecomment-453835027

[2019-01-26 00:06] #497 closed

[2019-01-26 00:16] #490 closed

[2019-03-08 19:45] lwshang commented on #515
The pull request has been merged. Shouldn't this be closed?

[2019-03-08 19:49] lwshang commented on #504
Is there any blog/post on this topic?

[2019-03-08 21:03] #515 closed

[2019-03-18 03:57] brandonros commented on #397
I think it'd be a huge help to show how to fire off 2 HTTP requests at once. I feel like that would introduce a much more "real word"-like workload.

It's going to introduce Futures, tokio, an executor, and all of that stuff? Right?

[2019-03-20 07:57] kud1ing opened #518 "Category overview does not show grouping by sections"
Maybe there is an issue already for this, but i could not find it.

Example:

* click on "Date and Time" https://rust-lang-nursery.github.io/rust-cookbook/datetime.html
* on the left there are the sections "Duration and Calculation" and "Parsing and Displaying"
* on the right there is just a flat list of topics, not grouped by section

I personally find that confusing and would prefer it if the to

[2019-04-12 07:07] kinggoesgaming opened #523 "Cookbook examples for uuid"
Come up with ideas for nice introductory examples of using` uuid`, if need be showing in combination with other crates, that would be good to show in the Rust Cookbook. Leave your ideas here. PRs with example welcome.

[2019-04-12 15:12] AndyGauge commented on #518
If someone wants to come up with a different style for the overview than we'd be happy to review it.  Here's the [file](https://raw.githubusercontent.com/rust-lang-nursery/rust-cookbook/master/src/datetime.md).  Maybe creating a row within the table that has a styled section heading would look ok?

[2019-04-12 15:15] AndyGauge commented on #523
In issue #434 we decided that `uuid` was a bit esoteric and the use case was already well documented.  What the cookbook wants to solve is universal problems for many developers showing real world examples.

[2019-04-12 15:15] #523 closed

[2019-04-12 16:06] #514 closed

[2019-04-13 06:16] kud1ing commented on #518
Oh, i haven't realised, this is not generated.

Maybe something like

[code]

[2019-04-14 22:41] KappaDistributive commented on #456
Are there any other recipes that we would like to add to the Postgres section?

[2019-04-16 04:24] #506 closed

[2019-04-16 12:53] KappaDistributive commented on #504
Right now, there isn't really a chapter on [Rust's FFI](https://doc.rust-lang.org/nomicon/ffi.html) in the cookbook and I'm wondering whether adding this (and related) examples would overreach the goals of the current treatment of the FFI in the cookbook. I.e. I think, if we decide to pursue this goal, we should create a dedicated chapter on the FFI first.

That being said, in a previous discussio

[2019-04-16 13:05] gnzlbg commented on #504
Isn't there a Rust FFI book somewhere? That might be something worth pursuing instead.

[2019-04-16 13:48] KappaDistributive commented on #504
@gnzlbg There is a chapter about [FFI in the Rust book](https://doc.rust-lang.org/book/ffi.html) if that's what you meant.

[2019-04-16 14:00] gnzlbg commented on #504
No, I meant a book whose only purpose is to cover how to use Rust FFI features to interface with the rest of the world (e.g. this issue would just be a tiny part of such a book).

[2019-04-16 15:34] AndyGauge commented on #456
I'm closing this issue, if new postgres ideas come up we can open new issues.  Thanks!

[2019-04-16 15:34] #456 closed

[2019-04-16 15:35] AndyGauge commented on #518
Seems reasonable.

[2019-04-16 15:37] AndyGauge commented on #504
There's the [nomicon](https://doc.rust-lang.org/nomicon/ffi.html) and [The unofficial Rust FFI Guide](https://michael-f-bryan.github.io/rust-ffi-guide/overview.html)

[2019-04-16 21:03] AndyGauge commented on #439
Turns out reqwest does this natively, by default.  Literally nothing to show.  Bad example.

[2019-04-16 21:03] #439 closed

[2019-04-16 21:07] AndyGauge commented on #433
cc #525

[2019-04-16 21:45] AndyGauge opened #528 "Rewrite error handling in about"
https://rust-lang-nursery.github.io/rust-cookbook/about.html#a-note-about-error-handling

Should not reference the `run` function that was originally part of the recipes

[2019-04-22 10:17] subodhu opened #529 "Salt and hash a password with PBKDF2 compliation error"
The code in section [Salt and hash a password with PBKDF2](https://rust-lang-nursery.github.io/rust-cookbook/cryptography/encryption.html#salt-and-hash-a-password-with-pbkdf2) results in compilation error.
Here is the errot

[code]

[2019-04-24 04:28] AndyGauge commented on #529
Adding `use std::num::NonZeroU32` towards the top and changing `const N_ITER: u32 = 100_000;` to `const N_ITER: NonZeroU32 = 100_000;` should fix this.

[2019-04-24 06:28] vityafx commented on #513
Related to: https://github.com/rust-lang-nursery/error-chain/issues/254

[2019-04-24 15:09] AndyGauge commented on #513
https://users.rust-lang.org/t/error-chain-is-no-longer-maintained/27561
This would be a big change for the cookbook.

[2019-05-05 13:53] pickfire opened #530 "Update examples to 2018 edition"

[2019-05-10 17:00] AndyGauge commented on #513
https://crates.io/crates/error-chain/0.12.1

[2019-05-10 17:00] #513 closed

[2019-05-13 02:52] devMYC commented on #529
@AndyGauge it didn't work for me

[code]

And if you do this `const N_ITER: NonZeroU32 = NonZeroU32::new(100_000u32).unwrap();`, you'll get another error

[code]

My solution is to use `let n_iter = NonZeroU32::new(100_000u32).unwrap();` and replace `N_ITER` with `n_iter`. Not really sure if that's the correct way to solve the problem tho.

[2019-05-13 14:57] AndyGauge commented on #529
How about`.new_unchecked(100_000u32)`  The cookbook tries to emphasize not using unwrap.  This is an example where obviously the static value is not zero, however, `.new_unchecked` is there for this sort of static assignment.

[2019-06-09 08:36] subodhu commented on #529
It does work with `new_unchecked` if I upgrade the ring version to latest and it is also unsafe function. If it's OK, I'll send the pull request.

[2019-07-30 13:16] evitalis opened #537 "Move the PBKDF2 code to hashing section"
When I read the header of encryption I think of something reversible, say using AES or the like, but the example specifically stated it's a hash. To me it would make more sense to move this code under the hashing section. Would this be something reasonable to adjust?

[2019-08-02 14:10] neetdai opened #539 "Error: Couldn't open SUMMARY.md"
After run

`cargo install mdbook`
`mdbook server --open`

2019-08-02 21:59:56 [ERROR] (mdbook::utils): Error: Couldn't open SUMMARY.md
2019-08-02 21:59:56 [ERROR] (mdbook::utils):    Caused By: Can't find file or dir  (os error 3)

[2019-08-12 05:33] #539 closed

[2019-08-23 16:27] AndyGauge opened #541 "Replace ... with ..="
`warning: `...` range patterns are deprecated`

[2019-08-23 16:30] AndyGauge opened #542 "Dependent crates with lesser versions are being used by rust-skeptic"
6 | use rand::distributions::Alphanumeric;

  |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ no `Alphanumeric` in `distributions`

error[E0599]: no method named `sample` found for type `rand::ThreadRng` in the current scope

  --> /tmp/rust-skeptic.lV2m9aQedOqB/test.rs:13:29

   |

13 |     *p = (0..5).map(|_| rng.sample(&Alphanumeric)).collect()

   |                             ^^^^^^

5 | use rand::di

[2019-09-02 14:11] pickfire opened #544 "Cargo crate or rustup component"
It would be nice to install rust-cookbook through cargo.
[code]
Or maybe as rustup component.
[code]

[2019-09-11 16:23] evitalis commented on #529
Anymore thoughts on this? I have been using similar code to #538 but wondering if there is a more recommended way based on discussion in this thread. Would it also be safe to include #537 in whatever ends up happening here?

[2019-09-16 07:34] gkm2164 opened #546 "Some missing crate information on 3.1, "Decompress a tarball... prefix... paths""
Hi, I love this cookbook, and I feel fun with typing it on my vim screen :)
Thank you.

By the way, although the example shows a code which uses 'flate2' and 'tar' library, the code can't be compiled without "error_chain" crate. I found the problem by clicking the "expand" icon and could access the full source codes.

It would be better if "error_chain" crate is specified explicitly(and also #[mac

[2019-09-19 17:58] AndyGauge commented on #542
I've determined that nightly is picking up the build-dependency skeptic having rand 4 as a dependency and using an older version (not a newer one like previously thought).  Could be a bug in the rust-skeptic internals.

[2019-09-19 18:04] #541 closed

[2019-09-19 18:15] AndyGauge commented on #542
Looks like tempdir is deprecated in favor of tempfile (which uses rand 0.7).  I'm going to fork skeptic and try and make it work with tempfile.

[2019-09-19 18:18] AndyGauge opened #549 "Replace Tempdir with Tempfile crate"
tempdir is deprecated, uses old rand crate causes problems in nightly

[2019-09-19 19:13] workingjubilee commented on #549
[code]
There's a lot more than just one or two instances of rand in the tree.

[2019-09-19 20:05] #433 closed

[2019-09-19 22:45] #549 closed

[2019-09-19 22:50] AndyGauge commented on #546
Glad you love the book.

It's a valid point.  Towards the beginning of the book https://rust-lang-nursery.github.io/rust-cookbook/about.html#a-note-about-error-handling the expansion is discussed, but it is way overlooked.  Who wants to read an about section anyway?  Most people coming in will be heading for the good stuff--recipes that help them accomplish a task.  I'm going to move your comment

[2019-09-19 22:50] #546 closed

[2019-09-19 22:50] AndyGauge commented on #502
Hi, I love this cookbook, and I feel fun with typing it on my vim screen :)Thank you.By the way, although the example shows a code which uses 'flate2' and 'tar' library, the code can't be compiled without "error_chain" crate. I found the problem by clicking the "expand" icon and could access the full source codes.It would be better if "error_chain" crate is specified explicitly(and also #[macro_us

[2019-09-19 22:52] AndyGauge commented on #542
now its percent-encoding!  Submitted https://github.com/budziq/rust-skeptic/issues/111 for investigation

[2019-09-19 22:56] #528 closed

[2019-10-01 10:41] j-haj commented on #440
I have two examples for this: a simple single produce, single consumer example and a more complex example using the so-called ventilator pattern of a single produce to N consumers followed by N producers to a single consumer. I will have the PRs ready in a day or so.

[2019-10-02 23:45] mxxo commented on #450
Building on KappaDistributive's work with `nalgebra`, I made an example for finding matrix eigenvalues using the `nalgebra-lapack` helper crate (#553).

[2019-10-13 19:54] MightyPork commented on #500
This works, but it can fail due to TOCTOU - someone else can snatch the port before you open the real socket. A solution would be to return the socket you used for probing, e.g. in Option, or to use retries.

[2019-10-23 22:09] polybuildr opened #557 "percent-encode.md has some typos"
- The url badge links to Wikipedia instead of docs.rs
- The badge is confusing because it refers to "url" while percent-encoding now seems to be its [own crate] (though it still comes from https://github.com/servo/rust-url

[own crate]: https://docs.rs/percent-encoding/

[2019-10-28 22:37] XAMPPRocky opened #558 "Move Repository To rust-lang"
Hello, the current `rust-lang-nursery` organisation is considered deprecated, and the Rust Programming Language organisation is trying to consolidate managing Rust's GitHub organisations, as such we'd like you to consider moving your repository to the main `rust-lang` organisation instead.

### How Do I Move To `rust-lang`?
You won't be able to transfer your repository directly, you'll need to tra

[2019-10-28 22:44] AndyGauge commented on #558
I know Mark, but I'm not familiar with this process change.  I don't think it is wise to transfer the repository without a more official communication.  Can you link the announcement that rust-lang-nursery is deprecated?

[2019-10-28 22:54] XAMPPRocky commented on #558
@AndyGauge Hello, unfortunately there is no annoucement post for the deprecation. You can read where the Governance WG discussed this topic with core team members in the following discord link or by searching `in: wg-governance rust-lang-nursery` in the Rust Programming Language. This was a decision that was made awhile ago by the core team, but the work was never finished. This issue acts a conti

[2019-10-28 23:09] waynepiekarski commented on #327
Just wanted to chime in on this thread as someone who just started playing with Rust today. I used a Google search to find a sample in the cookbook https://rust-lang-nursery.github.io/rust-cookbook/file/dir.html#recursively-find-all-files-with-given-predicate - I used the copy button, but was alarmed to see that the text didn't match what I saw in the browser. I figured this was a bug. So I used t

[2019-10-28 23:16] AndyGauge commented on #327
Honestly, there's only a few recipes that hiding the boilerplate adds a huge value.  I've certainly heard more problems with the hidden-by-default nature.  I thought most of it would be solved by removing the recipes that don't leverage most of error-chains features, but it sounds like option 2 makes a lot of sense now.

[2019-10-28 23:20] AndyGauge commented on #558
Yeah, that's official enough for me.  It was kinda out of the blue and I couldn't find anything on rust users about it.

[2019-10-28 23:24] AndyGauge commented on #558
Whoops looks like that's above my pay grade here.  I don't have the settings on the main page, just write permissions.

[2019-11-11 10:53] danwilhelm opened #559 "Updates for ndarray 0.13"
The `ndarray` crate was [updated to 0.13](https://github.com/rust-ndarray/ndarray/blob/master/RELEASES.md).

This issue and corresponding PR:

1. Replace `Array::from_vec()` with `Array::from()`, since it is [now deprecated](https://github.com/rust-ndarray/ndarray/pull/648).
2. Replace manually calculated approximations with [`approx` traits](https://github.com/rust-ndarray/ndarray/pull/581), the

[2019-12-17 02:23] #557 closed

[2019-12-17 03:02] #559 closed

[2019-12-17 03:03] AndyGauge commented on #544
I think the cookbook is a good web resource, that happens to have an offline version/development instance.  I think most people who use it offline are actually contributors.  I'd love to hear otherwise.

[2019-12-17 03:04] AndyGauge commented on #542
Currently we are working around this issue by ignoring the nondeterministic failures.

[2019-12-17 03:09] AndyGauge commented on #558
So I just realized that our hosting is tied to nursery.  All of the google results, all of the external links are pointing to https://rust-lang-nursery.github.io/rust-cookbook/
While I would be fine moving the repo, I'd really want to make sure the hosting continues to resolve.  That's a bit of a challenge, and while I know github aliases renamed repositories, I have no idea what it does for jekyl

[2019-12-17 03:12] AndyGauge commented on #537
It looks like we haven't done any encryption in the cookbook.  I think that removing Encryption would be prudent.

[2019-12-17 03:12] AndyGauge opened #562 "Showcase encryption"
We are not doing any encryption in the cookbook.  Should we create recipes for encrypting & decrypting data/streams?

[2019-12-17 03:13] AndyGauge commented on #537
opened #562 to brainstorm encryption ideas.

[2019-12-17 03:15] #529 closed

[2019-12-17 03:15] AndyGauge commented on #530
Yes, please!

[2019-12-17 03:17] AndyGauge opened #563 "Remove hidden code"
Let's expand all the recipes.  Hidden code is a stumbling block for far too many people.

[2019-12-17 11:02] XAMPPRocky commented on #558
@AndyGauge I believe @pietroalbini has already set up a redirect so that any `rust-lang-nursery.github.io` 404 redirects to `rust-lang.github.io`.

[2019-12-20 15:36] AndyGauge opened #566 "AnsiTerm has a bad link"

[2019-12-20 15:37] AndyGauge commented on #566
https://rust-lang-nursery.github.io/rust-cookbook/cli/ansi_terminal.html
 [ansi_term]:

[2020-01-05 18:19] prabhat99 commented on #530
What can I do to contribute to this problem?

[2020-01-05 21:40] AndyGauge commented on #530
The work is complete, if you would like to review the PR for anything that might trip somebody up using it that would be helpful.  Go https://github.com/rust-lang-nursery/rust-cookbook/pull/565/files and click review

[2020-01-06 01:07] pickfire commented on #530
@prabhat99 Reviewing the patch https://github.com/rust-lang-nursery/rust-cookbook/pull/565 would be nice.

[2020-01-14 01:28] raymondsiu opened #568 "Image host has an expired SSL certificate"
Image links on the Rust Book page are all broken due to the expired SSL certificate on the host.

Observed at URL: https://rust-lang-nursery.github.io/rust-cookbook/intro.html

Sample of the error: `GET https://badge-cache.kominick.com/crates/v/rand.svg?label=rand net::ERR_CERT_DATE_INVALID`

Certificate Dates:
[code]

[2020-01-14 01:29] AndyGauge commented on #568
yikes.  I'm not even sure who offered to maintain that cache.  I know we started using it because load times were long.

[2020-01-14 01:30] AndyGauge commented on #568
@jaemk do you know about this?

[2020-01-14 01:41] jaemk commented on #568
yikes -- looking now, certman appears to have forgotten about this service

[2020-01-14 02:02] jaemk commented on #568
Should be fixed now! Sorry about that - something must have gone wonky in my cluster.

[2020-01-14 02:04] raymondsiu commented on #568
Looks good now!

[2020-01-14 02:04] #568 closed

[2020-01-14 04:02] AndyGauge commented on #568
Thank you!

[2020-01-21 23:54] AndyGauge opened #569 "type annotations needed"
error[E0282]: type annotations needed for `rusqlite::MappedRows<'_, [closure@/tmp/rust-skeptic.W3uKvyKglSl5/test.rs:41:42: 46:6]>`

  --> /tmp/rust-skeptic.W3uKvyKglSl5/test.rs:42:9

   |

41 |     let cats = stmt.query_map(NO_PARAMS, |row| {

   |         ---- consider giving `cats` the explicit type `rusqlite::MappedRows<'_, [closure@/tmp/rust-skeptic.W3uKvyKglSl5/test.rs:41:42: 46:6]>`, where t

[2020-01-22 23:02] evitalis commented on #562
I would like to see something like this and am trying to work on a project doing some encryption myself. However I think #537 needs moved first to avoid being confusing for anyone else who happens to come across this.

[2020-01-25 21:31] dzervas commented on #500
This works only due to `SO_REUSEPORT` that was introduced in Linux 3.9 (search [here](http://man7.org/linux/man-pages/man7/socket.7.html)). This flag allows you to bind to a port and then rebind to it without closing the file descriptor (from what I understand). The regular behavior after you `bind` to a port (either if you use it or not) is for it to become unavailable for a minute or two (until

[2020-01-31 23:58] jmafc opened #570 "Postgres examples are outdated"
The crate name and version button both link to https://docs.rs/postgres/0.15.2/postgres/ even though the button says `v0.17.0`. More importantly, the later version has renamed the `Connection` struct as `Client`. Also, `TlsMode::None` needs to be replaced by `NoTls`.

[2020-02-21 20:19] Belval opened #571 "reqwest examples are outdated"
Since reqwest 0.10.1, it uses `async` by default, making most examples in the cookbook outdated.

I'll try and make a PR, but I do not think that have sufficient experience with the crate. I will also try to contact the project maintainers.

[2020-02-21 20:31] AndyGauge commented on #571
Good point.  We really ought to do some async stuff now that crates are starting to apply the core implementation.

[2020-02-21 22:22] kimstacy commented on #168
Greetings!

I'm a fledgling in the open source world, however I'd love to take on this task if help is still needed. Any feedback / advice along the way would also be greatly appreciated. Thank you!

[2020-02-21 22:33] AndyGauge commented on #168
Great!  Do you know how to fork and clone your fork locally?

[2020-02-22 00:10] kimstacy commented on #168
@AndyGauge I do! I'm so excited!

Thank you so much for asking! Are there any recent updates you'd like me to be aware of before approaching? I will be doing all of the necessary research through the existing codebase + related project updates before I begin. I will also post here should I have any questions along the way!

[2020-02-22 00:37] AndyGauge commented on #168
Sure,

This particular issue was a grounds for discussing naming of our samples.  I would say we officially landed keeping the cookbook theme, and as such should move towards reviewing the content and making changes that reflect the cooking theme, like examples should be recipes.  If you have time and are eager to review the language here, I'm happy to merge/support the process.  In fact I have a

[2020-02-22 03:34] pickfire opened #572 "Use mdbook-linkcheck"
https://lib.rs/crates/mdbook-linkcheck

It seemed better integrated with `mdbook` and uses the existing flow, `mdbook build`.

[2020-02-24 04:00] kimstacy commented on #168
@AndyGauge Thank you for clarifying! I am beyond impressed by how welcoming, kind, and supportive your organization is. Thank you for the helpful encouragement! I am eager to take this on and would love to help with additional projects. I intend to submit the updated revision this week.

[2020-02-24 04:15] kimstacy commented on #566
@AndyGauge I noticed that the first occurrence of `crate` is also part of the hyperlink.

I checked against other chapters to see what style was preferred, and noticed that `crate` is used differently [here](https://rust-lang-nursery.github.io/rust-cookbook/science/mathematics/linear_algebra.html#vector-comparison).

Would you also like `crate` to be unlinked in ANSI Terminal?

[2020-02-24 04:32] kimstacy commented on #566
Also:

Would you like `log` and `env_logger` in [Log Messages](https://rust-lang-nursery.github.io/rust-cookbook/development_tools/debugging/log.html) to link to crates.io's [log](https://crates.io/crates/log) and [env_logger](https://crates.io/crates/env_logger)?

I wasn't sure if you preferred both to be left alone, or if you had an alternative suggestion in mind.

Your input would be much appre

[2020-02-24 23:44] quaesaevum opened #573 "Does not compile with current ring crate v0.16.11 - Sect. 5.1 "Sign and verify a message with HMAC digest""
Section 5.1 does not compile, apparently due to name changes in ring ^0.16.1.

Updates appear to be only the names in the ring crate.

[2020-02-24 23:47] quaesaevum commented on #573
Locally this works:
[code]

[2020-02-25 00:07] AndyGauge commented on #573
care to submit a PR?

[2020-02-25 21:02] quaesaevum commented on #573
Opened PR.

First time contributor - please advise, admonish, etc. as needed.

[2020-02-26 16:23] AndyGauge commented on #566
Hey @kimstacy Thanks for the investigation.  If you look at https://rust-lang-nursery.github.io/rust-cookbook/intro.html you can see that all the 'badges' link to the crate docs.  The Log messages link you sent me I only see log and env_logger as badge links.  I might have otherwise missed what you are calling out, but badges should link to docs.

In ansi_term, the link "`ansi_term` crate" text is

[2020-03-11 22:03] Darksonn commented on #327
Will just mention that this is causing confusion: [link][1]

[1]: https://users.rust-lang.org/t/web-request-example/39358

[2020-03-11 23:48] AndyGauge commented on #327
@Darksonn I've started the process, and I just need somebody to finish it up https://github.com/rust-lang-nursery/rust-cookbook/pull/564

[2020-04-08 16:04] TianyiShi2001 opened #580 "rand-dist example outdated"
The example ["generate random numbers with given distribution"](https://rust-lang-nursery.github.io/rust-cookbook/algorithms/randomness.html#generate-random-numbers-with-given-distribution) `use`s `rand::distributions::Normal`, but it has been deprecated and moved to `rand_distr` crate.

[code]

I will try to make a PR.

[2020-04-12 00:13] JOE1994 commented on #569
I think this issue is resolved now after #582 was pushed to `master` 👍

[2020-04-12 19:27] #488 closed

[2020-04-14 10:50] swedebugia commented on #571
I suggest migrating the old examples to reqwest::blocking as soon as possible. It is an optional feature so it requires this line in the toml:
```reqwest = { version = "*", features = ["blocking"] } ```
I can prepare a pull request if you would like.

[2020-04-18 22:54] #570 closed

[2020-04-18 23:04] AndyGauge opened #585 "Links"
Summary: seen:6468 failed:9 unique:596
* './book/concurrency.html'
	/home/travis/build/rust-lang-nursery/rust-cookbook/book/concurrency/threads.html#calculate-sha1-sum-of-iso-files-concurrently
* './book/print.html'
	/home/travis/build/rust-lang-nursery/rust-cookbook/book/concurrency/threads.html#calculate-sha1-sum-of-iso-files-concurrently
	/home/travis/build/rust-lang-nursery/rust-cookbook/book/

[2020-04-19 13:50] #580 closed

[2020-04-30 05:46] samuela commented on #571
Yeah, the example here is outdated as `Response`s can no longer be `std::io::copy`d: https://github.com/rust-lang-nursery/rust-cookbook/blob/master/src/web/clients/download/basic.md

[2020-05-03 21:56] najamelan commented on #370
Failure has been [deprecated](https://github.com/rust-lang-nursery/failure/pull/347), so this can probably be closed.

[2020-05-03 22:20] najamelan commented on #502
In the mean time, error-chain [is unmaintained](https://users.rust-lang.org/t/error-chain-is-no-longer-maintained), and failure has been [deprecated](https://github.com/rust-lang-nursery/failure/pull/347). Yet this cookbook still shows error-chain all while the introduction says:

I think this cookbook should have dedicated recipes about error handling right at the beginning. One for apps and one

[2020-05-03 22:34] BurntSushi commented on #502
I wouldn't recommend `thiserror` for libraries without qualification. It adds a fairly hefty dependency. It might be good to have an example using `thiserror` (and perhaps `snafu`), but the dominant method for defining errors in library should be without a `derive` helper (unless one becomes available in `std`).

`main -> Result` works okay when you use `anyhow::Result`, but only because `anyhow`

[2020-05-03 22:53] najamelan commented on #502
Are you referring to compile times?

[2020-05-24 16:12] KappaDistributive commented on #450
@AndyGauge invert a matrix is present in `science/mathematics/linear_algebra` and hence should get a tick in your todo list.

[2020-05-30 18:05] KappaDistributive commented on #572
Note that this will also require updating `mdbook` to at least version `0.3.0`.

[2020-05-31 07:38] pickfire commented on #572
I wonder if there is still a maintainer for rust cookbook.

[2020-05-31 08:21] KappaDistributive commented on #572
@AndyGauge is still around -- don't worry.

As it is the nature with these side projects, attention/activity will fluctuate.

[2020-05-31 15:31] AndyGauge commented on #572
I won't rewrite the build scripts to use a different link checker, but will accept a PR that correctly moves to a rust solution.

[2020-05-31 15:52] AndyGauge opened #590 "`E0464`"
error[E0464]: multiple matching crates for `error_chain`
1883 --> /tmp/rust-skeptic.RsXzKwJjjHLT/test.rs:3:1
1884  |
18853 | extern crate error_chain;
1886  | ^^^^^^^^^^^^^^^^^^^^^^^^^
1887  |
1888  = note: candidates:
1889          crate `error_chain`: /home/travis/build/rust-lang-nursery/rust-cookbook/target/debug/deps/liberror_chain-dc031d0dbdd7aaa9.rlib
1890          crate `error_chain`: /home

[2020-06-01 00:26] #530 closed

[2020-06-01 00:26] #569 closed

[2020-06-01 16:04] pickfire commented on #572
I tried doing this but looks like the link checker implementation is quite different and there are some stuff that is not valid. I got confused on what how the link works, the error is pointing to some random place.

[2020-06-04 10:14] SOF3 opened #595 "Unreliable URL formatting"
In the example https://rust-lang-nursery.github.io/rust-cookbook/web/clients/apis.html#query-the-github-api, URL fragments are interpolated using `format!()`, which is insensitive to URL formats. This would result in issues when the user input contains invalid characters (such as spaces), or even lead to security vulnerabilities if the method is `POST` and parameters contain slashes.

[2020-06-05 05:28] SOF3 commented on #595
That seems to solve the issue of getting spaces in URLs. But what about slashes? Some validation might be preferable, otherwise people reading these examples might introduce sec vulns in the future.
I'm not sure about how much cookbook cares about validation/security so idk if this needs to be fixed.

[2020-06-06 23:48] AndyGauge opened #596 "reqwest::headers"
We ignored and filtered the headers recipe, but now `reqwest` headers work.

https://github.com/rust-lang-nursery/rust-cookbook/blob/master/src/web/clients/requests/header.md

https://stackoverflow.com/a/47912021/5586783
https://docs.rs/reqwest/0.10.6/reqwest/header/index.html

[2020-06-07 02:12] #571 closed

[2020-06-07 02:22] #585 closed

[2020-06-07 18:40] #542 closed

[2020-06-07 18:40] #590 closed

[2020-06-09 15:25] kaboomshebang opened #603 "[wishlist] Include a reference to `cargo.toml`"
Including a reference to the books `cargo.toml` file would be helpful with trying out the examples.
[Link to cargo.toml](https://github.com/rust-lang-nursery/rust-cookbook/blob/master/Cargo.toml)

For example: somewhere in [About/How to use the recipes](https://rust-lang-nursery.github.io/rust-cookbook/about.html)

This dependency took some Googling to find out. I just never realized I could find

[2020-06-13 21:17] #566 closed

[2020-06-13 21:18] #450 closed

[2020-06-13 23:01] #401 closed

[2020-06-14 08:00] KappaDistributive commented on #603
Could you provide a rough draft of what kind of information you'd like to include?

[2020-06-14 16:11] AndyGauge commented on #603
I think we can embed the Cargo.toml file within about.md in the How to use recipes section by using {{#link ../../Cargo.toml}} but we should also add a note about features in the recipes that require it (I know the new async recipes need `features = ["full"]` added to the recipe description).

[2020-06-15 20:24] KappaDistributive opened #607 "(De)-Serialize a Matrix fails in playground"
(De)-Serialize a Matrix fails in playground with the following output:

[code]

The same code, using the same `Cargo.toml`, works perfectly fine on my machine. Am not sure what's going on...?!

[2020-06-29 14:30] fox0 commented on #123
[code]

[2020-07-02 08:23] drmason13 commented on #502
I think the cookbooks use of error-chain gives the false impression that error-chain is the current, favoured error-handling library.

We could update to use the latest error handling libraries thiserror and/or anyhow, but it's hard to know there won't be a new error handling library in a year or two.

For that reason, using only std for error handling becomes desirable.

On the other hand, since

[2020-07-03 09:06] steve-tyler opened #609 "Standard deviation function actually calculates population standard deviation"
The example at [standard deviation](https://rust-lang-nursery.github.io/rust-cookbook/science/mathematics/statistics.html#standard-deviation) actually calculates the population standard deviation eg for a population of [1,2,3] the the function returns 0.816.. and not 2 this can be confusing as the title indicates it actually gives the standard deviation

[2020-07-03 09:08] #609 closed

[2020-07-11 11:08] igiagkiozis opened #611 "Adding plotting examples using Plotly.rs"
Hi,

Given that plots are essential for analytics, in my view, there should be examples on plot creation for rust. I'm the author and maintainer of the [Plotly.rs library](https://github.com/igiagkiozis/plotly) and I would be happy to contribute a few examples to the cookbook. If you agree that would be a good idea please let me know and I'll plan to submit a pull request.

[2020-08-03 11:12] paulirotta commented on #377
Deprecated

[2020-08-03 11:12] #377 closed

[2020-08-18 09:46] techieshark commented on #164
It seems like the world has room for multiple cookbooks, of any given type.

Should this issue be closed?

[2020-08-19 09:35] papac25 commented on #440
how can u determine if you have been hacked

[2020-08-19 09:36] papac25 commented on #440
#- - - cschneid

[2020-08-19 15:25] #573 closed

[2020-09-01 04:42] papac25 opened #613 "| | |"
|  |  |
| ------------- | ------------- |
| Crates  | std,  crossbeam_channel |
| Section  | 4.3 Sharing data between threads  |

    - shared ownership with `Arc`
    - shared stack with `crossbeam`
 __

[2020-09-04 17:13] paridhi7 commented on #168
@AndyGauge @brson Hi, I'm new to open source and would love to work on this!

[2020-09-26 23:12] c12i opened #616 "Update chapter 2.1 Clap basic"
The current code example will not compile if you use the `clap v3.0.0-beta.2`, the version indicated above it. In this version of `clap`, the `Arg` struct no longer has the `with_name` or the `help` methods. Instead, use the `new` and `about` methods respectively:
[code]
Also, the newer `short` method now accepts  a `char` type rather  than `&str` as a parameter.

[2020-11-10 01:49] carrascomj commented on #362
Resurrecting this thread...

What do you think of Linear Programming examples with https://github.com/jcavat/rust-lp-modeler and/or https://github.com/ztlpn/minilp? Both provide some examples that could be nicely put in the cookbook.

[2020-11-10 06:53] ben0x539 opened #618 "REST API example may break due to versioning shenanigans"
A pal just ran into this and was stumped: If you copy the first example from [web/clients/api/rest-get.md](https://github.com/rust-lang-nursery/rust-cookbook/blob/4789410122527d556a3520204e5bab637326e13f/src/web/clients/api/rest-get.md) into a new cargo binary project and add the latest versions of reqwest and tokio to your Cargo.toml so it builds, you panic because #[tokio::main] is coming from a

[2020-11-10 15:19] AndyGauge commented on #618
We've had similar insights into other recipes.  We've tried to avoid that two ways: 1 there's a cargo.toml file in the cookbook https://github.com/rust-lang-nursery/rust-cookbook/blob/master/Cargo.toml but it isn't very discoverable.  2. We put badges on the recipies to help people know which crates to import.  This recipe was originally authored for synchronous reqwest.  when it was updated, the

[2020-11-30 18:24] mgabs opened #620 "Consume a paginated restful - faulty"
Link - https://rust-lang-nursery.github.io/rust-cookbook/web/clients/apis.html#consume-a-paginated-restful-api

When i run the example at retrieves the dependencies however, the crate_id is populated with the source crate name..
example.
[code]

[2020-12-01 15:25] mgabs commented on #620
Sorry, I don't get your comment.
What I am saying is the struct is storing the source crate as a member of ReverDep structs.
Which is a faulty behaviour.

Further, I couldn't consume elements from the iter.
same example:
[code]
What is the best way to address that ?

[2020-12-01 15:37] AndyGauge commented on #620
I mean if you go to the link I provided you will see this:
{"dependencies":[{"id":987053,"version_id":188578,"crate_id":"error-chain","req":"^0.12","optional":false,"default_features":false,"features":[],"target":null,"kind":"normal","downloads":3135857}

The API returns crate_id = crate name

"crate_id":"error-chain"

error[E0382]: use of moved value: `dep`
When you follow dep by the ? you are pe

[2020-12-01 15:41] mgabs commented on #620
1. When I run the program it doesn't return the value of the crate_id, instead it returns a copy of the calling argument that had been stored in the RD vector. (Duplicate value).

2. I tried that approach but the compiler complained about the clone trait not available for type iter.

⁣Regards,
Mohammed​

On Dec 1, 2020, 5:37 PM, at 5:37 PM, Andrew Gauger <notifications@github.com> wrote:

[2020-12-21 21:15] oakmanjacob opened #622 "Randomness gen_range example broken"
Under the ["Generate random numbers within a range"](https://rust-lang-nursery.github.io/rust-cookbook/algorithms/randomness.html#generate-random-numbers-within-a-range) section the rng.gen_range function is called with two parameters instead of submitting one range as is implemented in rand [v0.8.0](https://docs.rs/rand/0.8.0/rand/trait.Rng.html#method.gen_range).

The lines:

    println!("Integ

[2020-12-28 17:16] myrkvi opened #626 "Random password/string generation sample results in compilation error"
Attempting to run the [https://rust-lang-nursery.github.io/rust-cookbook/algorithms/randomness.html#create-random-passwords-from-a-set-of-alphanumeric-characters](password generation sample) results in this compilation error:
[code]

[2020-12-30 23:50] Scipi opened #628 "MongoDB example?"
There are already some examples in the cookbook for relational databases (sqlite and postgres), would it be useful to have a nosql example such as MongoDB? I already have an example ready to go using MongoDB and Serde if this is a welcome idea.

[2020-12-31 22:19] Joshuao95 opened #629 "Errors in Random Examples"
Apologies for not fixing it myself, but thought I'd mention it:
The examples in https://rust-lang-nursery.github.io/rust-cookbook/algorithms/randomness.html
which use `rng::gen_range` are broken, as the function expects a range (0..10) rather than 2 arguments.

Maybe you could test the examples as part of your CI?

Thanks

[2020-12-31 22:20] Joshuao95 commented on #629
Bork, didn't see #627 , closing :)

[2020-12-31 22:20] #629 closed

[2021-01-01 16:03] mingscraft opened #631 "Code error in example: "Generate random numbers within a range""

[2021-01-01 23:25] #622 closed

[2021-01-01 23:25] #626 closed

[2021-01-03 05:24] dogweather commented on #618
I just ran into this. @AndyGauge you're right — I wished I had a `Cargo.toml` file to go with the code, which didn't work for me.

If the only thing keeping this from working is correct `toml` configuration, could we add a link to it from a page header or footer? To me, the code is incomplete without it.

[2021-01-03 05:30] dogweather commented on #618
@AndyGauge Ok, that doesn't work: naively using https://github.com/rust-lang-nursery/rust-cookbook/blob/master/Cargo.toml with the sample code  at https://rust-lang-nursery.github.io/rust-cookbook/web/clients/requests.html:

[code]

This example also doesn't work via the arrow button to run via the web. I think it's safe to say that many examples in the cookbook are broken. Has there been thinking

[2021-01-21 22:03] davehadley opened #634 "Broken Mathematics Links on the Intro Page"
Links on the front page <https://rust-lang-nursery.github.io/rust-cookbook/intro.html> in the mathematics section link to pages with a 404 error.

For example the vector norm link is:
<https://rust-lang-nursery.github.io/rust-cookbook/mathematics/linear_algebra.html#vector-norm>

Links on the mathematics page itself (<https://rust-lang-nursery.github.io/rust-cookbook/science/mathematics.html>) see

[2021-02-11 15:02] mabbamOG opened #637 "Add "rug" to Big Integer"
rug (https://docs.rs/rug/1.11.0/rug/) is a crate that ports GMP into idiomatic Rust types and traits. It performs very well, and makes use of decades of work provided by the underlying and well-established GNU GMP library. It should definitely be considered as a contender for "num", although it may not be as idiomatic as num.

[2021-03-19 14:55] Jaxelr opened #643 "Chapter 4.1 Explicit Thread Section parallel pipeline missing crate link - crossbeam channel"
The create parallel pipeline makes mention of the usage of the crate crossbeam-channel, but it does not include a link related to the package.

![image](https://user-images.githubusercontent.com/5913008/111799235-3679db80-88a1-11eb-8bd8-0da170f834f5.png)

[2021-03-22 20:40] barrowsys opened #644 "web/clients/download/basic doesnt handle binary files"
https://github.com/rust-lang-nursery/rust-cookbook/blob/master/src/web/clients/download/basic.md doesnt work if trying to download a binary file (such as an image). Might want to either point this out or modify the example to handle all data.

Doesn't work:
[code]

Does work:
[code]

[2021-04-06 07:25] stappersg commented on #613
@papac25 please elaborate on the why of this issue. Tell what it should achieve.   (Closing it is also fine.)

[2021-04-06 10:19] stappersg commented on #644
Looks good to me. Asking to @barrowsys to make a merge request. For the fame of being in the _git commit log_.

[2021-04-06 10:21] stappersg commented on #628
Yes, patches welcome.

[2021-04-06 18:02] barrowsys commented on #644
git is painful but its done

[2021-04-06 20:07] stappersg opened #646 "Pull requests pile up"
Down side of a pile of pull requests is that it might emit _stop sending PRs_.

Up side of a pile of pull requests is that it might emit _fresh team members wanted_.

[2021-04-14 08:30] #613 closed

[2021-04-23 02:17] Jaxelr opened #648 "Chapter 16.1 External Commands missing crate link - error-chain"
The first section of chapter 16.1 is missing the crate error-chain:

![image](https://user-images.githubusercontent.com/5913008/115808463-883de600-a3b8-11eb-90e6-bcad6cc400bf.png)

[2021-04-23 02:22] Jaxelr commented on #648
So does section 2: Run an external command passing it stdin and check for an error code

[2021-08-13 03:21] jsomedon opened #649 "redundant code from partial download example in chapter 19.4.3?"
In the [code example](https://rust-lang-nursery.github.io/rust-cookbook/web/clients/download.html#make-a-partial-download-with-http-range-headers) I see these two lines in the end:

[code]

Looks like the first line is getting text from response of previous `.head()` call -- that should be empty string? Then the second line turns that text into bytes then appends to the `output_file` -- `output_fi

[2021-08-18 17:29] bodemann opened #650 "Example Query the GitHub API needs user_agent to work"
The first example in https://rust-lang-nursery.github.io/rust-cookbook/web/clients/apis.html is not working anymore. Apperently github needs a user agent now.

I (as a beginner) changed the code to:
[code]
Credit to Globi::<!> from the Rust Discord who helped me identify the problem.

[2021-10-21 09:39] Bergiu opened #652 "Typo in "Calling a Web API""
https://github.com/rust-lang-nursery/rust-cookbook/blob/752b035c1ae1646c999b4d7c39c78d67215d5893/src/web/clients/api/rest-get.md?plain=1#L9

I think it should be [`reqwest::get`]  instead of [`reqwet::get`] .

[2021-10-21 09:39] #652 closed

[2021-10-21 09:41] Bergiu commented on #652
sorry this is a duplicate, there is already a pull request for this: #651

[2021-11-13 08:01] SOF3 opened #653 "Indexing a map with a non-Copy structural key"
kennytm on [StackOverflow](https://stackoverflow.com/a/45795699/3990767) provided a great explanation to this problem. It appears that this cannot be generically implemented in a library (because the idea can be extended to tuples, arrays, ad-hoc structs, etc.). Seems appropriate material for this book.

[2022-01-25 23:10] nindalf opened #657 "Replace lazy_static with once_cell"
`lazy_static` is used throughout the cookbook to store data that should be initialised only once. `once_cell` is more flexible and convenient than `lazy_static`. For example, it can be used for local variables.

Integrating `once_cell` into the standard library is in progress - [issue](https://github.com/rust-lang/rust/issues/74465).

I propose that the cookbook change to using `once_cell` instead

[2022-01-30 18:10] noamraph opened #658 "Text refers to "Expand" button, actually it's "Show hidden lines""
See this screenshot, from the "about" page:
![image](https://user-images.githubusercontent.com/1553464/151711817-c71e2e5f-7f53-45ec-943b-d2d95ffef06b.png)
What is referred to as the "expand" button is actually "show hidden lines", and has a different icon.

[2022-01-31 12:37] dawid2193487 opened #660 "The header for the bitfield page is incorrect"
It shows the word "Custom" instead of "Bitfield"

![image](https://user-images.githubusercontent.com/1311686/151795049-19cc7ac9-0b9a-44d1-87fa-c5d953e81598.png)

[2022-03-25 13:01] xenowits commented on #123
[code]
Binding with a port number of 0 will request that the OS assigns a port to this listener. The port allocated can be queried via the [TcpListener::local_addr](https://doc.rust-lang.org/std/net/struct.TcpListener.html#method.local_addr) method.

[2022-04-01 18:33] suren-m opened #662 "querying-the-web-api examples don't work due to missing user-agent-headers"
Github API requires `user-agent-header` and without it, it returns a `403` reponse, ultimately resulting in vague decoding errors that could be difficult to debug for trying out the examples.

For instance, the code snippet in https://rust-lang-nursery.github.io/rust-cookbook/web/clients/apis.html#query-the-github-api results in following error.

### 403 due to missing user-agent-header
[code]

##

[2022-04-13 13:19] willser opened #664 "`GUI` create‘s introduce and contrast"
Hello! This is a feature request.
For now,there are some gui create are gradually complete,we have `egui`,`iced` and other good create.It's nice if `cookbook` supply some introduce and contrast about those create.It will help developer find the matched create.
Thanks for your contribution.

[2022-05-26 01:50] nyurik opened #665 "Use clap-derive instead of raw clap for argument parsing"
Now that structopt has been merged into clap, I think it would be simpler for novice users to use [clap derive](https://github.com/clap-rs/clap/tree/v3.1.18/examples/tutorial_derive) instead of the original clap code.  Are there any objections to migrating to this method?

[2022-05-30 01:42] marc47marc47 opened #666 "3.1 Decompress a tarball while removing a prefix from the paths with E0107"
Compiling tar03 v0.1.0 (/Users/marc47/rust/tar03)
error[E0107]: this enum takes 2 generic arguments but 1 generic argument was supplied
   --> src/main.rs:8:14
    |
8   | fn main() -> Result<()> {
    |              ^^^^^^ -- supplied 1 generic argument
    |              |
    |              expected 2 generic arguments
    |
note: enum defined here, with 2 generic parameters: `T`, `E`
   --> /U

[2022-05-30 01:43] marc47marc47 commented on #666
use flate2::read::GzDecoder;
  use std::fs::File;
  use std::path::PathBuf;
  use tar::Archive;

  // i add this line to solve this issue
  type Result<T> = std::result::Result<T, std::io::Error>;

  fn main() -> Result<()> {
      let file = File::open("archive.tar.gz")?;
      let mut archive = Archive::new(GzDecoder::new(file));
      let prefix = "bundle/logs";

      println!("Extracted the f

[2022-07-28 16:13] whitingjp commented on #502
In case it's a useful data-point. I am (comparatively) new to rust, and this _is_ the exact initial impression the use of error_chain here gave me. I did work out that anyhow was more suitable for my needs, but not after losing a little time trying to figure out how to use error_chain, and then realizing that it wasn't state-of-the-art anymore.

Definitely something showing off anyhow and thiserro

[2022-08-22 20:24] plaukiu opened #671 "Some documents are unavailable"
for example
https://rust-lang-nursery.github.io/rust-cookbook/development_tools/development_tools/debugging/log.html#log-a-debug-message-to-the-console
gives 404

[2022-08-31 18:29] Wolvereness opened #672 "Mime crate badges show CSV's version"
https://rust-lang-nursery.github.io/rust-cookbook/web/mime.html

![image](https://user-images.githubusercontent.com/983111/187752050-8094a0be-3686-4c07-9c38-aa0ded721700.png)

Mime should be `v0.3.16`, or whatever minor-version is used, but appears to be showing (and referencing) the version for CSV. I suspect this is might be an issue upstream in https://github.com/rust-lang/mdBook, but I don't h

[2022-10-01 15:55] KaviiSuri commented on #665
I'd like to work on this!

Can I pick this up?

[2022-10-04 16:58] bl-ue commented on #672
It's just a typo in [`src/links.md`](https://github.com/rust-lang-nursery/rust-cookbook/blob/752b035c1ae1646c999b4d7c39c78d67215d5893/src/links.md?plain=1). There are actually some others too:

- [`ansi_term` points to `base64`](https://github.com/rust-lang-nursery/rust-cookbook/blob/752b035c1ae1646c999b4d7c39c78d67215d5893/src/links.md?plain=1#L53)
- [`mime` points to `csv`](https://github.com/ru

[2022-11-27 19:36] nyurik opened #678 "Missing (hard to find?) edit link to github"
The [rust cookbook site](https://rust-lang-nursery.github.io/rust-cookbook/) does not have an easy-to-find link back to this repo, making it less likely for casual readers to submit issues and suggestions.  Please add it somewhere, perhaps as a little github icon in the upper right corner. Thanks!

[2022-11-27 19:53] nyurik opened #679 "Add recipe to building custom format-like macros"
There seem to be a lot of "gotchas" when creating a new macro that accepts format arguments. I propose to add a recipe for such cases.  Something like this, although my code might also need some improvements.  Points of interest:
* best way to capture format arguments - comma capturing is actually fairly tricky because `foo!("{}", bar)` can be auto-replaced with `foo("{bar}")`, which has no commas