[2017-03-09 23:53] brson opened #23 "Polish the presentation for launch"
Let's take what we have and make it look real nice.

Some ideas:

- Create an "Introduction" prose chapter, and sink the error handling discussion into that.
- Write a brief, motivating introduction
- Turn the TOC into a flat list of domains, like "File I/O", "Concurrency", "Math", "Processes", etc. each
  with its own page, each page is a flat list of use cases with accompanying examples
- Fill o

[2017-03-10 00:00] brson opened #24 "Miscellaneous cookbook ideas"
The [Perl cookbook](http://shop.oreilly.com/product/9780596003135.do) or [Python cookbook](http://shop.oreilly.com/product/0636920027072.do) could be a good source of inspiration.

- [x] [Declare lazily evaluated constant](https://github.com/brson/rust-cookbook/issues/99) (lazy_static)
- [x] [Maintain global mutable state](https://github.com/brson/rust-cookbook/issues/100) (lazy_static)
- [x] [Unz

[2017-03-11 03:33] brson commented on #24
If you decide to implement one of the ideas in the op please say so here to claim it, so others don't duplicate the effort.

[2017-03-11 12:56] alisha17 commented on #24
I am going ahead with "Mutate elements of an array in parallel".

[2017-03-12 05:31] karan1276 commented on #24
I would like to work on "Dispatch work to a thread pool". I think problem statement "Sort an array of M numbers using N threads" will be optimal for demonstration. In case you had some other problem statement in mind let me know.

[2017-03-18 02:09] brson commented on #24
Awesome. Thanks @alisha17 and @karan1276!

@karan1276 Your problem statement sounds good. I'm interested in seeing your solution.

[2017-04-30 06:20] brson opened #29 "File I/O examples write to the cargo project directory"
e.g. the "read lines from file" creates "lines.txt" and dirties the directory. Could solve this in [skeptic](https://github.com/brson/rust-skeptic/issues/23).

[2017-05-04 04:45] dtolnay opened #32 "The Run buttons use play.r-l.o, doesn't have any crates"
Some but not all of these examples would work if run with play.integer32.com instead.

![selection_041](https://cloud.githubusercontent.com/assets/1940490/25690790/cf97ce8a-3049-11e7-86fb-1c3cba8a152d.png)

[2017-05-04 23:04] brson commented on #32
Yeah, not sure what do do. Maybe someday we can coordinate with play on a canonical crate list so that it mostly works.

[2017-05-04 23:09] brson opened #33 "Add "Parse a URL from a string to a `Url` type" example for url crate"

[2017-05-04 23:11] brson opened #34 "Add "Create a base URL by removing path segments" example for url crate"
I suspect this is a common operation.

[2017-05-04 23:11] brson opened #35 "Add "Create new URLs from a base URL" example for url crate"

[2017-05-04 23:12] brson opened #36 "Add "Extract the URL origin (scheme / host / port)" example for url crate"

[2017-05-04 23:13] brson opened #37 "Add "Remove fragment identifiers and query pairs from a URL" example for url crate"
Removing this trailing URL junk _seems_ like the kind of thing people do.

[2017-05-04 23:14] brson opened #38 "Add "Serialize a URL" example for url/serde crates"
Serializing urls with serde 1.0 is kinda weird, so maybe worth an example.

[2017-05-04 23:15] brson opened #39 "Add "Make a HTTP GET request after parsing a URL" example for url/reqwest crates"
Hard part here will be figuring out what to do about running the examples in the test suite without actually hitting the network.

[2017-05-04 23:15] brson opened #40 "Cookbook ideas for url crate"
These examples are desired to represent the [url](https://docs.rs/url) crate.

- [x] [Parse a URL from a string to a `Url` type](https://github.com/brson/rust-cookbook/issues/33)
- [x] [Create a base URL by removing path segments](https://github.com/brson/rust-cookbook/issues/34)
- [x] [Create new URLs from a base URL](https://github.com/brson/rust-cookbook/issues/35)
- [x] [Extract the URL origin

[2017-05-04 23:38] brson commented on #23
Pretty much done as it's gonna be.

[2017-05-04 23:38] #23 closed

[2017-05-04 23:41] brson opened #41 "Pilliage the perl cookbook for ideas"
[Perl Cookbook](http://shop.oreilly.com/product/9781565922433.do) has a good reputation, but I have never read it. Give it a skim at least, then figure out which of their examples make sense in the Rust world, and produce a list of example use case statements to feed into the cookbook.

[2017-05-05 07:59] brson commented on #41
The per

[2017-05-05 07:59] #41 closed

[2017-05-05 08:19] brson opened #42 "Make tables render a consistent width"
It's quite unattractive that the index tables all have different widths. There's surely some way to style them.

[2017-05-05 13:12] rap2hpoutre commented on #42
According to http://azerupi.github.io/mdBook/format/theme/theme.html, the only way to customize table render seems so be creating a `theme/book.css` file, keep its original content, then add some CSS rules about tables. Is it overkill? Did I miss something?

[2017-05-05 20:04] konstin opened #43 "Cookbook ideas for using a RESTful service"
All major websites and many services provide restful apis. Using those has become a very important topic, be it for retrieving information from websites, interacting with common third-party service or communicating in an internal network.

Ideally, a whole chapter should be dedicated to this topic. It should explaining the following subjects, which are ordered in descending priority:

- [x] Get fr

[2017-05-05 20:19] brson commented on #42
@rap2hpoutre That seems to be the case. If we have to copy their entire CSS maybe we can try to limit our custom CSS to one section of the file so it's easy to upgrade later. Are you interested in trying?

[2017-05-05 20:22] brson commented on #43
Yes, this is a great idea, and it's not trivial.

Maybe some of these ideas can be split into multiple examples to avoid overwhelming.

What crate's would we need for the most basic example? reqwest, serde_json, url, others?

[2017-05-05 20:24] brson commented on #40
Still soliciting good ideas that show off how url is used in practice.

[2017-05-05 21:53] konstin commented on #43
For my crate I use reqwest and json. I can't use serde due to the freedom in the api specification. Url is included as transitive dependency and re-exported through reqwest. It might be reasonable to provide examples with json and with serde as each has its usecases.

The bullet points should have a good size for a single example. The following is e.g. my code for GET, parsing and returning json.

[2017-05-05 22:35] dtolnay commented on #43
Would you be able to elaborate on this part?

This is what I would expect for analogous code using Serde:

[code]

[2017-05-05 22:38] konstin commented on #43
I though serde was for deserializing into structs. But with that new option I'm definitely going to try serde! So there's likely no need for json-rust at all

[2017-05-06 01:13] dtolnay commented on #35
Added in #46.

[2017-05-06 01:13] #35 closed

[2017-05-06 09:05] rap2hpoutre commented on #42
Yes, I can try! I'm not a CSS expert but I think I can do something. Side note: there is an issue about custom CSS for mdBook: https://github.com/azerupi/mdBook/issues/178

[2017-05-06 18:10] budziq commented on #32
Hi, I am really hyped for this initiative.

Having cookbook spew compilation errors makes it less approachable and and reliable in the eyes of total newcommers (like myself).

I would suggest:
- disabling playpen for examples that are known not to work (if it is possible in mdbook)
- disabling playpen for all examples - for consistency sake
- using alternative playground (maybe with direct links)

[2017-05-06 21:03] budziq commented on #24
First of all sorry if I am spamming the thread.

Looking from the perspective of busy programmer with little to no experience in rust (like myself) I would greatly appreciate a systematic and comprehensive approach like in the (already mentioned) [perl](http://shop.oreilly.com/product/9780596003135.do) or [python](http://shop.oreilly.com/product/0636920027072.do) cookbooks.

Please note that large

[2017-05-07 11:45] budziq opened #50 "Implement Rand crate examples in Basics section"
Hi, I did not see issue for the missing Rand crates examples in Basics section so I went ahead and opened it here (I hope it's ok)

- [ ] Generate random floating point numbers
- [ ] Generate random values of a custom type

I would like to create a PR for both of these snippets.
Also I would suggest to create another example `Generate random numbers within a range` as this seams to be a relatively

[2017-05-07 15:41] #50 closed

[2017-05-07 15:53] budziq commented on #42
I am no css expert either but adding `width: 100%` to `book.css` gives desired effect
[code]
As this issue is already taken I will wait for something to open up ;)

[2017-05-07 16:13] dtolnay commented on #42
I tried adding a src/theme/book.css but it didn't seem to get picked up by mdbook - http://localhost:3000/book.css was still serving the default one. @budziq I would love a PR if you get to it before @rap2hpoutre does.

[2017-05-07 16:49] budziq commented on #42
@dtolnay done :)
As mentioned in the commit your problem was with https://github.com/azerupi/mdBook/issues/227. I had to implement the same workaround as the rust book
https://github.com/rust-lang/book/commit/371948a6b6ee71b2b7c55c4eb10e6faa6d511016

[2017-05-07 17:37] #33 closed

[2017-05-07 17:37] #34 closed

[2017-05-07 17:41] dtolnay commented on #42
Reopening until we fix the column widths too. The tables are still misaligned because the three columns are different widths in each table.

[2017-05-07 17:54] dtolnay commented on #36
Added in #48.

[2017-05-07 17:54] #36 closed

[2017-05-07 17:56] dtolnay commented on #32
For now I axed the Run buttons entirely in 323795ee8449e4d18096a18b2530b0b64988793c.

[2017-05-07 19:17] budziq commented on #39
I guess that the best option would be to use skeptic's `rust,no_run` annotation which would still require examples to compile without actual execution.

Otherwise we would need to spin some minimal webserver locally which would not be ideal. The problem will return on nearly all nontrivial examples like database interaction, process management, fs manipulation, etc. (FFI?).

I seam to be spamming

[2017-05-07 21:15] budziq commented on #39
The https://github.com/brson/rust-cookbook/pull/53 should resolve this issue once reqwest catches up with the newest serde seanmonstar/reqwest#79

[2017-05-08 07:55] budziq commented on #42
I am completely out of my depth in regard to CSS but https://github.com/brson/rust-cookbook/pull/54 seams to give the expected result (I have tested on Linux Firefox and Chromium).

[2017-05-08 08:09] rap2hpoutre commented on #42
@budziq Thanks!

[2017-05-08 13:48] budziq commented on #37
Hi I can implement this example

[2017-05-08 14:11] #42 closed

[2017-05-08 21:30] #37 closed

[2017-05-09 08:32] budziq opened #56 "TOC Tables and badges are not consistent between files"
The tables in concurency.md, encoding.md and app.md are not consistent with main TOC in intro.md (categories are missing). I am assuming that these should be mirrored.
Moreover most of examples except in basics.md are missing at least one badge.

I can solve it later today.

[2017-05-09 12:33] fbstj opened #58 "incorrect formatting of raw strings"
the code formatting for many of the snippets 'breaks' when it sees quote-pairs inside raw strings `r#"like "this" eg"#`, it would unhighlight the word 'this'. probably because it's not highlighting the raw stirng just the `""` pairs between the `##` 's

I know this is probably not a bug with /this/ repository but I wouldn't know where to look to actually fix it

[2017-05-09 14:17] budziq commented on #38
Hi,

I am not sure what is the exact idea for this example.
Until rust-url crate officially moves to serde-1.0 https://github.com/servo/rust-url/pull/327 the best that I've come up with is usage of auxiliary `url_serde` crate (but it would require adding it to Cargo.toml). Does it look ok? https://play.integer32.com/?gist=8199915f140db644a8bc3e480e582aea&version=undefined

If yes, I will make a PR

[2017-05-09 14:27] dtolnay commented on #38
I would prefer to wait until we no longer need to use the roundabout approach. @SimonSapin

[2017-05-09 15:01] budziq commented on #38
Will do. Thanks for your time :)

[2017-05-09 15:05] #56 closed

[2017-05-09 17:42] brson commented on #58
Thanks for the report. I guess this is in mdbook or commonmark cc @azerupi

[2017-05-09 17:46] brson opened #59 "Switch error handling setup to quick_main! macro from error-chain"
Right now the error handling pattern suggested by the cookbook's ['about'](https://brson.github.io/rust-cookbook/about.html#a-note-about-error-handling) page, and used in at least some of the examples, looks similar to `quick_main!`. Seems like we should just use that.

Switch the existing examples to replace 'main' with 'quick_main!', and update the about page.

cc @dtolnay @Yamakaky

[2017-05-09 19:36] azerupi commented on #58
Syntax highlighting is handled by [highlight.js](https://highlightjs.org/). It could be that it is already fixed upstream but that we are just not up-to-date. If this bug is still present in the latest version I guess it should be fixed there first.

Anyways, I added a tracking issue on the mdBook repo :)

[2017-05-09 20:09] Yamakaky commented on #59
`quick_main!` was maid for that usecase ^^

[2017-05-09 20:11] Yamakaky commented on #59
`quick_main!` was maid for that usecase ^^

I can do that

[2017-05-09 21:27] budziq commented on #59
Using following form will hide part of doctest boilerplate from rendering but still allow for the code to compile and run under skeptic.
<pre>
[code]
</pre>

It might make the existing snippets more ergonomic without the need to pull error-chain as dependency (or even hide error-chain noise if required)

cc @brson

[2017-05-09 21:31] dtolnay commented on #59
Given that we don't have playground links (see #32), there needs to be a way to copy and run these examples. I would prefer not to hide main so that you can copy into a main.rs and expect it to work.

[2017-05-10 04:12] brson opened #61 "Cookbook ideas for log crate"
Write examples for these use cases following the existing precedent and guidelines in CONTRIBUTING.md

- [x] [Log a debug message to the console](https://github.com/brson/rust-cookbook/issues/95)
- [x] [Log an error message to the console](https://github.com/brson/rust-cookbook/issues/96)
- [x] Log messages with a custom logger (added in #74)
- [x] Enable log levels per module (added in #78)
- [x]

[2017-05-10 21:31] sunjay opened #63 "Broken Links in CONTRIBUTING.md"
According to [CONTRIBUTING.md](https://github.com/brson/rust-cookbook/blob/master/CONTRIBUTING.md):

That means it's probably important to let you know that the links and some of the formatting are broken in the contributing file. This is probably a really easy fix for someone looking to contribute. :smile:

Issues I found while reading through [CONTRIBUTING.md](https://github.com/brson/rust-cookb

[2017-05-11 00:27] #39 closed

[2017-05-11 00:39] brson opened #64 "Actually write about.html"
Most of this page is not written!

This is pretty important for appearances, so I'll try to get to it soon, but patches still welcome. Speak up on thread if you plan to write any sections.

[2017-05-11 00:40] brson commented on #64
The section on "crate selection" is tricky, so I'd like to tackle that myself.

[2017-05-11 00:40] brson commented on #63
Haha yes, thank you. Most of these have obvious fixes. `[libz blitz]` goes to the irlo thread; `[crate-tasks]` to a GitHub query for that tag; "how to read this book" to the (empty) section in about.md; "a note about error handling" goes to the appropriate section in about.html.

Also, most of about.html is just [blank](https://github.com/brson/rust-cookbook/issues/new).

[2017-05-11 00:40] brson commented on #63
Volunteers welcome to fix all this stuff. Since it's pretty important, if there's still more to do by Friday I'll pick some off myself.

[2017-05-11 00:43] sunjay commented on #63
@brson I think you meant to link to the [issue you made about about.html](https://github.com/brson/rust-cookbook/issues/64), not the new issue page. :smile:

[2017-05-11 00:45] brson commented on #63
Yep.

[2017-05-11 00:45] brson commented on #59
Yes, I want to not hide code in the cookbook, have the examples say everything they are doing.

[2017-05-11 00:50] brson commented on #43
@konstin a self-contained example about the size of the one in your previous post would be a fine addition.

[2017-05-11 00:57] brson commented on #24
@budziq wow thank you for all these ideas. I think almost all of them are appropriate for the cookbook.

I would though like to keep the scope of the cookbook relatively aligned with the [libz blitz](https://internals.rust-lang.org/t/rust-libz-blitz/5184/19), where we are working sort of from the inside out, documenting the most fundamental crates first.

If you want to implement any of these exam

[2017-05-11 08:38] rap2hpoutre commented on #63
I sent 4 PR, btw I'm not sure about the quality of my fixes. I hope it will help

[2017-05-11 09:49] budziq commented on #61
I recall that sameone has posted interest in these examples on the libz-blitz thread but I would like to create PR later today for "Log to the Linux syslog" since I have a working example already

https://play.integer32.com/?gist=a21a9b6735f80d072ebea471840d2534&version=undefined

[2017-05-11 10:06] rap2hpoutre commented on #61
Here is an example I just wrote for a simple use case (console log):

[code]

Link to playground: http://play.integer32.com/?gist=80a6e5c21d710723a13a3817a6bb195c&version=undefined

Is this kind of example usefull? Did I missed something? Should I submit a PR?

[2017-05-11 10:31] budziq commented on #40
I guess examples about parsing and serialization for web with use of url crate might be useful:
- [ ] application/x-www-form-urlencoded [`url::form_urlencoded`](https://docs.rs/url/1.4.0/url/form_urlencoded/index.html)
- [ ] percent encoding [`url::percent_encoding`](https://docs.rs/url/1.4.0/url/percent_encoding/index.html)

These do not have examples in docs at all

[2017-05-11 11:42] budziq commented on #61
@rap2hpoutre looks very nice indeed! I would just suggest following the convention about the snipet form described in https://brson.github.io/rust-cookbook/about.html#a-note-about-error-handling and explained in my own PR ;) (https://github.com/brson/rust-cookbook/pull/53#issuecomment-300244571)

Imho this would be a separate example. Something along the lines of  "Creating a custom logger".

[2017-05-11 11:58] rap2hpoutre commented on #61
@budziq Thanks a lot! Here is a rewritten example:

[code]

Is this what you suggested? Did I understand well?

I think it's "**Log a message to the console**" (which covers). if it's almost OK, I can submit a PR then.

[2017-05-11 12:12] sunjay commented on #63
@rap2hpoutre Thanks for the PRs! I think it's fine this time, but for future reference I believe one PR would make this easier to review and merge. The fixes are pretty small and all related to the same issue, so it's okay for them to be grouped together.

I went through and reviewed 3/4 of them so @brson can merge them when he next gets a chance. :smile:

[2017-05-11 12:14] budziq commented on #61
@rap2hpoutre As discussed on https://github.com/brson/rust-cookbook/pull/53 the typical form is
[code]

I would argue that this example is more involved (and rich with important usecase) than minimal (~5 lines) one that would use [`env_logger`](https://crates.io/crates/env_logger). But one of the maintainers would have to decide ;)

I would submit PR anyway as code review is much easier and does n

[2017-05-11 15:11] budziq opened #71 "badges regarding log and syslog are incorrect"
Hi some of the crate badges have wrong version on them (the link is prepared for different crate for instance clap for log)

Also in intro.md the category is "command line" instead of debugging for the log related examples.

Some of these problems are fixed in https://github.com/brson/rust-cookbook/pull/70
I will fix it later today once pulls are settled.

[2017-05-11 15:13] dtolnay commented on #71
Thank you! Eventually we could even have a test that runs in Travis and makes sure all the badges are hooked up correctly.

[2017-05-11 15:21] budziq commented on #71
I guess that it would have to be done anyway as currently there is no connection between version on the badge and one in the Cargo.toml which will be a problem at some point.

[2017-05-11 16:23] #71 closed

[2017-05-11 22:00] dtolnay commented on #63
Fixed in #66 and #73.

[2017-05-11 22:00] #63 closed

[2017-05-12 08:42] budziq opened #75 "Badges are not synchronised with Cargo.toml"
Badges obtained from shields.io are always for the latest version available on crates.io
`https://img.shields.io/crates/v/clap.svg?label=clap`  ![clap](https://img.shields.io/crates/v/clap.svg?label=clap) currently shows 2.24.1 while in committed Cargo.lock clap has version 2.23.3.

This is somewhat low priority ATM but I am sure that it will become a problem once breaking changes of cookbook depe

[2017-05-12 12:12] kud1ing commented on #24
I've just discovered this and would add the few examples i have: https://github.com/kud1ing/rust-recipes

[2017-05-12 16:01] dtolnay commented on #61
I checked off "Log to the Unix syslog" in #70 and "Log messages with a custom logger" in #74.

[2017-05-12 16:29] dtolnay commented on #75
Yep this came up on IRC a couple days ago. Thanks for opening an issue!

My preference would be to remove Cargo.lock, set "*" dependencies in Cargo.toml, and hook up a daily Travis job to notify when an example fails to compile. This incentivizes us to keep the cookbook perfectly up to date and provides an easy opportunity for inexperienced contributors.

As needed, we can pin specific individual

[2017-05-12 21:56] budziq commented on #75
Good idea, nice and simple :) Someone could make trivial changes:
- [ ] add build status badge to README.md
- [ ] update Cargo.toml dependency requirement to "*"
- [ ] remove Cargo.lock
- [ ] update deploy.sh to ignore `TRAVIS_EVENT_TYPE` == `cron`
- [ ] (optionaly) add build status badge to intro.md and/or about.md

But I guess one of the maintainers would need to configure the actual nightly bui

[2017-05-12 22:03] dtolnay commented on #75
I set a daily Travis build.

[2017-05-13 01:56] brson commented on #61
Awesome. Thanks @budziq and @rap2hpoutre!

[2017-05-13 09:32] budziq commented on #75
Excellent! I don't want to kill all the easy contribution opportunities so I'll do it if no one steps up within a week.

[2017-05-15 13:53] budziq commented on #43
Hi, I have implemented two relevant examples ("Query the GitHub API" idea taken from #24)

HTTP GET repo stargazers:
https://play.integer32.com/?gist=37adc825a9f373a3d2d38f0ab7a8672f&version=undefined

HTTP POST and DELETE: create a gist file and delete it
https://play.integer32.com/?gist=119d16cef32681c96a04058ba6c3514c&version=undefined

These still need cleanup and textual description etc.. Hop

[2017-05-15 19:30] bbigras commented on #61
An exemple with a timestamp could be nice. Maybe with the custom logger.

[2017-05-15 19:34] dtolnay commented on #61
Thanks @bbigras! I added it to the checklist. Would you be interested in writing that example and submitting a PR?

[2017-05-15 19:38] bbigras commented on #61
Yes

[2017-05-16 10:54] budziq commented on #38
Judging from the original description I guess that the main reason for this example was the required roundabout approach.
Once https://github.com/servo/rust-url/pull/327 is merged then the `Url` will serialize just like any other well behaved type and this example would be redundanta with https://brson.github.io/rust-cookbook/encoding.html.
So maybe just close this issue? @dtolnay

[2017-05-16 15:24] dtolnay commented on #38
Yes I agree.

[2017-05-16 15:24] #38 closed

[2017-05-16 15:28] budziq opened #81 "Remove the "Serialize a `Url`" example stub"
As the #38 is closed, the stubs for "Serialize a `Url`" should be removed from net.md and intro.md

[2017-05-16 15:38] dtolnay opened #82 "Add Edit button on every page or example"
On https://serde.rs there is an "Edit" button in the top left that takes you to GitHub's web editor for the current page. We have gotten a decent amount of use out of that. It lowers the barrier for contributing minor fixes.

[2017-05-16 15:41] #81 closed

[2017-05-16 16:18] derekdreery commented on #24
Run an external command and collect stdout

[2017-05-16 19:14] dtolnay opened #84 "Cookbook ideas for reqwest crate"
Come up with ideas for nice introductory examples of using [`reqwest`](https://docs.rs/reqwest), possibly in combination with other crates, that would be good to show in the Rust Cookbook. Please leave a comment here with your ideas! You don't necessarily have to write the example code yourself but PRs are always welcome!

- [x] [Make an HTTP GET request](https://brson.github.io/rust-cookbook/net.

[2017-05-16 23:08] dtolnay opened #85 "Encode binary data as application/x-www-form-urlencoded"
Add an example to demonstrate [`url::form_urlencoded`](https://docs.rs/url/1.4.0/url/form_urlencoded/index.html).

[2017-05-16 23:08] dtolnay opened #86 "Percent-encode binary data"
Add an example to demonstrate [`url::percent_encoding`](https://docs.rs/url/1.4.0/url/percent_encoding/index.html).

[2017-05-16 23:09] dtolnay commented on #40
Thanks! I added those to the top checklist.

[2017-05-16 23:20] dtolnay commented on #58
This is being tracked in https://github.com/azerupi/mdBook/issues/269.

[2017-05-16 23:20] #58 closed

[2017-05-16 23:23] dtolnay opened #87 "Add a Run button to every example"
We used to have one but it didn't work: https://github.com/brson/rust-cookbook/issues/32.

We could use an approach more like https://serde.rs where it links to a playground rather than running the code inline. See [this page](https://serde.rs/custom-date-format.html) for example. This is nice because you get to modify the code if you want.

[2017-05-16 23:23] dtolnay commented on #32
I opened https://github.com/brson/rust-cookbook/issues/87 to put back the "Run" button if we can make it work.

[2017-05-16 23:23] #32 closed

[2017-05-16 23:25] dtolnay commented on #29
Let's track this in https://github.com/brson/rust-skeptic/issues/23. For now I added that file to `.gitignore`.

[2017-05-16 23:25] #29 closed

[2017-05-17 16:42] #82 closed

[2017-05-17 16:44] #59 closed

[2017-05-17 16:56] dtolnay opened #89 "Make a Travis build that tests with all dependencies = "*""
Basically replace all version requirements in Cargo.toml under [dependencies] with "*", then `cargo test`. This will notify us when a crate releases a new major version that is incompatible with our example code, meaning the example needs to be updated.

[2017-05-17 18:44] dtolnay opened #90 "POST the contents of a file to a REST api"
#80 added an example that shows posting a JSON body. Let's add a separate one to post the contents of a file.

[2017-05-17 18:44] dtolnay opened #91 "Set custom header and url parameters for a REST request"

[2017-05-17 18:48] dtolnay opened #92 "Iterate through paginated requests"
The crates.io API would be a good way to demonstrate this. A lot of their endpoints are limited to 100 elements per query, with a `page=2` parameter to see more elements.

[code]

[2017-05-17 18:58] dtolnay opened #93 "Handle a rate-limited API"
Hitting a rate limit may either return an error for the request or return a JSON body that is different from the usual. Let's show how to deal with one or both of these cases.

[2017-05-17 19:01] dtolnay opened #94 "Link to authorization techniques, for example OAuth"
The "Create and delete Gist with GitHub API" currently shows basic auth. We don't necessarily need code for an OAuth example but just a link to how you might handle more advanced auth situations.

[2017-05-17 19:02] dtolnay commented on #43
I edited a checklist into the OP and filed individual issues to follow up on the remaining ones.

[2017-05-17 19:06] dtolnay opened #95 "Log a debug message to the console"
The bare minimum env_logger example.

[2017-05-17 19:07] dtolnay opened #96 "Log an error message to the console"
Using env_logger. This is different from #95 in that it should show making a function call that returns a Result, matching on it, and logging in the error case with the error value included in the message.

[2017-05-17 19:09] dtolnay opened #97 "Log messages to a custom location"
Maybe load a config file that tells the application what path to write its logs to.

[2017-05-17 19:10] dtolnay opened #98 "Include a timestamp on log messages"
For whatever reason, this doesn't seem to be the default behavior. We definitely need to show a way to do this.

[2017-05-17 19:13] budziq commented on #84
In addition to already created issues i would suggest:
- [ ] using HEAD request to test endpoint/file existence (or just check headders)
- [ ] use PUT / PATCH requests (GitHub has some apis like that) although it might be a little redundant
- [ ] test if links on webpage are stale - [html5ever](https://crates.io/crates/html5ever) or [select](https://crates.io/crates/select)

I guess that following

[2017-05-17 19:20] dtolnay opened #99 "Declare lazily evaluated constant"
Using [`lazy_static!`](https://docs.rs/lazy_static) to do the initialization.

[2017-05-17 19:21] dtolnay opened #100 "Maintain global mutable state"
Using [`lazy_static!`](https://docs.rs/lazy_static). This is different from #99 in that it should also show interior mutability to change the static value after it has been initialized.

[2017-05-17 19:25] dtolnay opened #101 "Unzip a tarball to a temporary directory"
Relevant crates: temdir, tar, flate2

[2017-05-17 19:26] dtolnay opened #102 "Dispatch work to a thread pool"
https://docs.rs/threadpool

[2017-05-17 19:27] dtolnay opened #103 "Fork a short-lived thread that cheaply references data from the original thread"
https://docs.rs/crossbeam

[2017-05-17 19:28] dtolnay opened #104 "Create a cross-platform shared-memory region"
https://docs.rs/memmap/*/memmap/struct.Mmap.html

[2017-05-17 19:29] dtolnay opened #105 "Access a file randomly using a memory map"
https://docs.rs/memmap/*/memmap/struct.Mmap.html

[2017-05-17 19:34] budziq opened #106 "RFC - error_chain in some examples is quite noisy"
@dtolnay  Hi after switching all examples with `fn run()` to error_chain some of the examples became quite noisy eg http://localhost:3000/net.html#parse-a-url-from-a-string-to-a-url-type
has 8 lines of code to 9 lines of error_chain maiking it hard to read

I think that we could have best of both worlds (completely copy-pastable examples and minimal noise) if we have used the expand collapse butto

[2017-05-17 19:42] dtolnay opened #108 "Run an external command and collect stdout"
Does anyone have non-contrived examples? Some ideas:

- `nm` to list symbols in the current executable
- `git rev-parse --verify HEAD`
- some ImageMagick command

[2017-05-17 19:46] budziq commented on #108
- `cat /proc/cpuinfo` or `cat /proc/vmstat`
- `ls /tmp`
- `df`
- `groups`

[2017-05-17 19:53] dtolnay commented on #108
By non-contrived I mean things that you couldn't just do in ordinary Rust. So I would prefer not to show `cat /proc/cpuinfo` or `ls /tmp` because you would just write those using the standard library.

`df` isn't the best for an example because it would need a lot of code to parse and do anything useful with the output.

`groups` could be a good one! I think the `libc` crate has a function to list

[2017-05-17 19:59] dtolnay opened #109 "Use HEAD request to test whether endpoint exists"
For example, check whether a particular GitHub user exists: https://api.github.com/users/ferris-the-crab

[2017-05-17 20:08] budziq commented on #108
oh now I get it. How about these then:
- `uname -a`
- `lsblk`
- `history`
- `mount`
- `journalctl`

something simple yet easily doable with std

[2017-05-17 20:18] dtolnay opened #110 "Extract all links from a webpage"
Using [`reqwest`](https://crates.io/crates/reqwest) to fetch the page + [`html5ever`](https://crates.io/crates/html5ever) to extract links.

[2017-05-17 20:25] dtolnay commented on #84
I am open to showing a variety of common interesting web APIs. OAuth is a little more involved than I would like for the cookbook. I would prefer to handle it by linking from the basic-auth GitHub example to the oauth-client documentation: #94.

[2017-05-17 20:30] dtolnay opened #111 "Centralize all the badge and category links"
Is there any way we could avoid repeating the same badge and category links on every page that uses them? Perhaps a central file of links that gets included via some mdBook magic into every page?

For example these are repeated on 4 pages so far:

[code]

This is tedious and error-prone on every new example we add.

[2017-05-17 20:34] dtolnay opened #112 "Cookbook ideas for walkdir crate"
Come up with ideas for nice introductory examples of using [`walkdir`](https://docs.rs/walkdir), possibly in combination with other crates, that would be good to show in the Rust Cookbook. Please leave a comment here with your ideas! You don't necessarily have to write the example code yourself but PRs are always welcome!

- [x] [Recursively find all files with given predicate](https://github.com/

[2017-05-17 20:34] dtolnay opened #113 "Cookbook ideas for mio"
Come up with ideas for nice introductory examples of using [`mio`](https://docs.rs/mio), possibly in combination with other crates, that would be good to show in the Rust Cookbook. Please leave a comment here with your ideas! You don't necessarily have to write the example code yourself but PRs are always welcome!

- [ ] ???

[2017-05-17 20:38] dtolnay opened #114 ""Define and operate on a type represented as a bitfield" recipe"
The [`bitflags`](https://docs.rs/bitflags/*/bitflags/macro.bitflags.html) crate was reviewed by the libs team before the Libz Blitz was announced, but there are no cookbook examples for it yet. Come up with a compelling use case, possibly inspired by real usage on crates.io! [reverse dependencies](https://crates.io/crates/bitflags/reverse_dependencies)

cc https://github.com/brson/rust-cookbook/is

[2017-05-17 20:40] dtolnay opened #115 "Encoding/decoding hex"

[2017-05-17 20:40] dtolnay opened #116 "Encoding/decoding base64"

[2017-05-17 20:43] dtolnay opened #117 "Detect whether executable exists on system path"
Basically like Python's [`shutil.which`](https://docs.python.org/3/library/shutil.html#shutil.which).

[2017-05-17 21:14] dtolnay commented on #111
Relevant mdBook issue: https://github.com/azerupi/mdBook/issues/245

[2017-05-17 22:00] dtolnay commented on #86
Added in e698443f2af08d3106d953c68c1977eba3c3526c because I wanted to link to it as an example from CONTRIBUTING.md.

[2017-05-17 22:00] #86 closed

[2017-05-18 00:05] dtolnay commented on #89
Fixed in #118.

[2017-05-18 00:05] #89 closed

[2017-05-18 00:10] dtolnay commented on #75
I am satisfied with the solution in #118. I stuck a CI badge in the readme in 4a5c675e665c2ede7ff3a5f569f5d1af6d9ce55a.

[2017-05-18 00:10] #75 closed

[2017-05-18 03:23] Michael-F-Bryan commented on #108
Do we want to make sure the command used is commonly available on both Windows and unix systems? If so that probably limits this to commands like `git` and `rustc -Z` because I doubt most Windows people would have GNU Binutils (`nm`) installed.

[2017-05-18 03:25] dtolnay commented on #108
Yes good call, that would be ideal.

[2017-05-18 03:30] Michael-F-Bryan commented on #108
Would it be acceptable to pull in the `regex` crate as a dependency? Regex is pretty much the swiss army knife of text manipulation, so I imagine the cookbook will include several uses of it anyway.

[`regex`]: https://docs.rs/regex

[2017-05-18 03:31] dtolnay commented on #108
Yes that would be fine! What do you have in mind?

[2017-05-18 03:38] Michael-F-Bryan commented on #108
Off the top of my head, parsing something like `git log --oneline` into a commit hash, some optional tags or branch names, and its message?

[code]

I'm happy to make a PR for this one when I get home.

[2017-05-18 03:44] dtolnay commented on #108
Okay that seems reasonable to me.

If someone wanted to get commit hashes and messages would you feel comfortable recommending this shell command + regex approach over using the [`git2`](https://docs.rs/git2/0.6.5/git2/) crate?

[2017-05-18 03:47] gsquire commented on #117
I can give this one a shot.

[2017-05-18 04:17] Michael-F-Bryan commented on #108
For something reasonably simple like this I'd recommend parsing the process's output like we're doing here. Anything more complex though and it's probably going to be easier to use the library.

As it is, this should just be a couple lines of `filter_map()` and `map()` corresponding to what you'd usually do in bash, so pulling in `git2` is probably overkill.

[2017-05-18 04:19] dtolnay commented on #108
Makes sense! I look forward to the PR.

[2017-05-18 05:02] dtolnay commented on #117
We decided to hold off on this because finding an executable is [way more complicated than I thought](https://github.com/fangyuanziti/which-rs/blob/master/src/lib.rs).

[2017-05-18 05:02] #117 closed

[2017-05-18 05:09] gsquire commented on #109
I can do this one using the `reqwest` crate.

[2017-05-18 05:16] dtolnay commented on #109
Great! [Here is a method to make a HEAD request](https://docs.rs/reqwest/0.6.1/reqwest/struct.Client.html#method.head) and GitHub should respond with 200 if the user exists and 404 if the user does not exist (or come up with your own better use case).

[2017-05-18 06:18] #109 closed

[2017-05-18 07:21] Michael-F-Bryan commented on #108
I've made an initial implementation ([gist]). @dtolnay, any chance you can give it a look over and see if it can be improved?

In particular, the error handling on [line 32] (where I'm creating a new `io::Error`) feels a little odd. I was thinking of implementing my own error type or using `error_chain!{...}` but that's adding a lot of boilerplate to an already lengthy example.

[gist]: https://gi

[2017-05-18 07:33] budziq commented on #108
@Michael-F-Bryan This looks great!.
I would have only one small nit:
Please see our [error handling section](https://brson.github.io/rust-cookbook/about.html#a-note-about-error-handling) section. Using error_chain! is the promoted error handling way (please do not worry about the noise we are working on it https://github.com/brson/rust-cookbook/pull/107).
Also could you update the example to the f

[2017-05-18 07:36] jmcomets commented on #95
I've taken a crack at this one as well as error messages. I'm at work now, I'll submit a PR later this evening.

[2017-05-18 07:58] Michael-F-Bryan commented on #108
Cheers for the links, I've updated the [gist] and added `error_chain` to make error handling nicer/more idiomatic.

Do you think that intermediate `Commit` type is still necessary now that I've put everything into a single `run()` function? I could just use a tuple, but that loses a bit of the readability gained by having named fields.

Also, which section would this belong in? I was thinking of a

[2017-05-18 08:14] rap2hpoutre commented on #116
Ok I could try to write this example! Just one question before I actually write it: may I use [this crate](https://crates.io/crates/base64)?

[2017-05-18 08:32] budziq commented on #108
The gist looks excellent, please create a PR.

I would add the example to the "basics" section for now. Once we have more examples we will think about how these should be split.

[2017-05-18 09:09] luisbg commented on #110
This one looks fun. I can work on it if you'd like :smile:

[2017-05-18 09:36] vks commented on #116
I prefer [data-encoding](https://crates.io/crates/data-encoding). It is more general and also faster (last time I tried).

[2017-05-18 09:47] vks commented on #115
As in #116, I would suggest to use [data-encoding](https://crates.io/crates/data-encoding).

[2017-05-18 10:28] karan1276 commented on #102
Demo i wrote for that can be found here: https://github.com/karan1276/rust-demo

[2017-05-18 11:18] henninglive commented on #110
Should the example use [html5ever ](https://crates.io/crates/html5ever)directly or can it use [select](https://crates.io/crates/select), which wraps the html5ever API with a much more user friendly API?

[2017-05-18 11:34] luisbg commented on #110
The API of select does look a lot nicer and easier to use.
https://github.com/utkarshkukreti/select.rs/blob/master/examples/stackoverflow.rs

It all depends on if this cookbook wants to use the key crates directly, or nice wrappers like this are valid.

What do you think @brson and @dtolnay ?

[2017-05-18 11:38] budziq commented on #112
- [ ] recursively find all files with given predicate (date / extension / size / executable flag)
- [ ] find file duplicates in directory recursively

[2017-05-18 11:59] xcthulhu opened #123 "Get a Random Unused TCP/IP or UDP Port"

[2017-05-18 12:49] xpayn commented on #101
i'll give it a try

[2017-05-18 13:14] budziq commented on #85
I will take this one

[2017-05-18 13:16] budziq commented on #91
I'll take this one

[2017-05-18 13:54] budziq commented on #98
I'll take this one

[2017-05-18 15:08] dtolnay commented on #116
If Hyper and Rustls are happy with `base64` then it's good enough for me.

[2017-05-18 15:13] #108 closed

[2017-05-18 15:21] dtolnay commented on #102
Nice! Are you still working on turning this into a PR or would you need someone else to take over?

[2017-05-18 15:28] dtolnay opened #125 "Recursively find all files with given predicate"
The predicate could be date, extension, size, executable flag, etc. For example recursively find all *.json files modified within the last 7 days.

The [`walkdir`](https://docs.rs/walkdir) crate will be useful.

[2017-05-18 15:32] dtolnay opened #126 "Recursively find duplicate file names"
Walk a directory and print out all file names that appear in more than one subdirectory. For example `a/b/cookbook.md` and `tmp/cookbook.md` would be considered duplicates and print "cookbook.md".

The [`walkdir`](https://docs.rs/walkdir) crate will be useful.

[2017-05-18 15:32] dtolnay commented on #112
Thanks! I agree both of those would make great examples.

[2017-05-18 15:42] xpayn commented on #126
i'd like to give it a try, but i have already submitted an example, and if someone wants to begin contributing with this issue, just ping me and i'll leave it to you.

[2017-05-18 15:46] dtolnay commented on #101
Added in #124.

[2017-05-18 15:46] #101 closed

[2017-05-18 15:46] dtolnay commented on #126
Go for it, @xpayn! There are plenty of examples left.

[2017-05-18 15:58] dtolnay commented on #110
Great question. Thanks for bringing this up.

I would prefer to leave this up to @brson because I know they had some strong opinions about crate selection that haven't been written down yet https://github.com/brson/rust-cookbook/issues/64#issuecomment-300650595. They are on vacation this week though so let's put this example on hold until Monday. Sorry about that @luisbg, would you pick a differen

[2017-05-18 15:58] luisbg commented on #110
No problem. I will wait a pick a different one for now.

[2017-05-18 16:00] luisbg commented on #125
This sounds fun. Can I do this one while waiting for #110 ? :smile:

[2017-05-18 16:02] dtolnay commented on #125
Of course, go for it!

[2017-05-18 16:09] vks commented on #116
I don't find that argument very convincing. Anyway, it is not really important. I just think the duplication between `base64` and `hex` is unfortunate.

[2017-05-18 16:16] luisbg commented on #125
I'm at a Hackfest this weekend. So I will look at this then.

Thanks @dtolnay

[2017-05-18 23:04] bjnyfv commented on #115
I wouldn't mind doing this one. As @vks suggested, I think that [data-encoding](https://crates.io/crates/data-encoding) would be a good choice.

If we go with the data-encoding crate, which version do we want to use? The crates.io page references version "1.2.0", but it appears that there is a release candidate version, "2.0.0-rc.1". The documentation link on crates.io seems to point to the docume

[2017-05-19 02:27] jaemk commented on #99
I'll take this one

[2017-05-19 03:40] dtolnay commented on #99
Added in #130.

[2017-05-19 03:40] #99 closed

[2017-05-19 03:41] jaemk commented on #100
I'll take this

[2017-05-19 04:25] AndyGauge commented on #123
I'll give it a stab.  Do you think std::net::TcpListener would suffice or should this be Tokio?

[2017-05-19 04:31] bjnyfv commented on #115
Addressed in Pull Request #132.

[2017-05-19 04:32] dtolnay commented on #123
I would stick with the standard library if possible. Though I have no idea how to implement this :sweat_smile: my first step would be rummaging through docs.

[2017-05-19 04:33] #115 closed

[2017-05-19 05:00] DeltaManiac commented on #105
@dtolnay
If you could provide a bit more description on what would the example would be it would be super awesome.

I was thinking of loading  an audio file and printing out the data on to stdio.

Do let me know if you have something in mind and I'd like to work on it even though I am a newb. 😆

[2017-05-19 12:57] xpayn commented on #126
For this example there are multiple level of sophistication, and i don't know where to put the cursor.
- filter directories?
- ignore errors (permission denied for instance)?
- print a filename only once even if it's used more than twice?
- give the paths for each duplicated filename?
- follow symlinks?

i guess it's a realism versus simplicity dilemma.
what's your opinion on that matter?

[2017-05-19 14:32] dtolnay commented on #126
I would prefer to print the filename only once even if it's used more than twice, and not to print the paths for each duplicated filename. Other than that I would focus on being as realistic as possible without detracting from the intent of demonstrating how to recursively traverse a directory.

[2017-05-19 14:41] dtolnay commented on #100
Added in #134.

[2017-05-19 14:41] #100 closed

[2017-05-19 15:14] dtolnay commented on #105
I think the key piece here is going to be accessing the file in an order that is not straight beginning-to-end. Mmap is convenient for this because you aren't required to write explicit [seek](https://doc.rust-lang.org/std/fs/struct.File.html#method.seek) calls to jump around the file. Can you think of any use cases like that?

[2017-05-19 16:41] dtolnay commented on #116
Added in #135.

[2017-05-19 16:41] #116 closed

[2017-05-19 16:44] #126 closed

[2017-05-19 20:14] AndyGauge commented on #90
Sounds fun.  Making a slack webhook that allows the contents of a file to be url encoded and sent as a payload.  I've created a slack team for this purpose, rust-sample.

[2017-05-19 21:01] #85 closed

[2017-05-19 21:35] dtolnay opened #139 "Remove passive voice"
I'm not satisfied with the passive voice convention that has developed for example descriptions. I find it backwards and harder to read than I would like.

Without meaning to pick on any individual instance, let me use this one as an example:

I don't have a strong preference between "make" and "makes" but either way I think this would be more readable without passive voice "is made." The rustdoc

[2017-05-19 22:18] budziq commented on #139
Hmm I guess that my passive voice examples are relatively hard to grokk in comparison to your rewording :disappointed:.
I did not see a consistent convention at the time so I have started to enforce (admittedly sub-optimal) one. So big :+1:

ATM I only see a big problem with description consistency as we do not have guidelines here.

I would suggest renaming this issue to "make the description con

[2017-05-19 22:51] budziq commented on #139
@dtolnay Before any work on description changing occurs I would like to finish my work on https://github.com/brson/rust-cookbook/issues/106

A new version of mdbook with my fixes has been just released

[2017-05-19 23:18] #123 closed

[2017-05-19 23:22] AndyGauge commented on #90
The Slack API doesn't allow a file to be sent.  This turned out to only read the contents of a file and submit that to slack, which doesn't seem to be the intent of the issue.  Will rewrite for the Dropbox API.  Does the code for slack have a place in the cookbook?

[2017-05-19 23:31] dtolnay commented on #90
How about https://paste.rs/ instead of Dropbox?

[2017-05-19 23:33] AndyGauge commented on #90
You got it.  Auth is easier that way.

[2017-05-20 00:15] #106 closed

[2017-05-20 00:29] budziq opened #142 "Styling of hyperlinked inline code items"
The default book.css renders inline code with hyperlink identically to standard inline code.
While most Markdown renderers would show them differently:
`Result`
[`Result`](https://doc.rust-lang.org/std/result/enum.Result.html)

This has a negative impact on our content ease of use / educational value (and actually makes it harder to make quality contribution as it is easy to omit needed links)

Th

[2017-05-20 00:46] dtolnay commented on #142
I'd be happy to grab your css fix for now.

[2017-05-20 00:47] dtolnay commented on #139
We're all clear on #106 so @budziq would you be interested in taking a pass at improving these? I'll work on contributing.md with an example.

[2017-05-20 03:12] dtolnay opened #143 "Capitalization in examples names"
Currently there is quite a mix:

I have a preference for sentence case but whatever we agree on, it needs to be documented in CONTRIBUTING.md.

[2017-05-20 07:07] budziq commented on #143
The title case seams to be standard for both [technical](http://shop.oreilly.com/category/series/cookbooks.do) and [literal](https://www.amazon.com/Jacques-P%C3%A9pin-New-Complete-Techniques-ebook/dp/B009XNXSJA/ref=zg_bs_6_1?_encoding=UTF8&psc=1&refRID=T4AC4Y1GGWNZ2F5YD200) "cookbooks" (at least for these few I have checked in past hour).

On the other hand it will be slightly harder to contribute

[2017-05-20 07:22] budziq commented on #139
I'll cleanup the passive voice from my examples.  But it is a large (and less than exciting) effort so I would rather wait for clear guideline I can imitate (I'm not not native english speaker so my perspective regarding the language is largely skewed as evident from this issue :) ).

[2017-05-20 08:19] cetra3 commented on #97
@dtolnay do you consider this issue closed or did you need me to do anything more with it?

[2017-05-20 08:59] cetra3 commented on #92
I could do this with an Iterator impl returning a `Dependency` struct, or is that a bit too complex?

[2017-05-20 09:34] Michael-F-Bryan commented on #93
What kind of example did you have in mind here? The way rate limiting is handled will necessarily vary depending on which API you are communicating with. For example, GitHub always replies with a `X-RateLimit-Remaining` header and you'll get a 403 if you go over your limit.

So a hypothetical request to some GitHub API might go like this:

- Send request
- deserialize response
- if deserializing f

[2017-05-20 10:01] Michael-F-Bryan commented on #112
What about recursively walking the directory structure and printing it to the screen somewhat like the `tree` command does?

[code]

[2017-05-20 11:31] budziq commented on #84
- Make a partial download with range headers

[2017-05-20 11:35] budziq commented on #112
- recursively calculate file and directory sizes like in `du` command

[2017-05-20 13:10] budziq commented on #114
Hmm, maybe a synthetic example:
- like gamepad state example in https://en.wikipedia.org/wiki/Bit_field#Unix_process_exit_code

or some low level stuff:
- checking flags in [gzipped archive](http://www.zlib.org/rfc-gzip.html#file-format) or some image or multimedia file format in order not to collide with other specialized crates. But not wanting to roll a whole parser or pull one of the parser co

[2017-05-20 14:26] dtolnay commented on #93
@konstin you suggested this one initially. Any thoughts?

[2017-05-20 14:32] #142 closed

[2017-05-20 14:42] dtolnay commented on #97
Thanks, you completed this one. Next time if you put "fixes #97" in the comment when you open the PR, it will auto-close the issue when the PR is merged.

[2017-05-20 14:42] #97 closed

[2017-05-20 14:43] dtolnay commented on #92
I think that would work. Let's try it!

[2017-05-20 14:48] dtolnay commented on #143
I look at it more as a list than as titles.

---

### Things you can do easily in Rust

- Read lines of strings from a file
- Generate random floating point numbers
- Maintain global mutable state
- Deserialize a TOML configuration file
- Run an External Command and Process Stdout

---

The title case one seems too shouty.

[2017-05-20 15:26] leodasvacas commented on #102
I think the example should use the [Rayon thread pool](https://docs.rs/rayon/0.7.0/rayon/struct.ThreadPool.html), it's a more popular implementation.

[2017-05-20 15:44] budziq commented on #113
How about implementing one of the three venerable [dead protocols](http://blog.annharter.com/2015/07/15/three-dead-protocols.html)?

[2017-05-20 17:11] konstin commented on #93
The correct solution would be a crate that is hooked into hyper and/or rewquest. This crate would delay all requests until you're allowed to requests again while logging to the user. Unfortunately, no stable crate for that currently exists.

There a two custom solutions: Github's api is friendly enough telling you the number of remaining requests, so you'd just check that header and sleep if the n

[2017-05-20 17:19] konstin commented on #93
Side note: I wouldn't label this easy. Doing this right is surprisingly difficult, esp. when it comes to parallelism. This is made even more difficult by the fact that many services do not even adhere the http standard, which is to return a 429 and a `Retry-After`. Github returns a 403, twitter its famous 420 and I'm sure there a enough apis just returning a json with an error message.

[2017-05-20 18:23] dtolnay commented on #125
Added in #146.

[2017-05-20 18:23] #125 closed

[2017-05-20 20:30] budziq commented on #139
Well this is not disheartening at all :disappointed:

Passive voice examples by budziq:
- [ ] [Generate random numbers within a range](https://brson.github.io/rust-cookbook/basics.html#generate-random-numbers-within-a-range )
- [ ] [Generate random numbers with normal distribution](https://brson.github.io/rust-cookbook/basics.html#generate-random-numbers-with-normal-distribution)
- [ ] [Generate r

[2017-05-22 16:39] dtolnay opened #149 ""Encode and decode hex" is missing from intro.md"
Should have been added in #132.

[2017-05-22 18:15] bjnyfv commented on #149
Since I was the submitter of #132, I will fix this issue. I should have another pull request submitted by tonight.

[2017-05-23 00:09] brson commented on #110
@luisbg let's go ahead and do this, and use whichever crate you like.

Neither html5ever or select were on my radar for this project, but they accomplish a useful task, and I mostly want to say 'yes' and keep things moving. Let's do try to avoid expanding the scope too greatly though. I think a good guideline here is that using html5ever/select is in support of reqwest use cases, so that's ok.

[2017-05-23 03:34] bjnyfv commented on #149
Crated pull request #150 to resolve this issue.

[2017-05-23 04:04] #149 closed

[2017-05-23 04:04] dtolnay commented on #149
Fixed in #150.

[2017-05-23 04:48] #98 closed

[2017-05-23 13:28] luisbg commented on #110
@brson great!

I am traveling this week for some work meetings but as soon as I can I will look into this and submit some code. Thanks :smile:

[2017-05-23 18:17] #90 closed

[2017-05-23 19:05] #92 closed

[2017-05-23 19:07] pepyakin commented on #103
Can I claim this one?

[2017-05-23 19:13] dtolnay commented on #103
Absolutely!

[2017-05-23 19:18] dtolnay opened #152 "Split out a "Logging" section"
Logging dominates enough of the current "Application development" section that it deserves its own.

[2017-05-23 19:23] dtolnay opened #153 "Write about the expand button"
People may not notice the button in the top right of examples to show the expanded error handling code. Let's mention it somewhere in the intro.

[2017-05-23 19:33] #95 closed

[2017-05-23 21:19] #96 closed

[2017-05-23 21:30] dtolnay opened #154 "Put a cache in front of the shields.io images"
Some shields.io requests are unreasonably slow. It should be okay to layer a 12-hour cache in front of them.

[2017-05-24 08:52] meven commented on #61
I believe all the examples listed here have been implemented.
At the time of my writing those examples listed do not reflect they were merged :
    Log a debug message to the console
    Log an error message to the console
    Log messages to a custom location
    Include a timestamp on log messages

https://brson.github.io/rust-cookbook/app.html

[2017-05-24 15:33] budziq commented on #143
I can do this cleanup once https://github.com/brson/rust-cookbook/pull/155 is merged

[2017-05-24 16:30] llambda commented on #102
May want to consider https://github.com/carllerche/futures-threadpool since it returns futures.

[2017-05-24 16:34] #152 closed

[2017-05-24 16:51] dtolnay commented on #61
You're right! Thanks for your help everybody.

[2017-05-24 16:51] #61 closed

[2017-05-24 18:00] #143 closed

[2017-05-24 19:02] dtolnay opened #158 "Use 4-space indent consistently"
Some examples currently use 2 or 3 space indent, especially in hidden areas. This is very against Rust style.

![selection_051](https://cloud.githubusercontent.com/assets/1940490/26420847/c3a9ff00-4078-11e7-8f04-a75bc66b03a5.png)

[2017-05-24 19:02] #153 closed

[2017-05-24 19:04] budziq commented on #158
most likely happened when adding the additional '# '

[2017-05-24 22:41] #158 closed

[2017-05-24 22:45] #103 closed

[2017-05-24 23:42] brson commented on #139
Aw, don't feel bad @budziq! Look at all those great examples.

[2017-05-25 00:52] brson opened #161 ""Expanded" examples in mdbook contain incorrect rustdoc boilerplate"
If you look at the examples on the [about](https://brson.github.io/rust-cookbook/about.html) page, you can click the 'expand' icon to _supposedly_ get the full source code, but it seems to be implicitly adding rustdoc-style boilerplate, which makes our examples completely bogus.

Presumably mdbook is mimicking rustdoc heuristics, looking for 'fn main', not finding it, and assuming it should be wra

[2017-05-25 01:03] dtolnay commented on #161
The code block on that page looks good to me. If you are hitting this after running `mdbook serve` locally, you need to install a newer version of mdBook.

[2017-05-25 01:03] brson commented on #161
Oh, heh. The live version does look right. It's only locally that it looks wrong.

[2017-05-25 01:03] #161 closed

[2017-05-25 20:01] brson opened #164 "Consider name collission with packt book"
Packt has a book in the works called "Rust Cookbook": https://www.packtpub.com/application-development/rust-cookbook

We might want to rebrand to avoid the collision.

cc @dvigneshwer

[2017-05-26 00:16] dtolnay commented on #139
Reopening until I get a chance to write about this in contributing.md.

[2017-05-26 04:26] jaemk commented on #154
I started throwing [something](https://github.com/jaemk/badge-cache) basic together. I can plop it on my server once I get to cleaning it up.

[2017-05-26 04:35] dtolnay commented on #154
Wow! Thank you so much.

[2017-05-26 19:26] brson commented on #114
I'm not sure if bitflags makes any particular guarantees about its representation that would allow it to interop with C.

[2017-05-26 20:05] brson opened #167 "Think more about search and navigation"
The organization of the book is just barely enough to be workable right now, but I hope we can do a lot more.

Today there is a single index, organized on three axes:

- "section" - each example is stuffed into a section, like "basics", "encoding", etc. This is mostly to accommodate the linear book format, so that it's readable front-to-back and has something of a 'narrative' organization
- crate

[2017-05-26 20:06] budziq commented on #114
I meant something along the lines of https://github.com/nix-rust/nix/blob/c086d23997ca1c887377bc78fd3fa79000a810d7/src/fcntl.rs#L215

From the very first paragraph of bitflags crate doc:

[2017-05-26 20:20] brson commented on #167
Another observation: it's impossible to Ctrl-F the index for a crate name because the badges are images.

[2017-05-26 20:22] brson opened #168 "Use consistent terminology for examples"
Sometimes I call them "examples", sometimes "recipes". I like "recipes" better, but if we end up dropping the cooking metaphor for https://github.com/brson/rust-cookbook/issues/164 that will need to change.

For now let's just replace the word "example" with "recipe".

[2017-05-26 20:22] brson commented on #168
@dtolnay what do you think of the word "recipe"?

[2017-05-26 20:24] brson commented on #168
OK, now that I've written the word "recipe" like 20 times I'm getting that "weird word" sensation... like what do all those letters even mean?

[2017-05-26 20:37] sebasmagri commented on #110
@luisbg @brson could we use this to replace the [Web Scraper RustBridge Tutorial](https://community.rs/rustbridge/web-scraper/README.html)?

[2017-05-26 23:01] #64 closed

[2017-05-26 23:04] dtolnay commented on #168
Recipe is fine but I agree this is contingent on #164.

[2017-05-27 07:07] dvigneshwer commented on #164
The book follows a typical cookbook type format where it has many simple DIY recipes across different chapters focussing on various concepts of Rust and towards the end of the book the reader uses his collective knowledge gained to build simple end to end real-world applications in Rust.

Having different names will definitely help in reaching out to more people.

[2017-05-27 07:22] budziq commented on #168
Well "Rust Recipes" is also a viable name for the book.
It would still convey the "cookbook" idea without name collision and it rhymes ;)

[2017-05-27 11:32] budziq opened #171 "RFC - add "copy to clipboard" / "download" button to each recipe"
It would be nice
to have button allowing user to copy whole recipe to clipboard and possibly an additional one to download it as an rs file.

Most likely the buttons would be located next to expand button but visible only on hover or via popup selector to avoid clobbering the interface.

Most likely it is an issue for mdbook itself as we would need changes on per snippet rendering.
cc @azerupi

[2017-05-27 12:10] budziq commented on #171
hmm possible implementation might be based on https://clipboardjs.com

[2017-05-27 19:16] brson commented on #112
Maybe just "recursively calculate size of all files in a directory".

- Walk over a directory while skipping dotfiles. Common example featured in the walkdir docs.

[2017-05-27 19:19] brson commented on #171
Yeah that would be great. The instructions for turning examples into cargo projects are pretty complex now. Would be great to be a oneliner.

Another possibility would be to use something like [cargo-script](https://github.com/DanielKeep/cargo-script) to put all the dependencies inside the example itself, so users could avoid the matter of creating a Cargo.toml file when experimenting with the exa

[2017-05-27 19:22] brson commented on #113
Yeah, those seem pretty reasonable.

I wonder how useful it even is to have mio in the cookbook, since it's a really low-level piece of system integration code that most people probably won't use. It's certainly not a crate new Rust users should be reaching for (they should be using tokio).

[2017-05-27 19:24] brson commented on #113
I think I don't know enough about mio to say what examples would be good.

[2017-05-27 19:40] budziq commented on #113
My thoughts exactly. I have struggled to find a use case that would not span few screens. And still I'm not sure how useful would these be. I would rather see tokho-core examples not to mislead the fledgeling rustaceans.

It raises a question if all (low level) libz-blitz crates should be represented in the cookbook at all. Otherwise maybe this calls for a specialised "advanced/low level" chapter?

[2017-05-27 20:05] dtolnay opened #172 "Reuse a single client in the paginated example"
The "Consume a paginated RESTful API" example currently creates a new client for each request. According to the `reqwest` docs:

[2017-05-27 20:19] budziq commented on #171
@brson I guess that you are referring to the second idea ("download button"). I've originally meant it as an extension to the "copy to clipboard". I understand that you are suggesting a usecase in which user would download a whole bootstrap for a project (Cargo.toml + main.rs). This is very interesting but would be much more involved.

And what is your opinion on the "copy to clipboard" button?

[2017-05-27 22:06] #172 closed

[2017-05-28 00:36] budziq commented on #102
I'd like to try this one.

It would be drawing a fractal (julia set) to an image with threadpool.

[2017-05-28 01:42] #91 closed

[2017-05-29 10:47] budziq commented on #40
I guess that all examples are implemented from this section

[2017-05-29 14:56] #40 closed

[2017-05-31 01:29] dtolnay commented on #105
Added in #177.

[2017-05-31 01:29] #105 closed

[2017-05-31 02:42] dtolnay commented on #154
Fixed in #175.

[2017-05-31 02:42] #154 closed

[2017-05-31 15:56] #102 closed

[2017-05-31 21:33] budziq commented on #171
Clipboard handling has been merged to mdbook https://github.com/azerupi/mdBook/pull/303 It will work out of the box on next release but  will require an update of our custom book.css to have functionality (notification popup). Will close this after update.

[2017-06-01 01:28] Henning-K commented on #112
How about (recursively) counting up all file types/endings from current directory on and printing them to the screen?

[2017-06-01 01:42] clarcharr commented on #112
Searching for all Rust files in a directory, maybe? I do that with the [collapse-crate](https://github.com/clarcharr/collapse-crate) crate.

[2017-06-01 03:23] cetra3 commented on #112
Word count of a directory!

[2017-06-01 09:39] bytebuddha commented on #113
Lately I have been thinking of creating a [twm](http://incise.org/tinywm.html) clone using mio and [xlib](https://github.com/daggerbot/x11-rs). Would that be interesting enough to include?

[2017-06-01 10:06] budziq commented on #104
Any idea how such example would look like?

The canonical example would normally utilize fork to spawn a child process and communicate via mmap.

[code]
But in Rust we do not have a stable fork API (the [nix crate](https://crates.io/crates/nix) provides such functionality but it is not cross platform which defeats the purpose of "cross-platform" part in this example).

[2017-06-01 11:02] vandenoever commented on #112
Compare two directories by using sorted iterators.

[code]

[2017-06-01 21:07] KodrAus commented on #112
From the [internals thread](https://internals.rust-lang.org/t/crate-evaluation-for-2017-06-13-walkdir/5306/5)

@imbaczek has suggested restructuring a directory based on mtime:

https://github.com/imbaczek/organize-by-mtime

[2017-06-01 23:34] brson commented on #112
Thanks for all the ideas. Let's settle on some and keep moving.

@Henning-K There's a "recursively find files with given predicate" example [here](https://brson.github.io/rust-cookbook/app.html#recursively-find-all-files-with-given-predicate). Seems about what you are after.

@clarcharr Also seems functionally similar to previous example.

@vandenoever Comparing two directories seems plausible.

I

[2017-06-01 23:39] brson opened #179 "Add "Recursively calculate file sizes at given depth" recipe"
Use walkdir's min_dir/max_dir to calculate the total file sizes at some depth of the filesystem tree.

[2017-06-01 23:40] brson commented on #112
I added "Recursively calculate file sizes at given depth" to the op based on @budziq since it leverages min_depth / max_depth.

[2017-06-01 23:43] vandenoever commented on #112
if you want to highlight efficiency of walkdir vs find you could compare `find |sort` vs walkdir.sort_by. The latter is much more efficient in terms of memory and cpu.

[2017-06-02 00:27] brson commented on #112
@burntsushi is not sure what the benefit of `filter_entry` over `filter_map` is.

[2017-06-02 00:35] budziq commented on #112
@brson

`filter_entry` does not descend into nodes failing the predicate while

I guess that we could add `filter_entry`/ `follow_links` / `sort_by` to the already existing examples with some tweaking.

[2017-06-02 00:36] KodrAus commented on #112
@brson It looks like there are a few ergonomic differences. `filter_entry` takes a predicate like:

[code]

Whereas `filter_map` would take a predicate like:

[code]

If the `DirEntry` is a directory and the predicate doesn't match then it doesn't walk that directory, whereas `filter`/`filter_map` still will (I think).

[2017-06-02 00:49] brson commented on #112
`filter_entry` will actually skip subdirectories when it can - if you return false on a directory, the entire subtree is skipped. So it seems like it's a best practice to use it, and we should probably prefer it for the recipes.

[2017-06-02 01:04] KodrAus commented on #112
@brson I agree, let's always prefer `filter_entry` over the standard iterator filters in the cookbook examples and move the discussion over the [internals thread](https://internals.rust-lang.org/t/crate-evaluation-for-2017-06-13-walkdir/5306) if we want to explore `walkdir`s `filter_entry` vs `Iterator`'s `filter`/`filter_map` a bit more.

[2017-06-02 01:09] budziq commented on #112
@KodrAus

Please note that `filter_entry` changes the semantics over `filter` which might be surprising and unwanted by the user (we might want to filter over files but descend to all dirs or filter dirs with separate predicate). These two would coexist. But I kinda find the `filter_entry` name braking the rule of least surprise.

[2017-06-02 02:53] KodrAus commented on #112
@brson Should I raise another issue in this repo for using `filter_entry` in our `walkdir` samples?

[2017-06-02 12:55] sb89 commented on #110
I came up with the following for this:

[code]

I'm still learning Rust myself so any criticism is welcome.

[2017-06-02 14:31] luisbg commented on #110
@sb89 I know you are new to Rust and maybe to Open Source communities. It is customary to ask the person assigned to the issue if they have done any progress before working on or submitting a patch.

The reason for this is to avoid stepping in each other's toes. Which you've done in this case, since I had spent some time on this but wasn't ready to post yet. You used reqwest and select like I plan

[2017-06-02 15:14] #94 closed

[2017-06-02 17:52] brson commented on #112
@budziq These semantic points would be good to point out in recipe text, and would be good to have some pretext in the cookbook for one example needing the short-circuiting behavior, and another needing to avoid the short-cirtuiting behavior. Can we think of how to rephrase one of the existing examples to want the short-circuiting, and the other to not, or otherwise come up with a new idea that fu

[2017-06-02 18:03] brson commented on #112
@budziq hm, I feel like "Recursively find all files with given predicate" is pretty great as stated - it is a real simple common task. Let's not over complicate that one.

`filter_entry` would work well for a "Traverse directories while skipping dotfiles" example, which also skips hidden directories. I feel pretty good about this as a recipe. Common task. The text can explain the short-circuiting

[2017-06-02 18:09] BurntSushi commented on #112
Well, it's not really about deduplication. You have two choices when recursively traversing a directory while following symlinks, where symlinks are used to create a loop:

1. Loop forever.
2. Detect loops, return an error, and refuse to continue descending ad infinitum.

This actually happens. Example on my system:

[code]

[2017-06-02 19:37] budziq commented on #112
Well the "while following symlinks" part does indeed sound artificial at best. I would suggest to keep the example title as it was "Recursively find duplicate file names" and just add implementation and textual description regarding symlinks

[2017-06-02 19:42] BurntSushi commented on #112
I would object to calling anything that walkdir does "recursively find duplicate file names." That's not what it's doing. It's specifically detecting loops in the file system when it's asked to traverse symbolic links. For example, if two distinct symbolic links point to the same file, then walkdir will happily emit both of them.

[2017-06-02 20:40] crypto-universe commented on #179
Hi, @brson ! I can do that!

[2017-06-02 22:13] crypto-universe commented on #179
@brson , check, please, if the code is good enough to be published in the book :)

[2017-06-03 02:23] KodrAus opened #182 "Show off missing functionality in walkdir examples"
As raised in #112 our cookbook samples for `walkdir` should demonstrate the [`filter_entry`](https://docs.rs/walkdir/1.0.7/walkdir/trait.WalkDirIterator.html#method.filter_entry) method and note how it doesn't traverse directories if they don't match, unlike the standard `filter` method.

Original cookbook sample issues:

- #125
- #126

cc: @brson @budziq

---
edit. Action items below:
- [x] imple

[2017-06-03 03:26] brson commented on #113
@bytebuddha I think a window manager is frankly to complex for the cookbook.

[2017-06-03 14:54] luisbg commented on #110
@sb89 looks good to me. Two things to do.

First one is to submit this as a Pull Request, if you don't know how to do it I can help with that.

Second is removing the error_chain dependency. Just look at how the other examples in the cookbook are written, using:
 fn run() -> Result<()> { .. }
but not quick_main(). This is good for brevity.

Thanks for your code :smile:

[2017-06-03 21:14] sb89 commented on #110
@luibs Thanks. I should have checked whether this was still being worked on before I submitted my solution, my apologies.

[2017-06-04 10:44] luisbg commented on #110
@sb89, no problem. Have it mind for future contributions. Welcome to Rust

[2017-06-04 13:13] budziq commented on #182
@KodrAus

As discussed on https://github.com/brson/rust-cookbook/issues/112#issuecomment-305867666 I would also suggest to add
[`follow_symlinks`](https://docs.rs/walkdir/1.0.7/walkdir/struct.WalkDir.html#method.follow_links) to at least one of the examples

[2017-06-06 08:21] aturon opened #184 "Cookbook ideas for error-chain crate"
Come up with ideas for nice introductory examples of using `error-chain`, possibly in combination with other crates, that would be good to show in the Rust Cookbook. Please leave a comment here with your ideas! You don't necessarily have to write the example code yourself but PRs are always welcome!

edit
- [x] [Handle errors correctly in main](https://github.com/brson/rust-cookbook/issues/214)
-

[2017-06-07 00:35] brson opened #185 "Recipes for flate2 / tar"
Ideas for the flate2 and tar crates (since they tend to be used together).

- [x] "Decompress a tarball to a directory"
- [x] ["Compress a directory to a tarball"](https://github.com/brson/rust-cookbook/issues/186)
- [x] ["Decompress a tarball while removing a prefix from the paths"](https://github.com/brson/rust-cookbook/issues/187)
  - Purpose of this is to iterate over the entries, not just use

[2017-06-07 00:36] brson opened #186 ""Compress a directory to a tarball" recipe"
Use flate2 and tar.

[2017-06-07 00:38] brson opened #187 ""Decompress a tarball while removing a prefix from the paths" recipe"
The purpose of this recipe is to show iteration over the entries in the tarball, not just use Archive::unpack.

[2017-06-07 00:41] brson commented on #185
It might be worthwhile to convert the existing tar / flate2 / tempdir example to just a tar / flate2 example, so it has some symmetry with the pending "compress a directory to a tarball" example, and come up with additional tempdir ideas.

[2017-06-07 00:42] brson opened #188 "Change wording in "Unzip a tarball to a temporary directory""
This example uses the words "unzip" and "uncompress" to mean the same thing. With the specific meaning of "zip" in this context, I think I'd prefer to use the word "decompress", being more common than "uncompress".

[2017-06-07 00:42] brson commented on #188
cc https://github.com/brson/rust-cookbook/issues/185

[2017-06-07 00:44] brson opened #189 ""Define and operate on a type represented as a bitfield" recipe"
Use the bitflags crate.

[2017-06-07 00:44] brson opened #190 "Recipes for bitflags"
- [x] ["Define and operate on a type represented as a bitfield"](https://github.com/brson/rust-cookbook/issues/189)

One example may be sufficient for this little crate.

[2017-06-07 00:46] brson commented on #189
Maybe show the creation of the type and a few representative operators and method calls, just to give a taste of what's possible.

[2017-06-07 10:35] budziq commented on #185
I've removed tempdir from  "Decompress a tarball to a directory" in https://github.com/brson/rust-cookbook/issues/191
For what its worth we still have one [tempdir example](https://brson.github.io/rust-cookbook/net.html#ex-url-download) that might be a little "forced".

[2017-06-07 10:44] budziq commented on #184
@aturon This one might be a little tricky as over half of our examples already use `error-chain`.
It might be hard to come up with a "non-forced" example that shows something new without intimate knowledge.

Maybe some usage of [chaining-errors](https://docs.rs/error-chain/*/error_chain/#chaining-errors)?

cc @brson @Yamakaky

[2017-06-07 15:29] Yamakaky commented on #184
Yeah, using it everywhere should be good. Maybe just add an error chain centered example ? Like "this thing would be easier with error chain, here is how to do it".

[2017-06-07 20:53] luser commented on #179
One nit: we should tweak this example to use `f.file_type().is_file()` instead of requiring the metadata to filter out non-files. It seems minor, but the `WalkDir` iterator gets the `file_type()` data for free during iteration (since it's stored in the directory entries), whereas calling `metadata()` generally means an additional call to `stat` each item. Those extra syscalls can add up, so it's b

[2017-06-08 20:23] budziq commented on #186
I'd like to do it

[2017-06-13 03:56] dtolnay opened #193 "License obligations"
- Clarify the "License" section of the readme; [this one](https://github.com/brson/rust-api-guidelines#license) is a good model
- Provide text of the licenses in [LICENSE-MIT](https://github.com/brson/rust-api-guidelines/blob/master/LICENSE-MIT) and [LICENSE-APACHE](https://github.com/brson/rust-api-guidelines/blob/master/LICENSE-APACHE)
- Add [license metadata](https://github.com/serde-rs/serde/b

[2017-06-13 09:35] budziq commented on #179
@luser fair point, calling `file_type()` would be a reasonable performance optimization and your implementation is also very nice.

If you are willing to provide/change this or any other example with textual description, you are very welcome to open a PR :)

For now I'm closing this issue with https://github.com/brson/rust-cookbook/issues/181

[2017-06-13 09:35] #179 closed

[2017-06-13 18:31] budziq opened #194 "move to skeptic 0.10.0"
The testrunner https://github.com/brson/rust-skeptic has moved to 0.10.0 which is a breaking change. Now each test is run with CWD in a separate tempdir instead of project root dir.

This triggers failures in [two](https://brson.github.io/rust-cookbook/basics.html#run-an-external-command-and-process-stdout) [examples](https://brson.github.io/rust-cookbook/basics.html#access-a-file-randomly-using-a

[2017-06-14 00:23] #193 closed

[2017-06-15 22:17] #186 closed

[2017-06-15 22:17] #188 closed

[2017-06-15 22:36] brson commented on #184
I agree this one probably doesn't need a lot, but maybe it's possible to formulate recipe statements based off of common problems newbies have with errors.

e.g.

- "Handle errors correctly in `main`"
- "Avoid discarding errors during error conversions"

idk

[2017-06-15 23:01] #194 closed

[2017-06-16 06:36] Yamakaky commented on #184
Yeah, sure.

[2017-06-18 12:59] #110 closed

[2017-06-18 20:56] KodrAus commented on #184
For newbies even just _defining an error and using it_ seems like a useful example.

[2017-06-18 22:36] j-haj commented on #187
I have a working example for this, but would like to get some clarification to the "... while removing a prefix ..." part. Suppose the tarball has the structure:

[code]
are you looking for there to be additional logic to remove "test/" (for example) from the paths of A.txt and B.txt?

[2017-06-19 06:28] budziq commented on #187
Hi @j-haj

Then PR away :smile:

This example is aimed mostly to showcase iteration and per entry manipulation instead of a single blanket ` Archive::unpack` over the whole archive.

Suppose you have a tarball with similar structure (or with several dirs at root level like `backups`):
[code]

And you would like to have it extracted to something like:
[code]
or even

[code]

Whatever feels the most

[2017-06-19 09:33] j-haj commented on #187
Perfect that was my initial interpretation so things are on the right track. One follow-up question: since these should be self contained, I have a small section that creates the tarball first (following the methodology of a prior recipe), and then I iterate through that. Is there any opposition to that? This prevents us from having a comment along the lines of "First, find a tarball we can use...

[2017-06-19 09:38] budziq commented on #187
I would suggest mimicking the ["Decompress a tarball"](https://brson.github.io/rust-cookbook/app.html#ex-tar-decompress). Hardcode the path and make the example `no_run`.

[2017-06-19 12:54] j-haj commented on #187
Well it seems I've run into some issues when testing on more complex directory structures so my PR will be a little delayed while I dig into this.

[2017-06-19 13:03] budziq commented on #187
It sounds that you are trying to do more than required from this example :smile: I would suggest pushing a PR early in order not to waste time.

[2017-06-20 06:06] Michael-F-Bryan commented on #184
I'd say something like defining an error type, then linking it to a couple other errors like `std::io::Error` or adding a couple custom variants is enough for a basic example. Then you can show an example of opening a file, using `?` and/or `chain_err()` to bubble up any errors encountered. That's about as much as I've needed to do for most of my crates.

Another thing which may or may not be usef

[2017-06-20 06:51] budziq commented on #184
@Michael-F-Bryan looks like your idea is on the spot. Although I would suggest splitting it to three separate examples of growing complexity based on the feedback so far:

- "Handle errors correctly in main" - super simple example which defines 1 error variant instead of using Box<Error>
- "Avoid discarding errors during error conversions" - slightly more complex example showing aggregation of cus

[2017-06-20 10:45] j-haj commented on #187
I had introduced a bug in my code that was causing the issue -- whoops! I am just trying to sort out handling the errors properly then I should have a PR.

[2017-06-20 13:06] j-haj commented on #187
See #199 for PR

[2017-06-22 18:03] jonashagstedt opened #200 "typo at the bottom of src/about.md"
https://github.com/brson/rust-cookbook/blob/master/src/about.md

It says "coobook" rather than "cookbook".

[2017-06-22 18:05] budziq commented on #200
@jonashagstedt thanks for spotting that!

 Are you willing to make a PR?

[2017-06-22 18:06] jonashagstedt commented on #200
Sure

[2017-06-22 18:12] #200 closed

[2017-06-23 08:40] jonashagstedt commented on #113
As a new Rust user I actually found Tokio too complicated. I spent a few days trying to write a server that wasn't of the request/response model. Then I tried doing it with Mio and it made a lot more sense to me. A lot less "magic" as it were.

I can obviously not speak for all beginners, and I really wanted to use Tokio because of all it's praise, but it left me feeling stupid (which is clearly n

[2017-06-23 16:25] tyoc213 commented on #114
I will try this... but I also dont know how this is related to #189

[2017-06-23 16:32] budziq commented on #114
hi @tyoc213.
this example is already implemented https://github.com/brson/rust-cookbook/pull/192   and waits for merge (due to bug in skeptic).

If you have a fundamentally different example in mind feel free to make a PR. Otherwise would you consider solving one of the other issues or proposing other examples?

[2017-06-23 16:35] budziq commented on #114
unfortunately it is a duplicate. I will close it

[2017-06-23 16:53] tyoc213 commented on #114
@budziq well, I can try another one :)... but I can't choose

[2017-06-23 17:12] budziq commented on #189
duplicate of https://github.com/brson/rust-cookbook/issues/114

[2017-06-23 17:12] #189 closed

[2017-06-23 17:38] budziq commented on #114
@tyoc213 we are a little low on actionable and accepted examples ATM (I'll add some later on weekend). How about helping with https://github.com/brson/rust-cookbook/issues/182 ? I'll gladly guide you.

[2017-06-24 06:25] tyoc213 commented on #182
So well, what should I do?

[2017-06-24 08:18] budziq opened #202 "Traverse directories while skipping dotfiles"
Please use [`walkdir`](https://docs.rs/walkdir) crate to show how we can operate on a directory recursively while efficiently omitting hidden files and directories ("dotfiles").

The idea is to show off usage of [`filter_entry`](https://docs.rs/walkdir/*/walkdir/trait.WalkDirIterator.html#method.filter_entry)

.

[2017-06-24 08:35] budziq commented on #182
Hi @tyoc213 I've added action items to this issue that you can follow. I would start with adding the [Traverse directories while skipping dotfiles](https://github.com/brson/rust-cookbook/issues/202)

[2017-06-25 05:20] tyoc213 commented on #202
HI there, I have basically this

[code]

The only problem Im having is that if I mark the current directory as starting with "." or "hidden" it inmediately stops, because being a directory and returning that it should be filtered out, the whole listing of the directory and subdirs is gone :).

So it is OK like that? or should I skip always the first entry being the current directory ".".

[2017-06-25 08:26] budziq commented on #202
Hi, nice :+1:  you can always use [`DirEntry::depth`](https://docs.rs/walkdir/*/walkdir/struct.DirEntry.html#method.depth) to never skip the starting dir.

Also would suggest to always start with a draft PR (even if its almost empty). It is easier to give guidance (and further action items). I have few minor suggestions so far:

- do not `unwrap` or `expect`. `should_skip` can use `unwrap_or` for

[2017-06-26 03:18] tyoc213 commented on #139
Well, english is not my natal language... so a reference, pdf book (free of course) or something related to what is pasive voice and how to redact properly would be great!

[2017-06-26 05:29] dtolnay commented on #139
@tyoc213 The point is that as you read a sentence, you should be able to understand the fraction of the sentence you have read so far. When you are 25% of the way through the sentence, you should understand what that 25% means and how it contributes to the full sentence. When you are 50% of the way through the sentence, you should understand what that 50% means, etc.

In passive voice, often thing

[2017-06-26 06:17] tyoc213 commented on #139
Well probably but Im a pro at reading english xD.. it seems that it is more difficult to people that droped out of school http://www.quickanddirtytips.com/education/grammar/active-voice-versus-passive-voice?page=1 and as I have read spanish also has pasive and active, so... but I normally dont write much and less to be read by other people, I guess I normally write in pasive form.

[2017-06-26 06:42] budziq commented on #139
@tyoc213 please note that the rust-cookbook is aimed to be an introductory resource for programmers of different lingual and academic backgrounds. So we try to keep the prose short and as simple or simpler than the actual code examples.

[2017-06-26 06:50] budziq commented on #139
It might be so, but on the other end of the spectrum formal English education tends to ingrain more complicated forms in non native English speekers (like myself).

[2017-06-28 07:18] KodrAus opened #205 "Cookbook ideas for same-file crate"
Come up with ideas for nice introductory examples of using `same-file`, possibly in combination with other crates, that would be good to show in the Rust Cookbook. Please leave a comment here with your ideas! You don't necessarily have to write the example code yourself but PRs are always welcome!

edit:
- [x] ["avoid writing to a file you are reading from"](https://github.com/brson/rust-cookbook/

[2017-06-28 07:19] KodrAus commented on #205
This is a simple crate with some examples [in the `same-file` repo](https://github.com/BurntSushi/same-file/tree/master/examples).

[2017-06-28 21:12] budziq commented on #202
closed with #203

[2017-06-28 21:12] #202 closed

[2017-06-28 22:44] budziq commented on #205
how about?:
- "avoid writing to a file you are reading from"
    - or a variant "check if stdout is not redirected to file you are reading from"
- "find loops in filesystem"

[2017-06-29 06:32] alisha17 commented on #182
@tyoc213 Are you solving all the issues here? Or can I work on one of them? @budziq

[2017-06-29 06:33] alisha17 commented on #205
I would like to write examples for this. Well, where should I start from?

[2017-06-29 09:30] budziq commented on #205
@alisha17 I'm still soliciting ideas for this crate. If @KodrAus gives a :+1: for my 2 ideas above then I'll create issues for them with explanations and you are ready to go.

[2017-06-29 09:33] budziq commented on #182
These were left unattended long enough. I'm game either way :+1:

[2017-06-29 11:32] KodrAus commented on #205
@budziq I think those are great examples!

[2017-06-29 11:49] budziq opened #206 ""avoid writing to a file you are reading from""
Use the [same-file](https://github.com/BurntSushi/same-file/) crate to write an example testing if application is not trying to read and write to the same file.

One such example would be if stdout/stderr would be redirected to a file
[code]
while `my_app` would open and read from such file modify read lines in some ways and write them to stdout

Another example would be if application would check

[2017-06-29 12:00] budziq opened #207 ""find loops in filesystem""
Use the [same-file](https://github.com/BurntSushi/same-file/) check if one of the files in given directory does not point to one of the path ancestors.

We would prefer not to use `walkdir` crate which already does al the heavy lifting here (using `same-file`) internally.

This might be a basis for a more involved example such as graphing the filesystem with petgraph but I would suggest to just im

[2017-06-29 12:02] budziq commented on #205
@alisha17 you are good to go with any of the two listed examples. Ping me If you'll have any questions.

[2017-06-29 18:07] alisha17 commented on #206
What will be the best approach if I would want to check if infile is not a symlink to outfile using same-file crate?

[2017-06-29 18:24] budziq commented on #206
please see the crate examples https://github.com/BurntSushi/same-file/tree/master/examples the api surface is quite small.

I would like this exampke to contain both approaches (is_same_file and Handle).

we would split this example to two separate code snippets.

- Handle approach for checking if file we are reading from file to which the stdout is redirected to
- is_same_file for checking if inf

[2017-06-29 18:38] alisha17 commented on #182
@budziq To update [Recursively find duplicate filenames](https://brson.github.io/rust-cookbook/app.html#ex-dedup-filenames) to use follow_links, can you please elaborate on how symlinks can be used for this example?

[2017-06-29 19:55] budziq commented on #182
it's a oneliner ;). Just add `.follow_links(true)` to the builder and update the prose to mention the added call.

On second thought the [Recursively find all files with given predicate](https://brson.github.io/rust-cookbook/app.html#recursively-find-all-files-with-given-predicate) will be better to showoff `follow_symlinks`. I'll update the todo list above

[2017-06-29 21:04] tyoc213 commented on #182
@alisha17 if you want to take one or two :)...

@budziq if you have other suguestion(s)

[2017-06-30 07:54] budziq commented on #182
@tyoc213 there is not much to do here really (unless  you can coma up with a nice usage of [`sort_by`](https://docs.rs/walkdir/*/walkdir/struct.WalkDir.html#method.sort_by) on one of the examples)

The only available (and actionable) example to implement left atm is https://github.com/brson/rust-cookbook/issues/207 so you can go for it if you feel like it (it will be super short too)

[2017-06-30 22:13] brson opened #209 "Cookbook should probably be CC0 licensed"
Since the content of the cookbook is intended to be copied freely, it would be better licensed CC0, with basically no restrictions.

Edit:

------------
We will track here the consent of all contributors (the list will be periodically updated):
Please drop a comment **here** if you consent or disagree.  [Link to CC0 license](https://creativecommons.org/choose/zero/). Once we gather consent followi

[2017-07-01 08:39] alisha17 commented on #206
Is there a way to easily redirect stdout to a file?
Also, the file passed for the write operation will simply be the file descriptor of the file opened for reading?

[2017-07-01 13:41] budziq commented on #206
Yep. Just the way I've shown previously:
`./my_app  > output.txt`

Most unix shells support this syntax and as far as I know windows batch does as well.
But it might be easier to illustrate with stderr (then you will be able to print out some messages without it getting redirected to a file)
`./my_app 2 > output.txt`

Right. when stdin, stdout or stderr are redirected to/from a file these have the

[2017-07-04 21:31] budziq opened #211 "cookbook ideas for glob crate"
Come up with ideas for nice introductory examples of using [glob](https://crates.io/crates/glob), possibly in combination with other crates, that would be good to show in the Rust Cookbook. Please leave a comment here with your ideas! You don't necessarily have to write the example code yourself but PRs are always welcome!

The ideas should be very short and simple (not to collide with walkdir cra

[2017-07-04 21:44] budziq commented on #211
possible ideas:
- find all png files recursively
- find all files with given pattern ignoring filename case.

[2017-07-04 21:52] budziq opened #212 "cookbook ideas for csv crate"
Come up with ideas for nice introductory examples of using [csv](https://crates.io/crates/csv) crate, possibly in combination with other crates, that would be good to show in the Rust Cookbook. Please leave a comment here with your ideas! You don't necessarily have to write the example code yourself but PRs are always welcome!

There are some excellent examples in [csv-cookbook](https://docs.rs/cs

[2017-07-04 21:58] budziq opened #213 "cookbook ideas for ring crate"
Come up with ideas for nice introductory examples of using [ring](https://crates.io/crates/ring) crate, possibly in combination with other crates, that would be good to show in the Rust Cookbook. Please leave a comment here with your ideas! You don't necessarily have to write the example code yourself but PRs are always welcome!

Come up with a compelling use case, possibly inspired by real usage

[2017-07-04 22:08] budziq opened #214 ""Handle errors correctly in main" - using error-chain crate"
super simple example which defines 1 error variant instead of using Box

[2017-07-04 22:09] budziq opened #215 "add "Avoid discarding errors during error conversions" example"
A slightly more complex example than https://github.com/brson/rust-cookbook/issues/214 showing aggregation of custom and crate errors that might use chain_err

Example should show off error-chain crate

cc https://github.com/brson/rust-cookbook/issues/184

[2017-07-04 22:11] budziq opened #216 "add "Obtain backtrace of complex error scenarios" example"
Show some realistic 3 level error handling (possibly based on largely stripped down version of [Download a file example](https://brson.github.io/rust-cookbook/net.html#download-a-file-to-a-temporary-directory) without tempdir/headder noise)

Use the error-chain crate

cc https://github.com/brson/rust-cookbook/issues/184

[2017-07-05 10:37] budziq opened #217 "cookbook ideas for regex crate"
Come up with ideas for nice introductory examples of using [regex](https://crates.io/crates/regex) crate, possibly in combination with other crates, that would be good to show in the Rust Cookbook. Please leave a comment here with your ideas! You don't necessarily have to write the example code yourself but PRs are always welcome!

We already have [one example](https://brson.github.io/rust-cookboo

[2017-07-05 10:42] budziq commented on #217
Any ideas for non contrived example?

Some initial ideas:
- validate e-mail address
- replace text with named capture groups
- Matching multiple regular expressions with `RegexSet`

[2017-07-05 19:25] budziq commented on #212
initial ideas:
- "read csv records" - should show both reading into a `StringRecord` and typed deserialization with Serde (preferably in two separate short snippets)
- "read csv records with different delimeter"
- "filter csv records matching a predicate"
- "handle invalid csv data with serde"
- "Serialize records to csv"

[2017-07-06 01:24] brson opened #218 "Add "Find all png files recursively""
Use the glob crate with the '**' pattern.

cc https://github.com/brson/rust-cookbook/issues/211

See [CONTRIBUTING.md](https://github.com/brson/rust-cookbook/blob/master/CONTRIBUTING.md) for details.

[2017-07-06 01:27] brson opened #219 "Add "find all files with given pattern ignoring filename case.""
Use the glob crate with custom MatchOptions.

cc https://github.com/brson/rust-cookbook/issues/211

See [CONTRIBUTING.md](https://github.com/brson/rust-cookbook/blob/master/CONTRIBUTING.md) for details.

[2017-07-06 01:27] brson commented on #211
Those ideas sound fine to me! I've filed the issues and will post to twir.

[2017-07-06 05:27] sebasmagri opened #220 "Cookbook ideas for the env_logger crate"
This issue is intended to track recipes for the `env_logger` crate. This would be pretty simple, but please, let me know your ideas!

- [x] [Logging to stdout instead of stderr](https://github.com/brson/rust-cookbook/issues/221)
- [x] [Use a custom environment variable to set up logging](https://github.com/brson/rust-cookbook/issues/222)

[2017-07-06 11:35] budziq opened #221 "Logging to stdout instead of stderr"
Use [Builder::target](https://doc.rust-lang.org/log/env_logger/struct.Builder.html#method.target)

cc https://github.com/brson/rust-cookbook/issues/220

See [CONTRIBUTING.md](https://github.com/brson/rust-cookbook/blob/master/CONTRIBUTING.md) for details.

[2017-07-06 11:36] budziq opened #222 "Use a custom environment variable to set up logging"
Use [Builder::parse](https://doc.rust-lang.org/log/env_logger/struct.Builder.html#method.parse)

cc https://github.com/brson/rust-cookbook/issues/220

See [CONTRIBUTING.md](https://github.com/brson/rust-cookbook/blob/master/CONTRIBUTING.md) for details.

[2017-07-06 11:40] budziq commented on #213
initial ideas:
- calculate sha1 / sha256 digest of given data or file
- sign and verify a value with HMAC digest
- other non contrived examples

[2017-07-06 12:49] sb89 commented on #221
Something like this?

[code]

[2017-07-06 12:51] budziq commented on #221
yep :+1:  just add some prose and PR away :smile:

[2017-07-06 12:54] sb89 commented on #221
Great. What do you mean by "prose"?

[2017-07-06 13:00] budziq commented on #221
A short textual description (in this case it would be a oneliner) ideally with hyperlinked reference to the key method.

[2017-07-06 13:02] sb89 commented on #221
OK, I understand. Thanks.

[2017-07-06 20:07] budziq commented on #218
done

[2017-07-06 20:07] #218 closed

[2017-07-06 20:07] budziq commented on #219
done

[2017-07-06 20:07] #219 closed

[2017-07-07 03:42] ericho opened #225 "Ideas for threadpool crate"
Issue to gather ideas for the threadpool crate

[2017-07-08 03:30] brson opened #227 "Cookbook ideas for the rand crate"
We already have 4 examples:

- [x] Generate random floating point numbers
- [x] Generate random numbers within a range  
- [x] Generate random numbers with normal distribution
- [x] Generate random values of a custom type
- [x] [Create random passwords from a set of allowed characters](https://github.com/rust-lang-nursery/rust-cookbook/issues/287)
- [ ] TODO: review 0.5 API, suggest new recipes

S

[2017-07-08 08:46] alisha17 commented on #206
I am not much familiar with how this must be implemented. I know it's definitely very trivial but I am a bit confused. :/ @budziq

[2017-07-08 09:12] alisha17 commented on #206
Can you describe a simple workflow for this? I know this is pretty trivial. But I am somewhat confused how effectively can the API of same_file can be effectively used here?

[2017-07-08 10:02] budziq commented on #206
Try to think how you could turn this example https://github.com/BurntSushi/same-file/blob/master/examples/is_stderr.rs into an even simpler one.

- open a text file for reading
- check if the file you are opening to read from is not `Handle::stdout`
    - if yes print some error to stderr and bailout
    - if not printout the file lines with `println!`  with some minimal modification or filtering

[2017-07-08 11:49] #221 closed

[2017-07-08 15:06] alisha17 commented on #206
Thanks @budziq
I will proceed with it.

[2017-07-08 15:07] alisha17 commented on #212
I did two examples for this. Should I create a new page for csv in cookbook or put the examples under general 'Application Development'?

[2017-07-08 18:41] budziq commented on #212
@alisha17 These will go to "encoding" section of the book.

but please post the ideas first as we are still soliciting the ideas and none have been accepted yet :)

[2017-07-09 05:32] alisha17 commented on #212
@budziq I worked on the initial ideas you mentioned in the comment above.

[2017-07-09 05:36] alisha17 commented on #206
Under which section in the cookbook should the examples be added; in 'Basics'?

[2017-07-09 08:09] budziq commented on #212
@alisha17

Which ones then? I'll create the issues

[2017-07-09 08:12] budziq commented on #206
@alisha17

This example feel more like an "Aplication development". But It's pretty simple so we would put is somewhere early on the list.

nope no need to artificially split the work.

[2017-07-09 08:25] alisha17 commented on #212
-"read csv records with different delimeter"
-"handle invalid csv data with serde"
-"Serialize records to csv"
@budziq

[2017-07-09 11:11] somebrel commented on #214
I'll be working on this issue

[2017-07-09 11:51] budziq opened #228 "add "read csv records""
should show both reading into a StringRecord and typed deserialization with Serde (preferably in two separate short snippets)

cc https://github.com/brson/rust-cookbook/issues/212

See [CONTRIBUTING.md](https://github.com/brson/rust-cookbook/blob/master/CONTRIBUTING.md) for details.

[2017-07-09 11:52] budziq opened #229 "add "read csv records with different delimeter""
example should show reading csv with delimeter different than ','

cc https://github.com/brson/rust-cookbook/issues/212

See [CONTRIBUTING.md](https://github.com/brson/rust-cookbook/blob/master/CONTRIBUTING.md) for details.

[2017-07-09 11:57] budziq opened #230 "add "filter csv records matching a predicate""
please see [csv tutorial](https://docs.rs/csv/*/csv/tutorial/index.html#pipelining)  if using this resource please remember to attribute original author

cc https://github.com/brson/rust-cookbook/issues/212

See [CONTRIBUTING.md](https://github.com/brson/rust-cookbook/blob/master/CONTRIBUTING.md) for details.

[2017-07-09 12:10] budziq opened #231 "add "handle invalid csv data with serde""
please see [csv tutorial](https://docs.rs/csv/*/csv/tutorial/index.html#handling-invalid-data-with-serde) if using this resource please remember to attribute original author

cc https://github.com/brson/rust-cookbook/issues/212

See [CONTRIBUTING.md](https://github.com/brson/rust-cookbook/blob/master/CONTRIBUTING.md) for details.

[2017-07-09 12:14] budziq opened #232 "add "Serialize records to csv""
please see [csv cookbook](https://docs.rs/csv/*/csv/cookbook/index.html) if using this resource please remember to attribute original author

example should show both free form serialization and struct serialization with serde
preferably in separate snippets but under one example

cc https://github.com/brson/rust-cookbook/issues/212

See [CONTRIBUTING.md](https://github.com/brson/rust-cookbook/blo

[2017-07-10 08:01] alisha17 commented on #206
fn run() -> io::Result<()> {
    let path_to_read = Path::new("hello.txt");

    let mut file = match File::open(&path_to_read) {
        Err(why) => panic!("couldn't open due to: {}", why.description()),
        Ok(file) => file,
    };

    let mut s = String::new();

    match file.read_to_string(&mut s) {
        Err(why) => panic!("couldn't read due to: {}", why.description()),
        Ok(_)

[2017-07-10 08:18] budziq commented on #214
For now we will go with "Basics" for now and if we get enough examples that fit similar category we will make a separate section.

[2017-07-10 11:35] budziq commented on #206
@alisha17 then please create a minimal problematic snippet and describe what would be the expected behaviour. Cursory check show that the lib works as expected but there might some bug that I am missing and we might have to issue a bugreport to the samefile repo ;)

[2017-07-10 13:12] somebrel commented on #214
#234

[2017-07-10 18:05] somebrel commented on #229
I would like to work on this one

[2017-07-10 18:27] alisha17 commented on #229
@somebrel I was already working on this one. I mentioned in #212.

There are other ideas for more csv cookbook recipes. Did you have a look?

[2017-07-10 18:37] somebrel commented on #229
Ops! Alright, I'll check them out, thanks

[2017-07-10 18:40] somebrel commented on #230
@budziq I'll work on this one. Can you tag it as _work in progress_ plasse?

[2017-07-11 01:36] Ophirr33 commented on #207
How would I go about creating a loop in the file system to test my program on? Trying to use a sym link just ends up creating a broken sym link for me.

[2017-07-11 03:42] brson opened #236 "Recipe ideas foc gcc crate"
This crate is presently being [evaluated](https://internals.rust-lang.org/t/crate-evaluation-for-2017-07-11-gcc/5450) and I don't see a cookbook issue opened.

This one is weird because its a build time crate. But it is pretty important. We might see if we can figure out a way to present examples.

Some ideas

- "Compile and link statically to a bundled C library"
- "Compile and link statically to

[2017-07-11 06:50] budziq commented on #207
@Ophirr33 try this
[code]

[2017-07-11 09:23] alisha17 commented on #206
@budziq I should create a code snippet and place it in a cookbook although it is not working as expected?

[2017-07-11 09:58] budziq commented on #206
@alisha17

As I've written beafore. The code (although requiring cleanup) looks and works as expected. If you feel that there is something wrong. Lets get to the bottom o this :smiley: Please:
- write what are your expectations (how the code should behave and what should be the output)
- what are you seeing instead

There are three possibilities here:
- there is a misconception on how this code sh

[2017-07-11 11:44] alisha17 commented on #206
@budziq Maybe I was not clear with my question. Where should I write the code snippet? Here itself?

[2017-07-11 11:46] budziq commented on #206
I would just submit a PR and we will work on the form in standard review form.
But still I would like to hear about the problem that you have mentioned.

[2017-07-11 14:13] #114 closed

[2017-07-12 09:39] budziq opened #238 "setup MacOS CI"
Our first Windows contributor has stumbled on:

- a [skeptic bug](https://github.com/brson/rust-skeptic/issues/34)
- non cross platform crate [syslog](https://crates.io/crates/syslog) being used unconditionally

both of these problems would be easily averted if we had more robust CI.

[2017-07-12 17:32] steverob commented on #228
@budziq  I'm working on this :)

[2017-07-12 23:18] KodrAus commented on #225
Dispatching some blocking io to a threadpool and returning a `Result` on a channel?

[2017-07-13 12:50] Phaiax commented on #217
- Parsing `href=""` and `src=""` from a webpage and deduplicate
- Extracting a deduplicated list of #Hashtags from a text
- Extracting a certain html tag including its content without parsing the whole document as html.
- Capturing urls to special domains. (for something like the automatic 'issue has been mentioned' system here on github)
- Filter a log file (remove Info/Debug...)
- Extract potent

[2017-07-13 12:54] Phaiax commented on #227
Similar to the range example: Create random passwords from a set of allowed characters.

[2017-07-13 13:35] Phaiax commented on #213
I don't believe we should add any examples of ring into the cookbook except for password hashing.
There is simply to much that can go wrong when rolling out selfmade cryptography schemes (or with its key management). Many of the reverse examples are just rust implementations of (more or less) known cryptography schemes. There are examples in the ring crate that are helpful and discoverable enough,

[2017-07-13 18:50] #187 closed

[2017-07-13 18:59] budziq commented on #187
@j-haj you can already see your [example deployed](https://brson.github.io/rust-cookbook/app.html#ex-tar-strip-prefix) keep'em coming :smile:!

[2017-07-13 18:59] j-haj commented on #187
@budziq thanks for all the guidance!! I'll definitely be working on more

[2017-07-13 19:33] budziq commented on #217
@Phaiax these look awesome! Although I would avoid using regex in case a more specialized crate is already available in cookbook (as is the case for url and html parsing but I'm still game to represent the ideas in the cookbook). Would you be willing to implement some of these?

[2017-07-13 19:49] budziq commented on #213
@Phaiax

I totally agree. The idea behind cookbook is to take the crates and see what common programming usecases can be implemented with them (bonus points for other crates being involved). Rolling your own crypto is certainly not a common task (please see my comment on [internals thread](https://internals.rust-lang.org/t/rust-libz-blitz/5184/109?u=budziq) exactly about that :smile: )

These look

[2017-07-13 20:06] budziq commented on #236
i would propose that these would be put into a separate build_tools.md file/section as these are not your average runnable code examples

[2017-07-13 22:13] budziq commented on #225
- Gather output from multiple child processes - Manage a pool of child processes doing some IO bound work (like a list of git clone addresses)
- Process memory mapped file in parallel - memmap a csv (or any easily divisible) file and process the chunks against a transform (csv reader/regex filter/regex replace) in a threadpool. (depending on the example the results might need to be sorted afterwar

[2017-07-14 16:47] budziq opened #240 "add "Validate an e-mail address and extract login" example"
This example should use [regex](https://crates.io/crates/regex) crate
cc https://github.com/brson/rust-cookbook/issues/217

See [CONTRIBUTING.md](https://github.com/brson/rust-cookbook/blob/master/CONTRIBUTING.md) for details.

[2017-07-14 16:48] budziq opened #241 "add "Extract phone numbers from text" example"
This example should use [regex](https://crates.io/crates/regex) crate
cc https://github.com/brson/rust-cookbook/issues/217

See [CONTRIBUTING.md](https://github.com/brson/rust-cookbook/blob/master/CONTRIBUTING.md) for details.

[2017-07-14 16:49] budziq opened #242 "add "Extract a list of unique #Hashtags from a text" example"
This example should use [regex](https://crates.io/crates/regex) crate
cc https://github.com/brson/rust-cookbook/issues/217

See [CONTRIBUTING.md](https://github.com/brson/rust-cookbook/blob/master/CONTRIBUTING.md) for details.

[2017-07-14 16:51] budziq opened #243 "add "Replace text with named capture groups" example"
This example should use [regex](https://crates.io/crates/regex) crate
cc https://github.com/brson/rust-cookbook/issues/217

See [CONTRIBUTING.md](https://github.com/brson/rust-cookbook/blob/master/CONTRIBUTING.md) for details.

[2017-07-14 16:53] budziq opened #244 "add "Filter a log file by matching multiple regular expressions" example"
This example should use [regex](https://crates.io/crates/regex) crate.
It should showoff  [`RegexSet`](https://doc.rust-lang.org/regex/regex/struct.RegexSet.html) usage.

cc https://github.com/brson/rust-cookbook/issues/217

See [CONTRIBUTING.md](https://github.com/brson/rust-cookbook/blob/master/CONTRIBUTING.md) for details.

[2017-07-14 16:57] budziq opened #245 "add "Extract all unique links from a MediaWiki markup" example"
This example should use [regex](https://crates.io/crates/regex) crate.

We may also like to provide an alternative implementation with [select](https://crates.io/crates/select) crate

cc https://github.com/brson/rust-cookbook/issues/217

See [CONTRIBUTING.md](https://github.com/brson/rust-cookbook/blob/master/CONTRIBUTING.md) for details.

[2017-07-14 20:02] brson opened #246 "Overhaul visual design"
The current design is basically the result of a single pass back when there were only a few examples, and clearly isn't scalable. It needs a complete rethink. Some requirements

- Should be searchable my crate
- Should be searchable by topic
- CTL-F should probably work for crate names, where today they are graphic badges
- Continuing to use mdbook is preferable
- Should be a static site

Also see

[2017-07-14 20:17] budziq commented on #87
As discussed on Use the crates from the libz blitz? integer32llc/rust-playground#168 the integer32 rust playground team is willing to coordinate with us on the list of preloaded crates.

Cookbook would be also interested on a json  list of supported crates that we could consume in runtime to (re)enable play buttons for given examples.

As suggested by @kodraus one or both parties might expose stat

[2017-07-14 21:44] shepmaster commented on #87
The static lists I could go either way on. That is, if we want to say that the cookbook libs *should* be in the playground, I'm cool with that. We can add a whitelist easily. Then we could just accept a PR every time a library goes though the blitz. I don't know if we want to *start* with worrying about if this crate available or not - just assume all are. A thing that would change my mind would b

[2017-07-15 08:56] Phaiax commented on #242
I'm on this one.

[2017-07-15 13:33] Phaiax commented on #243
I'm on this.

[2017-07-15 13:48] #207 closed

[2017-07-15 13:55] Phaiax commented on #242
Same question here: Which category should I use?

[2017-07-15 15:02] Phaiax commented on #246
You mean static site from the server side or from the client site (no javascript required/preferred)?

[2017-07-15 19:08] budziq commented on #87
I guess that I would prefer to treat the playpen as semi volatile remote resource as we might add some non blitz crates to cookbook examples and We might want to query the playpen for supported crates prior to enabling play buttons on per example basis.

Having a whitelist would be awesome as we would be able to setup a curation process for the crate list. And we would just push a PR once crate is

[2017-07-19 09:47] yandexx commented on #244
Hi! I'll try this one.

I've made a working example so I'll document it properly and make a PR.

I presume this goes into the Basics section.

[2017-07-19 12:33] budziq commented on #244
@yandexx  Right. For now we are grouping these into basics and when the section grows too much we will think about good way to split.

[2017-07-19 12:52] budziq commented on #246
The site is generated via mdbook into a set of static html/js/css files served via github gh-pages without any backend (probably not requiring a backend would be the nicest aspect of the project to maintain).

And 99% of the styling and js comes directly from mdbook (with some additional features and fixes around the corner with upcoming mdbook 0.1.0)

Most likely we will be sticking with mdbook f

[2017-07-19 18:22] yandexx commented on #245
I'll take this one.

Use `reqwest` to pull the page? Does this go into Networking or Basics?

[2017-07-19 18:58] budziq commented on #245
There is no ideal answer as to which category given example might go into as these are cross cutting and we will have to redesign the presentation anyway to show that in the future(I would see the categories more like tags than chapters).

If you plan to use reqwest then put it in networking.

Please note that we already have an [identical example using the select crate](https://brson.github.io/ru

[2017-07-19 19:03] budziq commented on #242
@phaiax sorry your question slipped past me. Regex examples generally go into basics section.

[2017-07-20 11:18] yandexx commented on #245
Thanks. A couple ideas came to mind:
- Find all links in a Mediawiki syntax page e.g. from https://en.wikipedia.org/w/index.php?title=Rust_(programming_language)&action=raw
- Find all links in a Markdown document e.g. https://raw.githubusercontent.com/BurntSushi/ripgrep/master/README.md (this sound more complex though since the actual URLs can be in the footer, so maybe find all headers or somethi

[2017-07-20 11:48] budziq commented on #245
Both ideas are very cool!

we would just extract links with capture groups for link name and link url in the form `[link name](scheme://some/path)` and disregard anything else no mater the location (we would just be interested in a list not their location so footer links would be good to)

I'll leave it up to you to chose the one that you find most useful, interesting and fun to implement :+1:

Ju

[2017-07-20 16:00] yandexx commented on #245
I figured Mediawiki is simpler so I'll implement it. I'll try to maybe look up both [[internal]] and [external] ones?

[2017-07-20 18:17] budziq commented on #245
The syntax is actually more complex here but sure go wild :smile:

:+1:

[2017-07-20 23:56] clarcharr commented on #93
So fun fact, I was actually working on solving this problem myself and found the `ratelimit` crate, which makes it actually fairly stratightforward to solve this problem in a proactive (as opposed to reactive) way. I actually submitted brayniac/ratelimit#19 to make the API for this crate easier to work with to solve these types of use cases.

I think it'd be good to have two different rate-limitin

[2017-07-21 07:35] budziq commented on #93
Hi @clarcharr,

Thanks for looking into this!

We would certainly love to have both types of rate limiting examples as long as these are relatively bytesized (the [draw fractal]( https://brson.github.io/rust-cookbook/concurrency.html#draw-fractal-dispatching-work-to-a-thread-pool   ) seams to be near our pain threshold). Originally we have hoped to present some trivial example without additional c

[2017-07-22 10:12] Phaiax commented on #246
One step towards Ctrl+F compatability of crate names could be to use `<crate>regex</crate>` instead of the definition with ```[![rand-badge]][rand]```. Some javascript could get the version info by using the [json][https://badge-cache.kominick.com/crates/v/bitflags.json?label=bitflags] API and replace the `<crate>` tag by some css that renders into a badge.  The badge would look almost the same bu

[2017-07-22 10:23] budziq commented on #246
nice idea. on the other hand shields.io and our cache supports json output which contains the version number so js might process it in one go

[2017-07-22 10:55] Phaiax commented on #246
which cache? the browser cache?

[2017-07-22 11:22] budziq commented on #246
https://badge-cache.kominick.com/badge

we use caching proxy for shields.io due to its historic bad performance

[2017-07-22 14:12] yandexx commented on #222
I'll do this one.

[2017-07-22 14:16] Michael-F-Bryan commented on #84
This is a bit of a more advanced idea, but I recently wrote [a wrapper] around the github API for dealing with pagination by giving you an iterator which automatically requests the next page and deserializes it using serde.

Would something like that be a useful cookbook recipe, or is it too much of a niche problem?

[a wrapper]: https://github.com/Michael-F-Bryan/github-backup/blob/fc9e3db72ae064

[2017-07-22 15:57] budziq commented on #84
Hi @Michael-F-Bryan. Thanks for taking an interest!
We already have an [example showing paginated response](https://brson.github.io/rust-cookbook/net.html#consume-a-paginated-restful-api) and we are trying to avoid pulling non LibzBlitz crates at the moment but you are welcome to submit your crate for inclusion in the [official thread](https://internals.rust-lang.org/t/rust-libz-blitz/5184) or con

[2017-07-22 16:31] Michael-F-Bryan commented on #84
Ah, looks like you guys are one step ahead of me! I was thinking you might be able to copy the guts out of my `Pagination` struct and adapt it to use `reqwest` instead of the `github-rs` client (which itself is just a thin wrapper around hyper). But you probably wouldn't gain much by altering the existing example to take inspiration from what I did other than showing how it's almost trivial to mak

[2017-07-22 18:15] yandexx commented on #222
Well this was very confusing. All the docs everywhere mention `env_logger::Builder` but the actual struct is currently named `LogBuilder`.

https://doc.rust-lang.org/log/env_logger/struct.Builder.html

[2017-07-22 18:56] budziq commented on #222
env_logger is currently under a rewrite most likely you have looked into docs from master instead of ones from published crate.

[2017-07-23 17:53] yandexx commented on #222
I see.

Is this example even needed if it's essentially the same as https://brson.github.io/rust-cookbook/logging.html#ex-log-timestamp but without `format()`?

[2017-07-23 18:43] budziq commented on #222
yep but quite a lot of the description from that example should be moved to your example as this one would be more trivial and possitioned right above

[2017-07-24 11:10] yandexx commented on #225
- Calculating checksum for all files (or by a glob) in a folder; this task is commonly CPU-bound.

[2017-07-25 00:15] #232 closed

[2017-07-25 00:17] #222 closed

[2017-07-25 00:32] #231 closed

[2017-07-25 00:42] #229 closed

[2017-07-25 00:45] #242 closed

[2017-07-25 00:50] #243 closed

[2017-07-25 00:55] #241 closed

[2017-07-25 01:10] #245 closed

[2017-07-28 12:37] luser commented on #213
I submitted a PR to add an example of generating a SHA-256 digest of a file with ring: https://github.com/brson/rust-cookbook/pull/257

[2017-07-29 15:27] budziq opened #258 "repo header, links and ci deploy broken after move to rust-lang-nursery"
I've fixed ci, links and edit button but I've no rights to edit the repo banner that still points to https://brson.github.io/rust-cookbook

As a side note I'm guessing that https://rust-lang-nursery.github.io/rust-cookbook will not be the final URL for the cookbook. @brson  @dtolnay  Is there already an URL meant as the final one or ar we still waiting on https://github.com/rust-lang-nursery/rust-

[2017-07-30 18:01] xuchunyang opened #261 "https://brson.github.io/rust-cookbook is 404"
That URL occurs in this repo's description. It looks like you forget to update it.

[2017-07-30 18:07] budziq commented on #261
hi @xuchunyang. this requires someone with @rust-lang-nursery rights to edit the repo headline

duplicates https://github.com/rust-lang-nursery/rust-cookbook/issues/258

[2017-07-30 18:07] #261 closed

[2017-07-30 21:53] budziq commented on #258
Closing as repo banner has been fixed by someone with more foo than myself :smile:

[2017-07-30 21:53] #258 closed

[2017-07-31 06:15] dns2utf8 opened #262 "Please add a redirect to the new location"
People new to programming do not know how to rewrite a pg-pages url to the repo url and can not find the new location.

The old location mentioned in the blog: https://brson.github.io/rust-cookbook/

Regards

[2017-07-31 09:05] budziq commented on #262
Hi @dns2utf8,

Unfortunately the old gh-pages address stopped existing due to repository transfer into rust-lang-nursery and there is not much we can do about it as brson will not be available for some time to operate his repositories.

The best we can do at the moment is announce the new address to the audience in the mailing lists and reddit. Which blog post do you mean? I might be able to reach

[2017-07-31 09:10] dns2utf8 commented on #262
Hi @budziq

Thank you for the fast reply.

I mean this blog post https://github.com/rust-lang/blog.rust-lang.org/pull/191
The urls are silently updated, no **[Updated YYYY-MM-DD]** tag yet.

Would be great if you could ping somebody

[2017-08-01 04:38] isaacg1 opened #263 "Error Chain expansion is easy to overlook."
Many of the examples, including `Read lines of strings from a file` and `Read and write integers in little-endian byte order`, have functions called `run()` which return a `Result<()>`. Since `Result` ordinarily has two type parameters, these examples do not immediately compile.

While experienced rust users will be able to handle with something like `use std::io::Result`, a newer user might be at

[2017-08-01 04:43] isaacg1 commented on #263
I didn't see the error chain information, I apologize. With that in mind, I see that the code doesn't need to be changed. That being said, I do think it's very easy to completely miss the fact that the error handling information is present, since the natural workflow is Table of Contents -> Basics or another specific topic, without ever looking at the About area, and the expand button in the top r

[2017-08-01 05:33] budziq commented on #263
Hi @isaacg1,

Thanks for great input! I admit that visual and UX side are very lacking at the moment.

In regard to [copy and pasting](https://github.com/rust-lang-nursery/rust-cookbook/issues/171). A convinient clipboard button  is already implemented upstream and waiting for mdbook release. It will copy all of the contents including the hidden part.

Also I was thinking on making the expand (and

[2017-08-03 06:27] budziq commented on #262
Hi @dns2utf8

I'm sorry for taking so long to get back to you on this. Basically I'm waiting for Rust lang stakeholders decision if this new url will be final or even semi final before moving on with any announcements.

cc @aturon

[2017-08-03 15:30] aturon commented on #262
Hey @budziq, sorry for the delay. This url is semi-final; it's where the cookbook will live until we "publish" it toward the end of the year (at which point it will be promoted to rust-lang proper).

Sorry about the lack of heads-up about this.

[2017-08-04 09:06] #244 closed

[2017-08-04 09:09] budziq commented on #230
Hi @somebrel do you need any help with this?

[2017-08-04 09:10] budziq commented on #228
hi @steverob do you need any help with this?

[2017-08-04 09:11] budziq commented on #206
hi @alisha17 do you need any assistance with this example?

[2017-08-04 09:43] budziq commented on #167
cc https://github.com/rust-lang-nursery/rust-cookbook/issues/246

[2017-08-04 10:40] budziq commented on #262
Ok I've advertised the move on [URLO](https://users.rust-lang.org/t/rust-cookbook-needs-a-lot-of-help/10841/4?u=budziq), [IRLO](https://internals.rust-lang.org/t/rust-libz-blitz/5184/131?u=budziq) and [rust reddit](https://www.reddit.com/r/rust/comments/6rjm60/rust_cookbook_has_a_new_home_rustlangnursery/)
@dns2utf8 If you have any other channel that I might use in mind please do not hesitate to c

[2017-08-04 10:40] #262 closed

[2017-08-04 21:51] somebrel commented on #230
I did it based on the csv tutorial but I am not sure if reading the csv from `stdin` would be the best for a cook-book example... Or is it ok to assume that people are familiar with a `CLI`?

[code]

[2017-08-06 21:20] budziq commented on #230
Hi sorry I took so long to respond. In general It looks nice but I would drop the `chain_err` as these add a little noise (the original example from tutorial was arguably more readable). We would just need to remember to attribute the original author.

In regard to the cli being used, I wouldn't worry about it but If you think it's clearer, we can replace the query with some hardcoded value.

[2017-08-08 08:15] #240 closed

[2017-08-08 08:36] budziq commented on #240
Nicely done @Ophirr33 !

[2017-08-08 21:44] somebrel commented on #230
Alright, thanks! PR coming soon.

[2017-08-09 11:39] alisha17 commented on #206
I have some doubts @budziq . Sorry, I lost my code. I will update in the comment tomorrow.

[2017-08-09 14:40] budziq commented on #206
No problem. Take your time :)

On 9 August 2017 at 13:39, Alisha Aneja <notifications@github.com> wrote:

[2017-08-12 15:56] alisha17 commented on #206
@budziq   Could you please have a look at this: https://gist.github.com/alisha17/902af5d034d91ef99ed9e2236d826f17? Is this correct in a way of what is expected in this recipe?

[2017-08-12 17:27] budziq commented on #206
Yep pretty much :)

few notes. I would:
- remove the explicit `panic!`s and just use `?`
- change `Handle::stderr()` to `Handle::stdout()`
- run the example with `cargo run > hello.txt ` instead of `cargo run 2> hello.txt`
- use `eprintln!` instead of `println!` to write to stderr
- make the same_file check before reading  form hello.txt to make the example more realistic
- `println!` all lines fr

[2017-08-13 05:42] dtolnay commented on #113
I think it is in scope for the cookbook to help users decide what level of the async stack they want to operate at. I can imagine a dedicated async chapter showing characteristic code for mio, tokio, async hyper, and gotham so new users like @jonashagstedt can get a sense of what is most appropriate for their use case.

Let's follow up on this later as the relevant parts of the ecosystem approach

[2017-08-13 05:42] #113 closed

[2017-08-15 16:52] richard-uk1 opened #266 "Cookbook ideas for std"
EDITED I'm not sure what the different options are regarding stdio, so here are some suggestions

--------
Current list:
- [x] [Run an external command and process stdout](https://rust-lang-nursery.github.io/rust-cookbook/basics.html#run-an-external-command-and-process-stdout)
- [x] [Run an external command passing it stdin and check for an error code](https://github.com/rust-lang-nursery/rust-coo

[2017-08-15 17:43] budziq commented on #266
@derekdreery thanks for the suggestions.

We already have [Run an external command and process stdout](https://rust-lang-nursery.github.io/rust-cookbook/basics.html#run-an-external-command-and-process-stdout) example which is a little more advanced version of your 1'st suggestion. But I like the ideas 2-4.

How about combining the 2'nd and 3'rd suggestion into one and leaving the 4'th as is?
Would

[2017-08-15 18:31] budziq opened #267 "Add "async chapter" once the ecosystem around it stabilizes somewhat"
https://internals.rust-lang.org/t/crate-evaluation-for-2017-08-15-mio/5709/7

[2017-08-15 20:32] derekdreery commented on #266
Yeah I can do that

[2017-08-15 21:09] budziq opened #268 "Add "Run an external command passing it stdin and check for an error code" example"
cc #266

See [CONTRIBUTING.md](https://github.com/rust-lang-nursery/rust-cookbook/blob/master/CONTRIBUTING.md) for details.

[2017-08-15 21:13] budziq opened #269 "Add "Run piped external commands" example"
Please propose a nice example of >=2 commands piped to each other.

cc #266

See [CONTRIBUTING.md](https://github.com/rust-lang-nursery/rust-cookbook/blob/master/CONTRIBUTING.md) for details.

[2017-08-15 21:18] budziq commented on #266
@derekdreery excellent :+1: . I took the liberty of updating the description into a tracking issue if there will be any other example ideas. Would you like to work on both of these examples or on a specific one (I'll mark them as WIP to avoid duplicated work)?

[2017-08-15 22:02] derekdreery commented on #266
Yeah I can do both, might be a few days, it's late here :P.

[2017-08-18 02:51] alisha17 commented on #206
@budziq  Can you please have a look at it now? https://gist.github.com/alisha17/902af5d034d91ef99ed9e2236d826f17
And provide feedback

[2017-08-18 10:23] budziq commented on #206
@alisha17
few notes about the gist:
- no need to open and read file if we know that the situation is erroneous. We should just leave `bail!`
- the `s` string is read after it is printed out ;)
- I would prefer for the printing / transform be done on a line basis like below

I would propose following snippet:
[code]

The example runs should be as follows:
- for ok version
[code]
- for version prese

[2017-08-19 18:26] anna-liao commented on #238
@budziq Can you elaborate on what you mean by a "more robust CI"?  I could work on the MacOS CI.

[2017-08-19 20:26] budziq commented on #238
Hi @anna-liao,

Awesome! 👍
Basically we would like to update our CI to use https://github.com/japaric/trust with Linux and MacOS on travis and windows builds appveyor (basically one has to follow the instructions in trust repo).

there are two additional notes:
- we upload build artifacts (book built with MdBook) to our gh-pages on each successfull commit and merged PR
- we have a cron build on tr

[2017-08-19 22:41] anna-liao commented on #238
@budziq For the github tokens, do I just use my own when I am testing a fork, and then it will be replaced later when it is merged to rust-lang-nursery/rust-cookbook?  The .yml configuration files require an encrypted version of the github personal access tokens.

[2017-08-20 06:33] budziq commented on #238
@anna-liao
yep just use your own tokens for testing on your forks and substitute the travis token with the one already present in our repo when making the PR.

In case of appveyor I am waiting for member of rust-lang-nursery to enable it on canonical account and untill that time we will operate on a fork.

[2017-08-20 18:32] alexcrichton commented on #238
@budziq AppVeyor is enabled, see https://github.com/rust-lang-nursery/rust-cookbook/pull/270

[2017-08-20 20:35] budziq commented on #238
Thanks @alexcrichton!
Unfortunately the appveyor is still connected to rust-lang-libs instead of rust-lang-nursery which results in non nursery collaborators such as myself being unable to change settings, start and restart builds (the github rights are not propagated as the appveyor landing url is different than canonical repo address).

At the moment we will work off my personal appveyor account

[2017-08-21 07:50] budziq commented on #238
Darn. I can't even even switch appveyor instances. So we are stuck with this instance I have no control of.

@alexcrichton Is there a possibility to ad myself as admin for this single repo on appveyor rust-lang-libs without escalating privileges for other projects (like I am in case of travis.ci)?

Being the sole active maintainer without real admin rights is no fun :/

[2017-08-21 22:49] alexcrichton commented on #238
I don't know what the rust-lang-nursery org is on AppVeyor, afaik we don't own or have control over that. I also unfortunately don't know how to give out granular permissions in appveyor. If you'd like you can just set it up and do your own thing.

[2017-08-22 04:44] ericho commented on #225
Just extending @yandexx suggestion, an example could be calculate the checksum of all files in a folder tree using `walkdir`.

[2017-08-22 09:29] budziq commented on #238
Fine grained control can be done by adding separate role and and enabling permissions for that role:
- add a separate role in https://ci.appveyor.com/team under "roles" (something like "Cookbook-Admin") next to "User" and "Admin" with all rights identical to the "User" role (at least Generate API keys)
- change my account role to "Cookbook-Admin"
- add fine grained permissions for "Cookbook-Admin"

[2017-08-22 13:32] #230 closed

[2017-08-22 15:46] alexcrichton commented on #238
Ok I've updated now, try again?

Thanks for the info!

[2017-08-22 16:51] budziq commented on #238
Awesome, It works!
Thanks a lot @alexcrichton !

[2017-08-22 16:53] budziq commented on #238
@anna-liao there are no more blockers. Are you willing to work on this issue?

[2017-08-22 17:41] anna-liao commented on #238
@budziq Thanks!  I tried following the instructions at https://github.com/japaric/trust and tried it out in my fork, but it doesn't seem to be triggering Travis CI and Appveyor.  I won't be able to look into this more until next week, so if someone else would like to set it up, please go for it.

[2017-08-22 18:06] budziq commented on #238
@anna-liao

Most likely you forgot to go into "settings (gear icon in your fork) > Integrations & services" and enable travis and appveyor integrations.

There is no rush :) I'll provide minimal appveyor.yml based on Alex's PR so the CI does not constantly error's out until you can approach the issue.

[2017-08-24 05:05] KodrAus opened #272 "Cookbook ideas for rayon"
Come up with ideas for nice introductory examples of using the [`rayon`](https://crates.io/crates/rayon) crate, possibly in combination with other crates, that would be good to show in the Rust Cookbook. Please leave a comment here with your ideas! You don't necessarily have to write the example code yourself but PRs are always welcome!

`rayon` already has a [suite of examples](https://github.com

[2017-08-26 13:58] excaliburHisSheath commented on #267
I would request that the cookbook demonstrate how to asynchronously load a file from disk, assuming there's a way to do so. As far as I know, there's currently no good solution for loading files asynchronously, but once there is, I think it would be a good addition to the cookbook.

[2017-08-27 04:39] alisha17 commented on #206
@budziq  Created PR for this. Thanks for your efforts with me. :)

[2017-08-29 21:39] LeoTindall commented on #272
I wrote a Fizz Buzz example which might be appropriate: https://gist.github.com/LeoTindall/2bed40527d3920a73e9054fc80876b9c

It's (conveniently) fairly congruent with my Go example, which could be useful for those moving along the Go-to-Rust sidegrade path (https://gist.github.com/LeoTindall/433654da49c93c2da347bb7b5f7adc79).

[2017-08-31 05:29] lilianmoraru commented on #272
I would like to see the `rayon` + `features` integration, but I guess this will turn into bigger, multi-line examples which might not be the most appropriate for the cookbook(don't know).

[2017-08-31 11:19] budziq commented on #272
Hi @LeoTindall

Thanks for you interest! We would like to keep the cookbook focused on examples that can be considered:
1. working code snippet realizing some real life use-case
2. commonly needed building block that programmers might need

So FizzBuzz (parallel or not) might not be the best fit. Would you be able to think of an example that would fit into one of these categories?
You might consid

[2017-09-01 11:53] #206 closed

[2017-09-01 11:56] budziq commented on #205
all ideas implemented so closing for now

[2017-09-01 11:56] #205 closed

[2017-09-01 19:04] nocduro commented on #272
Rust/git noob here. I recently made a basic parallel image resizer with rayon [here](https://github.com/nocduro/rayon-thumbnail-example). I mostly used it to learn some more about rayon, so it is quite basic and only resizes images at the same directory level (not going into sub directories).

The hardest part for me was figuring out how to handle the errors, since it's not possible to use `try!`

[2017-09-01 21:37] budziq commented on #272
That is a very nice example @nocduro!
Are you willing to submit it as a PR? There is nothing preventing parallel closures returning `Result` so the example can be simplified and pared down here and there. I'll gladly help you out along the way! :+1:

[2017-09-02 01:52] nocduro commented on #272
Sure! I've never made a pull request before, but I should be able to figure it out. I just read the `CONTRIBUTING.md` file as well.

Awesome, thank you!

[2017-09-18 06:49] KodrAus opened #276 "Cookbook ideas for semver"
Come up with ideas for nice introductory examples of using the [`semver`](https://github.com/steveklabnik/semver) crate, possibly in combination with other crates, that would be good to show in the Rust Cookbook. Please leave a comment here with your ideas! You don't necessarily have to write the example code yourself but PRs are always welcome!

- [x] [Parse and modify a version string](https://g

[2017-09-18 08:03] budziq commented on #276
Possibly a good place to start is in the [crate reverse dependencies](https://crates.io/crates/semver/reverse_dependencies)

One application that comes right away is:
- check version of external command - i.e. parse output of "$my_binnary --version" external command

[2017-09-18 17:07] budziq commented on #171
clipboard support added with update of mdbook

[2017-09-18 17:07] #171 closed

[2017-09-18 17:08] budziq commented on #87
fixed by update of mdbook

[2017-09-18 17:08] #87 closed

[2017-09-18 17:12] budziq commented on #111
no longer blocked after mdbook update.
now we can use `{{include links.md}}` clauses

[2017-09-19 03:00] jaroslaw-weber commented on #228
Hey, I noticed that there is already implementation (both reading into an SR and deserialization) in the readme on original csv repository, could we just copy it from there?
https://github.com/BurntSushi/rust-csv

[2017-09-19 05:37] budziq commented on #228
@jaroslaw-weber yeah the csv crate has an excellent cookbook on its own. Most of the examples here were addapted from it  into our coding style. This example does not seam to be in progress, would you be willing to work on it?

[2017-09-19 19:53] ludwigpacifici commented on #269
Hello @budziq

I'd like to give a try at this issue. The example will rely on `std::process::Child` and `std::process::Stdio` in order to run the equivalent  bash command:

[code]

Is it ok with you?

[2017-09-19 21:53] budziq commented on #269
@ludwigpacifici excellent! Go for it :+1:

Although I'd try to use commands that would be both actually useful and not trivially reproduced in pure rust just to make the example more interesting.
If you will have hard time thinking up such example ping me and I'll help.

[2017-09-20 07:37] matklad opened #277 "Add "scrape information from html" example"
Hi!

One common task is to grab some HTML from the web and try to parse some information out of it (a sites doesn't offer JSON API). In Python, I'd use beautiful soup for this, but I am not sure what is the proper tool for Rust.

[2017-09-20 07:39] matklad commented on #277
Some amount of googling has lead me to https://github.com/utkarshkukreti/select.rs which seems like a right tool for the job.

[2017-09-20 07:43] budziq commented on #277
Hi @matklad
We have an example using `select` [extract links webpage](https://rust-lang-nursery.github.io/rust-cookbook/net.html#ex-extract-links-webpage).

Which pretty much does what you are suggesting. But if you have any other webscraping usecase I'm game to add another interesting example :smile:

[2017-09-20 07:50] matklad commented on #277
My bad, I should have searched better 😅

See https://github.com/rust-lang-nursery/rust-cookbook/pull/278 :)

[2017-09-20 07:50] #277 closed

[2017-09-20 10:51] jaroslaw-weber commented on #246
I think we could split those long files into smaller ones with one example per file. If mdbooks supports subcategories with folders it would be easily maintainable (one folder one category, multiple files per category) I haven't worked with mdbooks but if we could do that we could make expendable menu, when clicking on category, with some js magic. Maybe not best solution but better than endless s

[2017-09-20 11:09] jaroslaw-weber commented on #246
copypasted from chat discussion:

current ui/ux could be little more polished. personally i dont like the grey table header. also I think homepage could be little smaller ( show only titles and expand/move to category page on click) so we can see all the categories when we start a page. I would also move an contribution part to the bottom, and write very simple and short explanation what is the co

[2017-09-20 11:33] jaroslaw-weber commented on #167
how about one example per file and then additional file with tags (comma separated )? we coule then generate a static page, one page per one tag. we would avoid duplicating files and would be able to have same code in multiple categories. Then we could generate one big index of all tags and navigate from there.
we could also list all crates used in cookbook and use that for navigation and referenc

[2017-09-20 13:19] jaroslaw-weber commented on #246
Brainstorming design, playing with different ideas. Ignore weird cyan color, it would be replaced with rusty color.
https://photos.app.goo.gl/NwLDD8jmsRV35k432

[2017-09-20 15:20] ludwigpacifici commented on #269
Good point ; what do you think about the below?

[code]

`<number>` and `<directory>`can be passed by the command line and use the `clap` crate?

Also, processes can be handle via [`tokio_process`](https://docs.rs/tokio-process/0.2.0/tokio_process/) crate. Should I use it or use the standard one (`std::process`)?

[2017-09-20 17:29] budziq commented on #269
Nice! Although I would avoid additional crates here not to obfuscate the examples lets go with just std::process.

[2017-09-21 08:18] budziq commented on #246
First of all, thanks for taking this up @jaroslaw-weber !

Looks really nice! I wonder how this scheme would look on mobile browser (currently we try to support both phones and tablets)

I also think that one example per page might be a more natural fit. Currently dumping all of the example names into main page and grouping examples is a crutch for the lack of search  https://github.com/rust-lang-

[2017-09-21 09:45] jaroslaw-weber commented on #246
@budziq
thanks for comments!

Bulma is resposive so should look nice. I will send screenshots/html files later (tommorow maybe?).

Ctrl+f is not an obvious idea for search, we could do table of content for this (as a different/last page), but I would not use it as a main page (cause its ugly hack).

Looks like mdbook is using one template for all pages. It may be a problem if we want to change mai

[2017-09-21 10:01] budziq commented on #246
I also think that the biggest problem in cookbook ux is the main page and reliance on ctrl+f. I'd love to add lunr.js based search
the problem with lunr.js is its reliance on node.js for offline search index generation which would be a nogo (ideally the search index would be built along with the site without additional dependencies). But there does not seam to be any design doc specifying the sear

[2017-09-21 12:41] jaroslaw-weber commented on #246
Initial design
https://photos.app.goo.gl/R8oKjpv3gHhDUizT2
instead of long category page i left just buttons with links. each example is on a single page. main page would be more like rocket page, just few links. more button would lead to "about page" which would have menu on the left so we would navigate from there. it will reduce scrolling.
for easier search we couns add a search bar in menu whi

[2017-09-21 12:44] jaroslaw-weber commented on #246
the design would be of course responsive, and left menu would be hidden by default (similar to current solution)

[2017-09-22 01:05] KodrAus commented on #276
What about:

- parse and increment the major, minor or patch version based on input? (That's almost a 1-liner though)
- find the latest version in a set that satisfies the given range (like docs.rs does in its urls)

[2017-09-23 17:17] #111 closed

[2017-09-23 17:39] budziq opened #280 "How do we keep tables in sync"
Currently the tables have to be kept in sync:
- intro.md with rest of the chapters
- the chapter tables themselves with the actual examples.

This is error prone and tedious. Most likely the tables should be generated and included into the files. This might be a job for a dedicated function in mdBook or a pre-build script.

[2017-09-23 19:27] budziq commented on #246
I would say that I would be very hesitant to add rely on any 3'rd party search engine. Stealing the [rustdoc's search code](https://github.com/rust-lang/rust/blob/master/src/librustdoc/html/render.rs) (both rust and js parts into mdbook) might be a good idea

To some extent, but it might require some customization on mdBook part (both styling and hooking to its parsing/generation without need for

[2017-09-24 02:39] oldmanmike commented on #268
@budziq

I'd like to start off with this one, if it's okay.

[2017-09-24 02:56] jaroslaw-weber commented on #246
hey, thanks for feedback! i will try to check what i can do with mdbook.

well the rocket guide has shorter examples so it is easier to put everything on one page. cookbook examples are longer.
i will check the styling in rocket page in more detail later maybe it will give me some ideas.

i will try to polish current style later to make it work nicely with mdbook and add nice front page. we could

[2017-09-24 07:07] budziq commented on #268
Sure @oldmanmike !

[2017-09-24 09:01] #238 closed

[2017-09-24 09:03] budziq commented on #238
Sorry @anna-liao , I needed the MacOS CI up and running before rustfest zurich. I hope that you'll be able to find something interesting to work on on https://gitter.im/rust-impl-period/WG-libs-cookbook!

[2017-09-24 17:50] budziq opened #283 "add "Parse and modify a version string" example"
Parse a simple hardcoded version string such as "0.2.6" and increment the major, minor or patch version. Use asserts to verify correct serialization and deserailization.

Use the [semver](https://github.com/steveklabnik/semver) crate

cc https://github.com/rust-lang-nursery/rust-cookbook/issues/276

[2017-09-24 17:52] budziq opened #284 "add "Parse a complex version string" example"
Parse a complex hardcoded version string such as "1.0.49-125+g72ee7853" (please note "pre" and "build metadata"). Use asserts to verify correct serialization and deserailization.

Use the [semver](https://github.com/steveklabnik/semver) crate

cc https://github.com/rust-lang-nursery/rust-cookbook/issues/276

[2017-09-24 17:56] budziq opened #285 "add "Find the latest version satisfying given range" example"
Given a set of version strings, find the latest version in a set that satisfies the given range (like docs.rs does in its urls). Use asserts to verify correct serialization and deserailization.

Use the [semver](https://github.com/steveklabnik/semver) crate

cc https://github.com/rust-lang-nursery/rust-cookbook/issues/276

[2017-09-24 18:01] budziq opened #286 "add "Check external command version for compatibility" example"
Check if version of external command (i.e. parse output of "$my_binnary --version" external command, or output of some http request to a versioned API)
for compatibility with your application's requirements (i.e. our shellout would work only with given version range of ffmpeg tool).

Use the [semver](https://github.com/steveklabnik/semver) crate

cc https://github.com/rust-lang-nursery/rust-cookbo

[2017-09-24 18:18] budziq opened #287 "add "Create random passwords from a set of allowed characters" example"
Given a set of allowed ASCII chars, generate a set of passwords with given length.

Use [rand](https://crates.io/crates/rand) or [ring](https://crates.io/crates/ring) (the ring will most likely be a better idea although the implementation will be more involved) crate

cc https://github.com/rust-lang-nursery/rust-cookbook/issues/227

Thanks for the idea @Phaiax !

[2017-09-24 19:16] #112 closed

[2017-09-24 19:44] #182 closed

[2017-09-24 19:47] #185 closed

[2017-09-24 19:47] #190 closed

[2017-09-24 19:48] #211 closed

[2017-09-24 21:44] anna-liao commented on #238
no worries, totally understand!

[2017-09-24 23:03] budziq opened #288 "add "Hash a password with salt" example"
Apply the ideas from https://crackstation.net/hashing-security.htm to provide a robust password hashing with salt.

Use [ring](https://crates.io/crates/ring) crate

cc https://github.com/rust-lang-nursery/rust-cookbook/issues/213

[2017-09-24 23:06] budziq opened #289 "add "Sign and verify a message with HMAC digest" example"
Use the HMAC digest to sign some message and then verify the authenticity.

Use [ring](https://crates.io/crates/ring) crate

cc https://github.com/rust-lang-nursery/rust-cookbook/issues/213

[2017-09-24 23:22] budziq opened #290 "add "Check webpage for broken links" example"
This is basically an expanded version of [extract links webpage example](https://rust-lang-nursery.github.io/rust-cookbook/net.html#ex-extract-links-webpage)

Use [reqwest](https://crates.io/crates/reqwest) - in conjunction with [select](https://crates.io/crates/select) to check if links on a webpage are not broken (i.e not 404's.)

cc https://github.com/rust-lang-nursery/rust-cookbook/issues/84

[2017-09-24 23:25] budziq opened #291 "add "Make a partial download with HTTP range headers" example"
Use [reqwest](https://crates.io/crates/reqwest) - in conjunction with HTTP range headers to make a partial download of a large file with progress.

cc https://github.com/rust-lang-nursery/rust-cookbook/issues/84

[2017-09-25 17:45] sb89 commented on #290
I'll have a look at this.

[2017-09-25 18:17] budziq commented on #290
:+1:

[2017-09-25 20:17] budziq opened #292 "add "Compile and link statically to a bundled C library" example"
Use [cc-rs](https://crates.io/crates/cc-rs) crate to compile and link statically to a bundled C library inside of a build.rs file.

Please note that it will be important to mention that this is a **build time** crate.
Most likely we will dedicate a separate (last) chapter like "build_time.md"

cc https://github.com/rust-lang-nursery/rust-cookbook/issues/236

[2017-09-25 20:54] jaemk commented on #292
Note: The [`trust`](https://github.com/japaric/trust) repo is itself a basic example that could be copied and simplified.

[2017-09-25 22:17] budziq opened #293 "add "Compile and link statically to an external C library" example"
Use [cc-rs](https://crates.io/crates/cc-rs) crate to compile and link statically to a external/system C library from a build.rs file.

Please note that it will be important to mention that this is a **build time** crate.
Most likely we will dedicate a separate (last) chapter like "build_time.md"

cc https://github.com/rust-lang-nursery/rust-cookbook/issues/236

[2017-09-25 22:18] budziq opened #294 "add "Compile and link dynamically to an external C library" example"
Use [cc-rs](https://crates.io/crates/cc-rs) crate to compile and link dynamically to an external/system C library from a build.rs file.

Please note that it will be important to mention that this is a **build time** crate.
Most likely we will dedicate a separate (last) chapter like "build_time.md"

cc https://github.com/rust-lang-nursery/rust-cookbook/issues/236

[2017-09-25 22:21] budziq opened #295 "add "Compile a C library while setting custom defines" example"
Use [cc](https://crates.io/crates/cc) crate to compile a C library from a build.rs file while setting custom defines/CFLAGS.

Please note that it will be important to mention that this is a **build time** crate.
Most likely we will dedicate a separate (last) chapter like "build_time.md"

cc https://github.com/rust-lang-nursery/rust-cookbook/issues/236

[2017-09-25 22:21] budziq opened #296 "add "Compile and link statically to a bundled C++ library" example"
Use [cc](https://crates.io/crates/cc) crate to compile and link statically to a bundled C++ library inside of a build.rs file.

Please note that it will be important to mention that this is a **build time** crate.
Most likely we will dedicate a separate (last) chapter like "build_time.md"

cc https://github.com/rust-lang-nursery/rust-cookbook/issues/236

[2017-09-25 22:27] budziq commented on #292
Right! @jaemk Would you be interested in taking lead on this example?

I see this as the first example that would have the longest explanation followed by the next 4 examples listed in https://github.com/rust-lang-nursery/rust-cookbook/issues/236 showing the possible minor differences (with much shorter descriptions)

[2017-09-25 22:28] budziq commented on #236
I see the as the first example https://github.com/rust-lang-nursery/rust-cookbook/issues/292 as the one that would have the longest explanation followed by the next 4 examples showing the possible minor differences (with much shorter descriptions)

[2017-09-26 03:32] jaemk commented on #292
Sure! I can take a look at this tomorrow and setup a new `build_tools` file

[2017-09-26 18:31] budziq commented on #269
Hi @ludwigpacifici . Do you need help with this example?

[2017-09-26 20:01] ludwigpacifici commented on #269
Thanks @budziq, it should be fine. I send the pull request #297 to start discussing the code review.

[2017-09-27 18:07] mykalu commented on #283
I'd like to try taking this on!

[2017-09-28 17:53] mykalu commented on #276
Would these examples go into a new, "Semantic Versioning" section of the Cookbook, or the like?
("Crate Development", perhaps?)

[2017-09-28 18:48] budziq commented on #276
@mykalu for now we will go with "Application development" and then split off some examples to new section when there  are enough of examples sharing some theme.

[2017-09-29 00:15] jaroslaw-weber commented on #246
Hey again.
So I looked at mdbook template and styling files but it is not very flexible. Whole menu is generated inside mdbook script, content is also passed as whole block, so it is impossible to change it only with changing template. For changing styling it would require rewriting parts of css and writing some javascript for changing tag styles.

I created site generator which uses json and text

[2017-09-29 09:22] Pratham567 commented on #287
I can assist you in this.

[2017-09-29 09:56] Yarn commented on #289
i can work on this

[2017-09-29 17:26] mykalu commented on #276
`semver` is not currently filed under any category [on crates.io](https://crates.io/crates/semver). I'm looking at the [`Configuration`](https://crates.io/categories/config) category as a likely fit, but it's probably not my place to make a call on that. Any thoughts?

[2017-09-29 18:32] j-haj commented on #288
I am interested in working on this -- will read through the linked article this weekend

[2017-09-29 18:44] bobbo opened #300 "Cookbook ideas for num_cpus"
Come up with ideas for nice introductory examples of using the num_cpus crate, possibly in combination with other crates, that would be good to show in the Rust Cookbook. Please leave a comment here with your ideas! You don't necessarily have to write the example code yourself but PRs are always welcome!

EDIT:
- [x] [Draw a fractal using a threadpool](https://rust-lang-nursery.github.io/rust-cook

[2017-09-29 19:52] aturon commented on #246
@jaroslaw-weber Thanks so much for the work you've put into this so far -- I think there are a lot of very promising ideas here! Here are some of my immediate thoughts.

- I find that the sketched design is *exciting* and appealing; overall this feels like a good direction to continue exploring!

- I don't think we need to be tied to mdBook, and I think that there are a lot of aspects of the cookb

[2017-09-29 19:57] aturon commented on #246
Oh, and I should say that I think search is **critical** and ideally would be done purely within the site. I imagine we could ship down a json blob with all of the recipe titles, for example, and just search that client-side (much like how rustdoc search works today).

[2017-09-29 22:34] budziq commented on #246
@jaroslaw-weber Thanks for all the hard work! The design certainly looks more approachable than the current one.

I'm not sure if I'd drop mdBook just yet. At its core it is just a static site generator which can be heavily customized. For instance, having separate template file for a landing page could certainly be implemented. But if we decide to switch the static site generator I would certainl

[2017-09-29 22:38] aturon commented on #164
This is a tricky issue, because the word "cookbook" has such a strong association with what we want to convey here. But perhaps we could include it as a subtitle.

In any case, here are some ideas to maybe kick off a bikeshed:

- Rust: Batteries Included (my favorite)
- Crates off the shelf: a Rust Cookbook
  - *Variant*: Crates off the shelf: a HOWTO guide for Rust
- Rust Recipes
- Unloading Carg

[2017-09-29 22:48] budziq commented on #276
@mykalu Sound great to me! Any how it is easy enough to change and the crate will have a category added as the result of the Libz Blitz (would you like to propose your suggestion on their [evaluation thread](https://internals.rust-lang.org/t/out-of-band-crate-evaluation-for-2017-10-09-semver/5929)?).

[2017-09-29 22:57] budziq opened #301 "add "Check number of logical cpu cores" example"
Use [num_cpus](https://crates.io/crates/num_cpus) check number of logical cpu cores.

cc https://github.com/rust-lang-nursery/rust-cookbook/issues/300

[2017-09-29 23:03] budziq commented on #300
@bobbo I've added a single example idea for now.
Another is to "Get number of physical cpu cores" unfortunately I do not like that the [`get_physical`](https://docs.rs/num_cpus/1.7.0/num_cpus/fn.get_physical.html) falls back to logical cores if physical cant be queried making such example unreliable (I'would suggest for this function to return a `Result`) I'll propose it on blitz evaluation thread

[2017-09-29 23:14] budziq commented on #164
Shame about the name as it started to get traction (I see it suggested on reddit every once and a while along with RBE). I like subtitling idea :+1:
How about:

- "Rust Recipes: a Cookbook for oxidized diet" :stuck_out_tongue_closed_eyes: (maybe something shorter)
- "Cooking with rust"

[2017-09-29 23:15] mykalu commented on #276
@budziq Sounds good, will do!

[2017-09-29 23:20] aturon commented on #164
A thought:

- "Rust by Example" => RBE
- "Rust: Batteries Included" => RBI

Nice pair of books there :-)

[2017-09-29 23:46] budziq commented on #292
merged

[2017-09-29 23:46] #292 closed

[2017-09-30 00:02] aturon commented on #280
cc @jaroslaw-weber

[2017-09-30 00:04] aturon opened #302 "Establish recipe style guide"
We need to firm up a consistent style for all of the examples to follow.

[2017-09-30 00:05] aturon commented on #302
I've got a stub document [here](https://paper.dropbox.com/doc/Cookbook-style-guide-BR4FVSwFAbxXNZ4eBnAuh) that we can use for collaborating.

[2017-09-30 00:30] budziq opened #303 "Cannot properly test "ex-cc-static-bundled" as it's multi file example"
Currently part of the https://rust-lang-nursery.github.io/rust-cookbook/build_tools.html#ex-cc-static-bundled example was made `ignore` due to it being both multifile and build.rs based example (unfortunately, skeptic does not support either of these cases).
Otherwise we trigger failure on appveor https://ci.appveyor.com/project/rust-lang-libs/rust-cookbook/build/1.0.49/job/wka0wjreymr1alw4

[2017-09-30 00:51] aturon opened #304 "Establish policy for crate/recipe inclusion"
As the cookbook grows beyond the Libz Blitz, we'll need to put more thought into how we select crates and examples. Let's try to lay out a foundational policy that can grow along with us.

[2017-09-30 00:52] aturon commented on #304
I've sketched some initial thoughts [here](https://paper.dropbox.com/doc/Cookbook-inclusion-policy-ZDM6BXfmZcvIxvJlkZaXt).

[2017-09-30 03:51] jaroslaw-weber commented on #246
thanks for comments! it is much easier to work with feedback.

@aturon we can use markdown for code blocks with custom generator. ill try to implement it later. if you look at the repo, i use [code][/code] and [snippet] as custom tags. i think its cleaner than markdown but we could alsot try markdown.
using markdown would be great for eventual moving from mdbook if we decide to do so.
we could bal

[2017-09-30 04:04] jaroslaw-weber commented on #246
im not giving up on mdbook yet, but its not trivial so need to think about it more

[2017-09-30 04:38] V1shvesh commented on #301
@budziq I wish to work upon this. Can I get some more info?

[2017-09-30 09:34] budziq commented on #301
@V1shvesh Sure! Please provide an example using [`num_cpus::get`](https://docs.rs/num_cpus/1.7.0/num_cpus/fn.get.html) function to get and printout number of logical cpus in the system. This would be basically a one-liner plus boilerplate. Please checkout the already existing examples in basics section.

[2017-09-30 10:39] V1shvesh commented on #301
Thanks for the info!

[2017-09-30 10:42] jaroslaw-weber commented on #280
With custom site generator it is not a problem cause its automatically generated. I have working example in my repo. Reading data from json and generating recipe list.
With mdbook you would need some automation, parsing md files and generating table. But it would be difficult because table is inside the file you would parse so you would  need to edit the file you parse.

[2017-09-30 12:09] budziq commented on #280
As discussed on gitter, the categories are quite dynamic, most likely we would need a nightly build to update the tables continuously. In terms of of mdbook, we have markdown inclusion support now, so we could generate/regenerate such markdown containing each table prior to building the book with mdbook (also adding external prebuild script support to mdbook would not be hard or even required).

[2017-09-30 12:35] budziq opened #306 "Update the Contributing.md and add PR template with more precise instructions"
There are few recurring problems with new contributor PR's
updating contributing.md, and adding a PR template would really help with that.

Some random thoughts here:
- add "fixes $issue_no" clause to close the issue
- squash commits prior to PR
- possibly a checklist:
   - check if code links in description are in backticks
   - check if links to docs.rs are with wildcard version
   - keep the li

[2017-09-30 13:52] ludwigpacifici commented on #216
Hello @budziq

I would be interested to provide an example for this topic.

[2017-09-30 13:59] budziq commented on #283
merged

[2017-09-30 13:59] #283 closed

[2017-09-30 14:43] ludwigpacifici commented on #104
Can you give more details why a `fork` should be used instead of executing two separate binaries?

[2017-09-30 14:45] Phaiax commented on #246
Hey @jaroslaw-weber and the others. After reading this thread and looking at md book I want to give some thoughts.

- In the new design, the vertical screen space per example increases because of the Crates and Tags sections. This increases the need for scrolling when I look at one single example. I like that most (80%) of the current cookbook examples fit into my browser viewport. The scrolling b

[2017-09-30 15:31] budziq commented on #216
Thanks @ludwigpacifici . the link was for the previous landing page sry.

[2017-09-30 15:47] V1shvesh commented on #301
@budziq I've written the code now. Can you tell  me where should I add this?

[2017-09-30 15:52] budziq commented on #301
@V1shvesh I would go with the basics section

[2017-09-30 17:01] V1shvesh commented on #301
So, I gotta update the basics.md. Got it. But what should I write under the crates and categories column?

[2017-09-30 18:20] budziq commented on #301
under crates you would add a linked "num_cpus" badge similar to other examples. An under the categories we add the linked category sections from crates.io entry for given crate (unless the crate has none then we try to match some but luckily num_cpus has a category listed)

[2017-09-30 22:36] budziq commented on #246
@Phaiax Thanks a lot for the input. You raise very important points!

During this week we have had some discussions with @steveklabnik @aturon and @kodrAus (big thanks for the help and support!). One thing is certain that we need to catalog all the bits and pieces of the rust documentation story and come up with a strong vision so these will fall into place and reinforce each other.

I agree that

[2017-09-30 23:03] budziq commented on #104
Due to two facts:
- because memmap crate not offering any way to create a named shared memory region (like shm_open). All it provides is a way to mmap a file or create an anonymous memory mapped region. First not being suitable for robust ipc and the second being reachable only from the creating process and it's children
- skeptic test runner not supporting multi file/binary tests ;)

[2017-09-30 23:31] FaultyRAM commented on #284
Working on this one!

[2017-10-01 02:25] mykalu commented on #284
When this is approved, I can revise [my code](https://github.com/rust-lang-nursery/rust-cookbook/pull/305) for #283 to make it more consistent with this example's styling.

[2017-10-01 03:34] jeramyRR commented on #285
I'd like to take this issue if possible.

[2017-10-01 06:25] devshiva619 commented on #287
@budziq can I work on this ?

[2017-10-01 06:26] budziq commented on #287
@devshiva619 sure!

[2017-10-01 06:30] budziq commented on #285
:+1:

[2017-10-01 06:40] devshiva619 commented on #287
@budziq thats okay :)

[2017-10-01 10:05] budziq commented on #290
merged

[2017-10-01 10:05] #290 closed

[2017-10-01 13:19] ludwigpacifici commented on #216
To make sure I am heading in the right direction, can you tell me if the snippet highlights a backtrace with 3 levels of error handling?

[code]

Ouput:

[code]

[2017-10-01 16:46] sofiageo commented on #291
Seems like @jbolila beat me to it :) I didn't make any request comment because i didn't know how far I could go, but if was my first try with rust.

I will still post my code for any comments
[code]

[2017-10-01 22:58] #301 closed

[2017-10-01 23:06] budziq commented on #216
@ludwigpacifici pretty much yeah but I would like for this example to have very simple but at least semi realistic case and a little nicer function names. Would you be able to come up with and idea for it? I'm thinking of some high level operation failing because obtaining a token (parsing possibly an int or just utf8 string) from file failed due to open error.

[2017-10-02 05:04] KodrAus opened #312 "Cookbook ideas for mime"
Come up with ideas for nice introductory examples of using the [`mime`](https://docs.rs/mime) crate, possibly in combination with other crates, that would be good to show in the Rust Cookbook. Please leave a comment here with your ideas! You don't necessarily have to write the example code yourself but PRs are always welcome!

[2017-10-02 13:50] jaroslaw-weber commented on #246
Hey, small update (new screenshots). Made crates and tags little smaller, using crates.io tags as categories, also added code buttons (not working yet, just trying to decide on desing). Feel free to comment.

I also noticed that comparing to rocket.rs the design is little boring - there are only three colors (rusty, white and black). I will try some different colors later. I am leaving old screens

[2017-10-03 12:41] j-haj commented on #288
Just to make sure I'm not missing anything, it seems the example should do the following steps:

- Define a password
- Create a salt
- Prepend salt to password
- Create a signing key for HMAC
- Hash password via HMAC

Is there anything missing here you were hoping would be included?

[2017-10-03 14:05] budziq commented on #288
@j-haj yep, that pretty much sums it up

[2017-10-03 14:57] budziq commented on #291
@sofiageo no reason to shy away from claiming an issue, we are not pressed for any deadline here! Just pick another issue and start working on it.

In regard to how this issue should be done, please checkout @jbolila 's PR once it's ready (I'll probably do a review there tomorrow). Your code is quite nice but with few suggestions:
- use convenience method https://docs.rs/reqwest/0.8.0/reqwest/stru

[2017-10-04 07:43] KodrAus commented on #246
This is a fantastic effort @jaroslaw-weber! I'm really excited to see the cookbook getting a good UI/UX overhaul.

I only want to leave a little bit of feedback so you've got a chance to work through your own vision. Right now I think it's a bit tricky to get context as you navigate through the home page and collections of examples. I think this is mostly because we don't have a search bar and the

[2017-10-04 12:47] ludwigpacifici commented on #216
Write an implementation of [ROT13](https://en.wikipedia.org/wiki/ROT13). It takes a file as input, and print the encoded text on the standard output. To keep the code short, it will switch [a-zA-Z] and other valid characters are skipped. At first glance, it can fails if the file cannot be opened or a string from the file is not utf8.

[2017-10-04 12:58] j-haj commented on #288
@budziq I have a working implementation [1] but after reading #213 I'm not sure what is particularly different from this issue and #289 other than I don't do the verification step. Both are using HMAC, although I suppose #289 doesn't necessarily salt the password (at least it is not explicitly stated in the description). I'm sure I'm missing something, just not sure what that is..

[1] https://git

[2017-10-04 13:10] j-haj commented on #296
That link is broken for me - did the crate change it's name to cc? It seems to refer to itself both as cc and cc-rs. I'm assuming [this](https://crates.io/crates/cc) is the crate you are referring to

[2017-10-04 13:25] budziq commented on #296
@j-haj darn they renamed again. I've updated te link. Thanks!

[2017-10-04 13:28] #284 closed

[2017-10-04 13:30] budziq commented on #269
merged!

[2017-10-04 13:30] #269 closed

[2017-10-04 14:32] budziq commented on #288
@j-haj that is a very nice example indeed! Please post a PR. These two examples might not be that much different. We might eventually decide to merge these into one (but most likely I'll like the #314 to have some more bells and whistles). For now let's go with this one as a basic example and the other PR as something more detailed.

[2017-10-04 14:47] budziq commented on #216
I would suggest against ROT13 I would hesitate advertising this manner of ~~encryption~~/obfuscation even in joking manner. But any other failable mode of text processing would do such as matching file contents against a regexp?

[2017-10-04 15:24] Yarn commented on #288
note the small but very important bit of text
"Prepend the salt to the password and hash it with a **standard password hashing** function like Argon2, bcrypt, scrypt, or PBKDF2." (emphasis mine)

HMAC on its own is not a secure password hashing function. Password hashing functions must be secure in the case that the server is compromised (and thus the secret is known). In the case that the secret

[2017-10-04 15:31] ludwigpacifici commented on #216
Then, what do you think of a basic calculator: `<number><op><number>`, where `<number>` is a decimal integer and `<op>` is one of `+`, `-`, `/` and `*`?

[code]

[2017-10-04 15:48] j-haj commented on #288
@Yarn I'm a little confused, from the same page the author states (with regards to HMAC)

Are you suggesting we first hash via PBKDF2 and then HMAC? The author mentions it's not useful to double hash and in some cases can hurt security. My understanding, which admittedly isn't very deep, is that with PBKDF2 an attacker can still brute-force the hash but it will take longer. On the other hand, the

[2017-10-04 15:59] budziq commented on #216
ok lets do it and we'll see how it goes.
But please remember that the example is focused on error handling (3 levels at least). and much else will be noise. we might have to do similarly as in the case of [fractal drawing example](https://rust-lang-nursery.github.io/rust-cookbook/concurrency.html#ex-threadpool-fractal) where the actual drawing is hidden in order not to obfuscate the threadpool exa

[2017-10-04 17:06] Yarn commented on #288
The ring implementation of PBKDF2 uses HMAC internally.

That said, I'm fairly sure the quoted text refers to the paragraph directly above it more so than the use of HMAC in general.

I believe the quote you're looking for is

[2017-10-04 18:09] j-haj commented on #288
That is a good observation, I agree

I'm not sure what you mean here... Anyways, clearly you know more about this than I do, and after doing some reading it seems people generally discourage the use of HMAC for storing passwords, so it seems PBKDF2 is the correct approach.

@budziq in light of all this, do you want me to change this to PBKDF2 or proceed with the HMAC implementation?

[2017-10-04 21:06] budziq commented on #288
@j-haj admittedly I have not read much of the ring docs. If the informed consensus is to use PBKDF2 then I'm all for it.

[2017-10-04 21:47] budziq opened #316 "Add "Check if given version is pre-release" example"
Use asserts to show that out of two given version strings one is pre-release and second is not.

Use the [semver](https://github.com/steveklabnik/semver) crate

cc https://github.com/rust-lang-nursery/rust-cookbook/issues/276

[2017-10-04 22:15] mykalu commented on #266
[Run an external command and process stdout](https://rust-lang-nursery.github.io/rust-cookbook/basics.html#run-an-external-command-and-process-stdout) doesn't currently have `std` listed as one of its crates. Should it be added?

[2017-10-04 22:19] Yarn commented on #288
It's at the end of the next paragraph about not having specialized hardware or separate servers.

Having read that specific article when I didn't know what I was doing I can confirm you aren't alone in struggling to figure out what you're actually supposed to do.

The first two questions of the FAQ are the part you probably care about. Most of it is nice info but not stuff you should be directly d

[2017-10-04 23:00] budziq commented on #266
to one extent or the other all of the examples will use std. we are adding it more to denote lack of any other crate in use (otherwise this would be just noise)

[2017-10-05 09:18] sb89 commented on #316
I'll give this one a go.

[2017-10-05 12:30] budziq commented on #268
merged!

[2017-10-05 12:30] #268 closed

[2017-10-05 13:24] oldmanmike commented on #293
@budziq I'll do this one next

[2017-10-05 19:27] thibaultbarbie commented on #296
I would like to take it if it is ok ?

[2017-10-05 20:56] hackertron commented on #296
Is this issue still open for contributor ?

[2017-10-05 20:58] budziq commented on #296
@hackertron unfortunately it already has a PR awaiting review (please note the "wip / claimed" label) but you ar welcome to chose any nonclaimed example or propose a new one!

[2017-10-06 08:08] ludwigpacifici commented on #216
Hello @budziq,

About the calculator, I can have just one level of error, which is not great for this issue. I'll think about other examples.

[2017-10-06 18:56] bobbo commented on #286
Hey, I'm working on this one

[2017-10-07 14:10] #316 closed

[2017-10-07 15:07] #289 closed

[2017-10-07 15:12] budziq commented on #296
merged!

[2017-10-07 15:12] #296 closed

[2017-10-07 15:12] ludwigpacifici commented on #228
Hello all,

I'll be happy to finish this issue if no one is active. Otherwise, let me know if I can help.

[2017-10-07 15:13] budziq commented on #228
@ludwigpacifici go for it :+1:

[2017-10-07 15:21] budziq commented on #216
@ludwigpacifici don't get discouraged!  If the calculator is not a perfect example, maybe you could think about some other super simple usecase?

[2017-10-07 16:09] ludwigpacifici commented on #216
#228 could be a good candidate :-) Deserialize a csv integer into an incorrect type.

Csv data looks like:

[code]

And a faulty Rust struct:

[code]

The backtrace should be good enough for this issue:

[code]

Let me know what you think.

[2017-10-07 16:36] budziq commented on #216
looks very cool :+1:

[2017-10-07 22:08] j-haj commented on #288
@Yarn @budziq I have updated the prior exampe [here](https://github.com/j-haj/password-hash/blob/52a26388a238740580994f34429313b37b72cead/password-hash/src/main.rs#L38) to use PBKDF2. The new example creates a password has and then verifies it. I followed the example from the ring crate, but tried to simplify and shorten it a bit to show the bare minimum functionality.

One thing I am still thinki

[2017-10-08 00:33] jaemk commented on #288
@j-haj you can hex encode the hash. See the [`hex`](https://crates.io/crates/hex) crate:

[code]

[2017-10-08 02:49] Yarn commented on #288
I think you should remove the hmac example. If you put it there that implies that it's an acceptable method for hashing passwords when that isn't really the case. (and my PR for an hmac example just got merged so there is an example covering that now)

for showing it as hex the sha and encode as hex examples use the [data_encoding](https://crates.io/crates/data-encoding) crate, probably want to us

[2017-10-08 03:19] j-haj commented on #288
As long as there are no objections to using additional crates I think the data encoding crate (for consistency) is a great option.

@Yarn yes I should have been more explicit with my wording -- I left HMAC in, but my intention was to only include the PBKDF2 hash in the actual PR.

Thanks for all the feedback!

[2017-10-08 10:43] #286 closed

[2017-10-08 11:01] danielpclark commented on #272
I think I have a good example idea for the Rayon Book example.  I thought how I might be able to implement and use Rayon for a regular iterator and it comes down to this.

First create a chunk builder method which will fill a vector of a certain quantity of work to work on.  Then use Rayon's `par_iter` over each chunk.  So any iterator can act as a Vec collection with Rayon if you chunk out the wo

[2017-10-08 11:28] budziq commented on #272
Thanks @danielpclark the technique is very interesting! Although we would like to focus on solving common real-life programming problems (brute decryption might not be all that common usecase). Would you be able to formulate the idea in terms of a programming task to solve?

[2017-10-08 14:14] #228 closed

[2017-10-08 14:37] dumindu commented on #246
Hi Guys,
would like to add two suggestions.

### 01. Two column layout
I don't know you already selected a final design for Rust Cookbook, but I would like to suggest to use a 2 column layout like on [GitBook API Theme](https://github.com/GitbookIO/theme-api)

![GitBook API Theme](https://i.imgur.com/AOsAeBX.png)

About a year ago I suggested the same on Reddit [Suggestion: Rust by practice/ Pract

[2017-10-08 15:22] jaroslaw-weber commented on #246
I should probably post it in navigation thread
https://github.com/rust-lang-nursery/rust-cookbook/issues/167
but I will post it here cause it may be related to the design I was working on.
So I have few points:
- we may consider switch to navigate menu with crates. i felt navigation by crate was more natural.
- we could make a big grid-style page for crates with all crates listed with links to cra

[2017-10-08 15:53] budziq commented on #246
Transcription from gitter:

@jaroslaw-weber

- hmm I guess that the only major problem is lack of left/right button navigation between pages and keyboard navigation in general (I find it very convenient on mdBook). This might be tricky in case we have some filtered categories (got to next example in given filter? got to next category on last example?)
- I would suggest for search bar to always be

[2017-10-08 15:54] budziq commented on #246
@dumindu thanks for the suggestions. Please feel free to join in on the ux discussion anytime. We certainly need more eyes on the matter (I for one have no knowledge about UX design except for some opinionated gut feelings  :wink: ).

And no. The UX/UI design is still very much under discussion and we might go with few more discussions before anything is decided (cookbook has a long way before it

[2017-10-08 18:32] bobbo commented on #295
I can take a look at this one

[2017-10-08 19:39] j-haj commented on #294
I have a minimal working example [here](https://github.com/j-haj/rust-lib-linking/tree/master/dylib-link). I am currently verifying that the library produced is indeed dynamic.

[2017-10-08 23:28] danielpclark commented on #272
@budziq How about don't call it brute forcing a password.  Call it a game of guess the number.  Otherwise I have no common use case.

[2017-10-08 23:41] jaroslaw-weber commented on #246
copied from gitter
@budziq thanks for feedback.
few points:

- how should we approach recipies which has order? we could define order in json, add link to "before reading this we recommend reading x", add "read next" link, or filter secondary recipies from categories. we could also add order to links so we have "go next to this recipe" and statically check and generate list of some kind of orderin

[2017-10-08 23:52] jaroslaw-weber commented on #246
also, if we want to get people to get casually hooked from google search we may need to consider make snippets standalone as person entering from direct link didnt see previous recipies

[2017-10-09 01:24] budziq commented on #272
@danielpclark guessing the number might not be an ideal use case but I'm sure there is a nice one somewhere in there but I cannot point my finger on it. If you come up with something that could be useful to a programmer trying to get things done [see our inclusion policy draft](https://paper.dropbox.com/doc/Cookbook-inclusion-policy-ZDM6BXfmZcvIxvJlkZaXt) please post it right away!

[2017-10-09 07:40] danielpclark commented on #272
@budziq I've been putting a lot of thought into what you've asked for “common real-life programming problems”, “an ideal use case”, and “commonly needed building block that programmers might need”.

I've come to the conclusion that in general threading isn't common to many people and has more niche applications.  The code example I've provided could easily by used for mathematical computations, or

[2017-10-09 08:37] #288 closed

[2017-10-09 09:58] j-haj commented on #24
Is there any interest in adding examples for the following crates:

* serde - data serialization/deserialization is a very useful and important tool. It would be a great combo with RPC, although there are no RPC crates in the libz blitz thread
* chrono - another userful crate. Adding a recipe for timing segments of code would be very useful to a lot of people I think (it's a very common question i

[2017-10-09 11:33] budziq commented on #288
Thanks a lot for help with this example @Yarn !

[2017-10-09 12:01] budziq commented on #24
@j-haj these are both excellent points!
- i agree on the serde front (it has some representation) . Although I was thinking in expanding the usage with some xml, yml and more toml examples. In regard to Rpc itself. It is a tough nut to crack. There seams to be no  community favourite crate for that purpose at the moment so we would have to do some digging and possibly a poll. Our [crate inclusion

[2017-10-09 12:50] j-haj opened #324 "Cookbook ideas for chrono"
Let's add some recipes for the [`chrono`](https://crates.io/crates/chrono) crate. Feel free to contribute additional examples/ideas or PRs!

Here are some ideas to start us off:

- [ ] Compute elapsed time to execute a segment of code
- [ ] Display formatted date and time using RFC 2822, RFC 3339, and custom formats
- [ ] Create a `DateTime` struct from input using RFC 2822, RFC 3339, and custom f

[2017-10-09 12:52] j-haj commented on #24
@budziq Done! see #324. It appears you may have to add the labels

[2017-10-09 12:59] budziq commented on #324
Initial ideas by @j-haj
Here are some ideas to start us off:

- [ ] Compute elapsed time to execute a segment of code
- [ ] Display formatted date and time using RFC 2822, RFC 3339, and custom formats
- [ ] Create a `DateTime` struct from input using RFC 2822, RFC 3339, and custom formats
- [ ] Example showing checked arithmetic using dates
- [ ] Example showing use of functions from the [`Datelik

[2017-10-09 15:15] ludwigpacifici commented on #168
I think it's always good to compare it with what already exists, I am aware of [Clojure Cookbook](https://github.com/clojure-cookbook/clojure-cookbook). From the first line of their README.md:

Then [searching "cookbook" in O'Reilly](https://ssearch.oreilly.com/?q=cookbook) shows that there is a clear pattern among writers for this kind of book: "cookbook" is a list of "recipes" to solve programmi

[2017-10-09 21:31] budziq commented on #291
Merged!

[2017-10-09 21:31] #291 closed

[2017-10-10 08:58] Phaiax opened #327 "Problem with discovery of Hidden Lines (error-chain boilerplate)"
All the examples hide the `error_chain` functionality behind the hidden lines feature.

I stumbled upon this myself when I first tried the cookbook, and [someone on reddit](https://www.reddit.com/r/rust/comments/75am4v/rust_cookbook_outdated/) also did.

It should be simple to write a piece of javascript that alerts the user of this hidden lines feature as soon as he copies a snippet. It could tri

[2017-10-10 12:46] j-haj commented on #294
I'm starting to get into the weeds on this and before I go too deep I thought I should get some clarification here... What is the overall goal of this issue? Are we trying to create library that is dynamically linked to or are we simply creating a dynamic object which is then statically compiled into the executable? Specifically, there is a subtle difference between a shared object and a shared li

[2017-10-10 13:44] ludwigpacifici commented on #327
This issue looks similar to #263 ?

I copy paste the feedback from the reddit link (in case the post is deleted):

[2017-10-10 20:40] budziq commented on #272
@danielpclark Thanks for an explanation!

No worries and no pressure, neither do I. That is why there are so little concurrency examples to date ;)

It will be an extremely hard question to answer. Rust being general purpose language attracts users from a very broad spectrum (webdev, embedded, server, and many more, recently even some HPC folks started to take interest).

The best we can do here i

[2017-10-10 20:59] budziq commented on #263
closing as duplicate exists with with some discussion. I'll copy the conversation there.

[2017-10-10 20:59] #263 closed

[2017-10-10 22:42] budziq commented on #327
Yep its a duplicate of #263 by @isaacg1 . Ive copied the highlights from it and closed the older issue to give the problem a little more priority.

Thanks for taking initiative @Phaiax and @ludwigpacifici and good ideas!
Originally I was thinking about:
- having some onetime popup pointing to the snippet buttonbar with explanations
- possibly blinking the buttons on load (on first load/on snippet

[2017-10-10 23:02] budziq commented on #246
As discussed on [reddit](https://www.reddit.com/r/rust/comments/75am4v/rust_cookbook_outdated/) we might be interested in:
- making the snippet buttons more discoverable
- adding some form of cargo.toml preview for given snippet (button with poppup? markdown collapsible content?)

[2017-10-11 00:29] jaroslaw-weber commented on #327
how about "how to navigate" on top of main page?

[2017-10-11 08:55] budziq commented on #294
We would be interested in linking to a full blown external shared library (probably the title could be more descriptive). So we just assume existence of some *.so file with given symbols.

 As you have noticed the cc crate does not seam to provide a way to create a *.so file (although we might drop a note about it in their bugtracker as the feature would be desirable and their docs are not perfect

[2017-10-11 09:44] j-haj commented on #294
Thanks for the links @budziq ! Very useful info. I'll follow-up with the cc team.

[2017-10-11 14:51] budziq commented on #327
That along with some improvement on each snippet might be the best course of action
The expand button is explained deep down in the [about.html -> a note about error handling](https://rust-lang-nursery.github.io/rust-cookbook/about.html#a-note-about-error-handling) which is probably skipped by 99% of the readers...

[2017-10-11 15:41] ludwigpacifici commented on #215
Hello @budziq

Once  #325 is done, I can have a look at this one?

[2017-10-11 17:52] j-haj commented on #294
See this [issue](https://github.com/alexcrichton/cc-rs/issues/250#issuecomment-335891469) from the `cc` crate. Alex mentions it wasn't the intention of the `cc` crate to build shared libraries.  Given this info, it seems we should close this issue and remove this as a recipe for the cookbook. What are your thoughts @budziq ?

[2017-10-11 18:24] Phaiax commented on #327
I'll do some POC

[2017-10-11 19:23] budziq commented on #294
Not necessarily. We can still:
- build a static  library whose only contents are link against *.so using [`object`](https://docs.rs/cc/1.0.0/cc/struct.Build.html#method.object) - it might be a little contrived
- link directly with *.so without cc crate, using only the [facilities given by cargo](http://doc.crates.io/build-script.html#outputs-of-the-build-script) `cargo:rustc-link-lib=dylib=foo`

T

[2017-10-11 21:58] ludwigpacifici commented on #327
Why not make the [hidden text selectable and copyable](https://stackoverflow.com/questions/37926864/hide-text-but-have-it-show-up-if-copied-and-pasted-without-javascript)? Then, readers who are not familiar with the icons (copy, run and expand code) can still use the default (and widely used) copy/paste and it will work when pasted into the editor/IDE.

Example from the stackoverflow link

Html:
[

[2017-10-11 22:41] budziq commented on #327
trying to use this with hljs might be more than tricky but with clipboard.js (that we already use for copy button) we might be able to modify users selection buffer (personally I'd prefer just auto expanding of the whole snippet if user stsrts to click/select as it would be less intrusive).

[2017-10-12 00:44] fintelia commented on #327
More basic question: is it actually necessary to have two version of the examples at all? It would be vastly simpler to have just one and in the samples that i looked at, the only difference seemed to be error_chain code, which could be removed just by switching to the two argument version of Result (which would also probably be less confusing to new users).

[2017-10-12 09:11] budziq commented on #327
@fintelia there is always a tradeoff between conciseness and ergonomy. While the mentioned std example would yield to that reasoning, in most  multi-crate examples (or even single-crate +std ones) where error boilerplate without error_chain would be longer than the example itself. And this verbose and almost identical boilerplate would be repeated 70+ times throughout the cookbook.

But yeah, cert

[2017-10-12 09:35] jaroslaw-weber commented on #327
about.html is probably skipped by most people. we probably should make shorter version.

[2017-10-12 10:22] j-haj commented on #294
Great points. I think the latter might be more interesting. To that end, it might be worth having a separate section for cargo with various recipes that show what you can do with cargo (e.g., linking to a shared lib). The main takeaways I got from the book with regards to cargo were creating binary and library projects, and the commands `cargo run`, `cargo build`, and `cargo test`. Looking through

[2017-10-12 12:06] jbolila commented on #93
I can progress this if no one is currently working on it. And handle to specific cases.

- Standard `Retry-After` https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.37
- and custom Github https://developer.github.com/v3/rate_limit/
- or in alternative https://developer.twitter.com/en/docs/ads/general/guides/rate-limiting

[2017-10-12 14:12] konstin commented on #93
I'd suggest implementing just one version with a comment that you can do all the other ways easily by adapting that code.

[2017-10-12 16:26] budziq opened #328 "have a FFI chapter?"
We already have a budding [build tools chapter](https://rust-lang-nursery.github.io/rust-cookbook/build_tools.html) mostly established to showcase build time crates like [cc](https://crates.io/crates/cc). My feeling is that we could go further with this formula and expand it to (or suplement it with) a full blown chapter dedicated to various rust ffi stories (calling rust, calling from rust, gener

[2017-10-12 16:32] budziq commented on #294
@j-haj I feel that this example is stepping (possibly neck deep) into a FFI territory that is quite scattered in the rust landscape. For now I've marked this as "needs clarification" and created an [issue to gather some opinions]( https://github.com/rust-lang-nursery/rust-cookbook/issues/328) here before we proceed here.

[2017-10-12 17:00] j-haj commented on #272
Any interest in parallel search using [`findy_any`](https://docs.rs/rayon/*/rayon/iter/trait.ParallelIterator.html#method.find_any) or [`any`](https://docs.rs/rayon/0.8.2/rayon/iter/trait.ParallelIterator.html#method.any)? The examples may be trivially small but nonetheless I think useful. If there is interest, I am happy to work on this.

[2017-10-12 17:08] jbolila commented on #93
In that case `Retry-After` (support in Hyper https://github.com/hyperium/hyper/pull/998) or the Custom headers of one the other two APIs?

Another question is about how this will be tested, since httpbin.org doesn't have a way to test this, and the other ones require an user account (not an issue during the implementation, but).

[2017-10-12 17:15] budziq commented on #272
@j-haj I'd say certainly yes on both accounts! If I were to showcase `any` id also show `all`.

Just propose the working titles of both examples and we are ready to go. I'll create the issues. :+1:

[2017-10-12 17:29] budziq opened #329 "Add "Parallel map reduce" example"
Showcase a basic map-reduce scheme with [rayon](https://crates.io/crates/rayon) crate.

Please discuss the idea here before starting implementation.
cc https://github.com/rust-lang-nursery/rust-cookbook/issues/272

[2017-10-12 17:40] budziq opened #330 "Add "Search unordered items in parallel" example"
Showcase [`find_any`](https://docs.rs/rayon/*/rayon/iter/trait.ParallelIterator.html#method.find_any) with [rayon](https://crates.io/crates/rayon) crate.

Please discuss the idea here before starting implementation.
cc https://github.com/rust-lang-nursery/rust-cookbook/issues/272

[2017-10-12 17:43] budziq opened #331 "Add "Test if all/any items match predicate in parallel" example"
Showcase a [`any`](https://docs.rs/rayon/*/rayon/iter/trait.ParallelIterator.html#method.any) and [`all`](https://docs.rs/rayon/*/rayon/iter/trait.ParallelIterator.html#method.all) with [rayon](https://crates.io/crates/rayon) crate.

Please discuss the idea here before starting implementation.
cc https://github.com/rust-lang-nursery/rust-cookbook/issues/272

[2017-10-12 18:05] budziq commented on #93
Personally I would go with github api. It's rate limited (the limit is much stricter if unauthorized)

[2017-10-12 18:19] Michael-F-Bryan commented on #328
It'd probably take more than a couple snippets to explain how to do FFI without shooting yourself in the foot. I originally started my little guide to help jot down the things I learned while integrating a Rust DLL into a large legacy application at work and (at the time) couldn't find any resources which explain FFI further than a trivial hello world.

Off the top of my head here are a couple top